<ion-view>
    <ion-content>      
        <div  style="margin-top:10px;"></div>
        <div  style="background-color:rgba(237, 227, 227, 0.81)">
        <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold;">
      FieldForce Name
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.FieldForceName}}
  </div>
</div>
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     EmpCode
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.EmpCode}}
  </div>
</div>     
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     HQ
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.HQ}}
  </div>
</div>     
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Designation
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.Designation}}
  </div>
</div>    
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Reason
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.Reason||"-----"}}
  </div>
</div>    
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Address
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.Address||"-----"}}
  </div>
</div>   
         <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     From Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.From_Date}}
  </div>
</div>    
          <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     To Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.To_Date}}
  </div>
</div> 
        
          <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold">
    Leave Days
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{LA.LeaveDays}}
  </div>
</div>      
                      <div class="row" ng-if="rejection==1">
  <div class="col col-50" style="color:black;font-weight:bold">
    Reason
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
     <textarea ng-model="data.reason" rows="2" placeholder="Reason For Reject" class="textarea-css" ng-click="vibrate();">                     

                </textarea>
  </div>
</div>      
               
        <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold;">
   <button class="button button-small button-calm" style="float:right" ng-click="approve()">Approve</button>
  </div>
  <div class="col col-50" style="color:black;font-weight:bold">
     <button class="button button-small  button-assertive" ng-if="rejection==1"  ng-click="rejSend()">Send For FieldForce</button>

    <button class="button button-small  button-assertive" ng-if="rejection==0" ng-click="reject()">Reject</button>
  </div>
</div></div>        
</ion-content>
   <ion-footer-bar class="bar-dark">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
    </ion-footer-bar>
</ion-view>