<ion-view>
    <ion-content style="background-color:#f6eeee;">
        <div class="card Tbrd" ng-repeat="x in TPSf"   ng-if="view_MR==0">
            <h4 style="color:#39ac08;"> {{x.Tour_Date}}<span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{x.Worktype_Name_B}}</span></h4>
           <div class="propCase" ng-if="x.Worktype_Name_B=='Field Work'">HeadQuarters : <b style="color:#4800ff">{{x.Worked_With_SF_Name}}</b></div>
               <div class="propCase" ng-if="x.Worktype_Name_B=='Field Work'">Worked At : <b style="color:#4800ff">{{x.Territory_Code1}}</b></div>
            <p class="propCase rmks">{{x.Objective}}</p>
            </div>
         <div class="card Tbrd" ng-repeat="x in TPSf" ng-if="view_MR==1">
            <h4 style="color:#39ac08;"> {{x.Tour_Date}}<span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{x.Worktype_Name_B}}</span></h4>
            <div class="propCase" ng-if="x.Worktype_Name_B=='Field Work'">Worked At : <b style="color:#4800ff">{{x.Territory_Code1}}</b></div>
                <p class="propCase rmks">{{x.Objective}}</p>
            </div>
     </div>   
    </ion-content>
   <ion-footer-bar class="bar-dark" >
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
          <div ng-if="rejection==1">
        <textarea ng-model="data.reason"  rows="5"  style="float:left" placeholder="Reason For Reject" class="textarea-css" ng-click="vibrate();">                     

                </textarea></div>
            <button class="button  button-assertive pull-left" ng-click="vibrate();
      rejSend()" ng-if="rejection==1"  ng-click="rejSend()">Send</button>
      
    <button class="button  button-assertive pull-left" ng-click="vibrate();
      reject()" ng-if="rejection==0"  ng-click="reject()">Reject</button>
         <button class="button button-balanced pull-right" ng-click="vibrate();
            approve()">Approve
            </button>
        </ion-footer-bar>
</ion-view>