#year-calendar p {
    font-size: 24pt;
    text-align: center;
    padding: 0;
    margin: 0;
}

#date-range {
    font-size: 12pt;
    text-align: center;
}

#year {
   
    font-size: 24pt;
    text-align: center;
    padding: 0;
    margin: 0;
    max-height: 1em;
}

    #year ul {
        display: inline-block;
        text-align: center;
        padding: 0;
        margin: 0;
    }

        #year ul li {
            float: left;
            list-style-type: none;
            padding-left: 6pt;
            padding-right: 6pt;
            margin: 0;
        }

            #year ul li.selected-year {
                font-size: 36pt;
            }

#year-calendar table {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    padding-left: 1em;
    padding-bottom: 1em;
    float: left;
    text-align: center;
    height: 15em;
    border-collapse: collapse;
    margin-right: 2em;
    margin-top: 2em;
}

#year-calendar th, #year-calendar td {
    padding: 4px;
    transition: all 0.3s ease;
}

#year-calendar tbody td:first-child, #year-calendar tbody td:last-child {
    background: #F5F5F5;
}

#year-calendar thead {
    font-weight: bold;
    text-transform: capitalize;
}

#year li:hover, p:hover, #year-calendar td.day:hover, #year-calendar th.month_name:hover {
    background: gray !important;
    color: white !important;
}

#year-calendar th.month_name {
    text-align: Center;
    background: #7f90f2;
    color: white;
}

  #year-calendar   th.month_name.current {
        color: #CB6C6B;
        border-bottom: 2px #CB6C6B solid;
        padding-bottom: 0px;
    }

#year-calendar th.current {
    color: #CB6C6B;
}

#year-calendar td.current {
    background-color: #CB6C6B;
    color: white;
}

#year-calendar td.selected {
    background-color: #ADCEF3 !important;
    color: black !important;
}
#year-calendar .sel{
    background-color: #ADCEF3 !important;
    color: black !important;
}