BODY
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 10pt;
    BACKGROUND-IMAGE: url(../Images/abcd.jpg);
    SCROLLBAR-HIGHLIGHT-COLOR: saddlebrown;
    MARGIN-LEFT: 0px;
    SCROLLBAR-SHADOW-COLOR: aliceblue;
    SCROLLBAR-3DLIGHT-COLOR: honeydew;
    MARGIN-RIGHT: 0px;
    SCROLLBAR-ARROW-COLOR: blue;
    SCROLLBAR-TRACK-COLOR: lightblue;
    SCROLLBAR-DARKSHADOW-COLOR: saddlebrown;
    width: 100%; 
    height: 100%; 
}

.verticaltext
{
 font: 10px Tahoma;writing-mode: tb-rl; vertical-align:top;
 background-color:#ebe7ee; text-align:center;  
}
.bluelinks
{
 
	color:#666666;
	font-size:10px;
	text-decoration:none;
 }
 .bluelinks:hover
{
	color:#FF3333;
	text-decoration:overline;
}

.RptHead
{
	 FONT-SIZE: small;
    COLOR: black;
    FONT-FAMILY: MS Sans Serif
}

INPUT.ButtonVal
{
	FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    FONT-FAMILY: MS Sans Serif
}
INPUT.ButtonVals
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana
    Color:Red;
    BACKGROUND-COLOR: #b7e3ff
}
INPUT.ButtonVals1
{
    FONT-SIZE: 3pt;
    FONT-FAMILY: Arial Narrow
    Color:Red;
    BACKGROUND-COLOR: #b7e3ff
}
.tNoBodP
{
	border: none 1px white;
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
}
.tNoBodQ
{
	border: none 1px white;
	background-color: Transparent;
	font-family: Verdana;
	font-size: 11px;
}
.ButED
{
	font-weight: bold;
	font-size: small ;
	font-family: MS Sans Serif;
}
table.TBCLS
{
	border-collapse: collapse;
	border-width: 1px;
	border-color: #CCCFD1;
	font-size:xx-small;
}
table.TBCLS th
{
	text-align: center;
	font-weight: bold;
	font-size: small ;
	border-style: solid;
	border-width: 1px;
	background: #A5D7F8;
}
table.TBCLS tr:hover
{
	background-color: #FFFFE1;
}
table.TBCLS tr
{
	background-color: #EFF3FB;
}
.DcrDispHPadFix
{
    BORDER-RIGHT: 1px solid black;
    border-width:1px;
    BORDER-TOP: 1px solid black;
    BORDER-LEFT: 1px solid black;
    BORDER-BOTTOM: 1px solid black;
    border-color:#C3C3C3;
    BACKGROUND-COLOR: #ededea;
    margin:0px 0px 0px 0px;
   
}
INPUT
{
    FONT-SIZE: xx-small;
    COLOR: #003399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SELECT
{
    FONT-SIZE: xx-small;
    COLOR: #003399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

table.TBCLS td:hover
{
	background-color: #FDFDC7;
}

table.TBCLS .tdSel
{
	background-color: White;
}
table.TBCLS .tdUnSel
{
	background-color: #EFF3FB;
}
table.TBCLS .tdcls
{
	background-color: #EFF3FB;
}
table.TBCLS .tdcls:hover
{
	background-color: #FFFFE1;
}

table.TBCLS td
{
	border-style: solid;
	border-width: 1px;
	font-family: Verdana;
	font-size: 11px;
}


INPUT.BtnSave
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    COLOR: #f0f8ff;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #000000;
    TEXT-DECORATION: blink
}
INPUT.Btnsave1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    BACKGROUND-IMAGE: url(../Images/Button.gif);
    BORDER-LEFT: medium none;
    WIDTH: 20px;
    COLOR: #000000;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: 'Times New Roman';
    HEIGHT: 23px
}
INPUT.Checkbox
{
    VISIBILITY: visible;
    VERTICAL-ALIGN: baseline
}
INPUT.Radio
{
    VISIBILITY: visible;
    VERTICAL-ALIGN: baseline
}
SELECT.Listbox
{
    BORDER-RIGHT: groove;
    BORDER-TOP: groove;
    FONT-SIZE: xx-small;
    BORDER-LEFT: groove;
    WIDTH: 250px;
    COLOR: black;
    BORDER-BOTTOM: groove;
    FONT-FAMILY: 'MS Sans Serif', Arial;
    HEIGHT: 80px
}
.Textbox
{
    FONT-SIZE: xx-small;
    COLOR: black;
    BORDER-TOP-STYLE: groove;
    BORDER-RIGHT-STYLE: groove;
    BORDER-LEFT-STYLE: groove;
    HEIGHT: 18px;
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM-STYLE: groove
}
INPUT.Textbox
{
    FONT-SIZE: xx-small;
    COLOR: black;
    BORDER-TOP-STYLE: groove;
    BORDER-RIGHT-STYLE: groove;
    BORDER-LEFT-STYLE: groove;
    HEIGHT: 18px;
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM-STYLE: groove
}
INPUT.LikeLabel
{
    BORDER-RIGHT: blue;
    BORDER-TOP: blue;
    FONT-SIZE: xx-small;
    BORDER-LEFT: blue;
    BORDER-BOTTOM: blue;
    BACKGROUND-COLOR: transparent
}
SELECT.ComboValue
{
    FONT-SIZE: xx-small;
    COLOR: #000000;
    BORDER-TOP-STYLE: groove;
    FONT-FAMILY: MS Sans Serif,Arial;
    BORDER-RIGHT-STYLE: groove;
    BORDER-LEFT-STYLE: groove;
    HEIGHT: 18px;
    BORDER-BOTTOM-STYLE: groove
}
.SubSubheading
{
    FONT-SIZE: xx-small;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: transparent
}
B.Heading
{
    FONT-SIZE: x-small ;COLOR: black;FONT-FAMILY: 'Verdana';
}
.SubHeading
{
    FONT-SIZE: x-small;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: transparent
}
FONT.Heading
{
    FONT-SIZE: x-small;
    COLOR: black;
    font-weight:bold;
    FONT-FAMILY: Verdana
}
FONT.Print
{
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: Verdana
}
FONT.PrintNew
{
    FONT-SIZE: 6pt;
    COLOR: black;
    FONT-FAMILY: Verdana
}
FONT.Subheading
{
    FONT-SIZE: xx-small;
    COLOR: black;
    FONT-FAMILY: Verdana
}
FONT.ListView
{
    FONT-SIZE: 9pt;
    COLOR: #710000;
    FONT-FAMILY: MS Sans Serif
}
FONT.SmallFont
{
    FONT-SIZE: 9px;
    COLOR: black;
    FONT-FAMILY: Verdana
}
TEXTAREA.TextAreaVal
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: xx-small;
    VERTICAL-ALIGN: baseline;
    BORDER-TOP-STYLE: groove;
    FONT-FAMILY: MS Sans Serif;
    BORDER-RIGHT-STYLE: groove;
    BORDER-LEFT-STYLE: groove;
    LIST-STYLE-TYPE: square;
    TEXT-ALIGN: left;
    BORDER-BOTTOM-STYLE: groove
}
OPTION.Heading
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: xx-small;
    BACKGROUND-COLOR: #ffffff
}
.Next
{
    FONT-SIZE: 7pt;
    CURSOR: hand;
    COLOR: green;
    FONT-FAMILY: Verdana
}
.NextOver
{
    FONT-SIZE: 7pt;
    CURSOR: hand;
    COLOR: teal;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: overline
}
DIV.div
{
    FONT-SIZE: x-large;
    COLOR: teal;
    BACKGROUND-COLOR: lavender
}
IMG.pic
{
    COLOR: maroon;
    BACKGROUND-COLOR: silver
}
FORM.BgColor
{
    BACKGROUND-COLOR: #ffeef4
}
SELECT.Combolabel
{
    FONT-SIZE: xx-small;
    BORDER-LEFT-COLOR: #ffffff;
    BORDER-BOTTOM-COLOR: #ffffff;
    COLOR: #000000;
    BORDER-TOP-COLOR: #ffffff;
    FONT-FAMILY: MS Sans Serif,Arial;
    BACKGROUND-COLOR: #ffffff;
    BORDER-RIGHT-COLOR: #ffffff
}
INPUT.LikeLabelFont
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 9px;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #ffffcc;
    BORDER-BOTTOM-STYLE: none
}
INPUT.ButSave
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: medium;
    BORDER-LEFT: 0px;
    COLOR: #f0f8ff;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #330099;
    TEXT-DECORATION: blink
}
SELECT.SmallCombo
{
    FONT-SIZE: xx-small;
    FONT-FAMILY: 'Microsoft Sans Serif', Arial;
    HEIGHT: 15pt
}
.Small
{
    FONT-SIZE: xx-small;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: 'Microsoft Sans Serif', Arial
}
.frame
{
    ALIGN: right;
    SCROLLING: YES
}
TD.TRow
{
    FONT-SIZE: 12px;
    COLOR: black;
    TEXT-DECORATION: underline
}
TEXTAREA.TextAreaOther
{
    FONT-SIZE: xx-small;
    WIDTH: 200px;
    COLOR: red;
    FONT-FAMILY: Arial;
    HEIGHT: 55px;
    BACKGROUND-COLOR: lavenderblush
}
.DcrHPadRl
{	BORDER-left: 1px outset;
	BORDER-BOTTOM: 1px outset;
    BACKGROUND-COLOR: #ededea}
.DcrHPadNl
{	BORDER-BOTTOM: 1px outset;
    BACKGROUND-COLOR: #F0F7FC;

}
.DCRFont
{
    FONT-SIZE: xx-small;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.DCRHFont
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: xx-small;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.DCRBTF
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: x-small;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.DCRTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.DcrDispHPad
{
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-BOTTOM: 1px outset;
    POSITION: absolute;
    BACKGROUND-COLOR: #ededea
}
.DcrDispHPadFixNB
{
	
    BORDER-RIGHT: 0px outset;
    BORDER-TOP: 0px outset;
    BORDER-LEFT: 0px outset;
    BORDER-BOTTOM: 0px outset;
    BACKGROUND-COLOR: #ededea
}
.DcrDispHPadFix
{
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-BOTTOM: 1px outset;
    BACKGROUND-COLOR: #ededea
}
.DcrTagTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    LEFT: 10%;
    WIDTH: 90px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Verdana;
    POSITION: absolute;
    TOP: 50%;
    TEXT-ALIGN: center
}
.DcrImg
{
    WIDTH: 110px;
    CURSOR: hand;
    POSITION: absolute;
    HEIGHT: 33px
}
.DcrHDiv
{
    WIDTH: 49px;
    POSITION: absolute;
    TOP: 60px;
    HEIGHT: 19px
}
.GridHead
{
    BORDER-RIGHT: 0.2pt outset;
    BORDER-TOP: 0.2pt outset;
    FONT-SIZE: xx-small;
    BORDER-LEFT: 0.2pt outset;
    COLOR: black;
    BORDER-BOTTOM: 0.2pt outset;
    FONT-FAMILY: Verdana;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #d4d0c8
}
.NewBtn
{
    BORDER-RIGHT: 0.2pt outset;
    BORDER-TOP: 0.2pt outset;
    FONT-SIZE: xx-small;
    BORDER-LEFT: 0.2pt outset;
    COLOR: black;
    BORDER-BOTTOM: 0.2pt outset;
    FONT-FAMILY: Verdana;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #1D578F;
}
.GridHeadAutoSC
{
    BORDER-RIGHT: 0.2pt outset;
    BORDER-TOP: 0.2pt outset;
    FONT-SIZE: xx-small;
    BORDER-LEFT: 0.2pt outset;
    COLOR: blue;
    BORDER-BOTTOM: 0.2pt outset;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #d4d0c8
}
.GridRow
{
    BORDER-RIGHT: 1px solid;
    FONT-SIZE: 7pt;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Verdana
}
.DcrEntryWin
{
    BORDER-RIGHT: 1px inset;
    BORDER-TOP: 1px inset;
    BORDER-LEFT: 1px inset;
    WIDTH: 100%;
    BORDER-BOTTOM: 1px inset;
    POSITION: absolute;
    TOP: 7px;
    HEIGHT: 99.5%;
    BACKGROUND-COLOR: white
}
.RemText
{
    BORDER-RIGHT: darkgray 1pt solid;
    BORDER-TOP: darkgray 1pt solid;
    FONT-SIZE: xx-small;
    BORDER-LEFT: darkgray 1pt solid;
    COLOR: black;
    BORDER-BOTTOM: darkgray 1pt solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.GridHeadC
{
    BORDER-RIGHT: 0.1pt outset;
    BORDER-TOP: 0.1pt outset;
    FONT-SIZE: xx-small;
    BORDER-LEFT: 0.1pt outset;
    COLOR: black;
    BORDER-BOTTOM: 0.1pt outset;
    FONT-FAMILY: Verdana;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #d4d0c8;
    TEXT-ALIGN: center
}
.print
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana
}
.PrintSmall
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana;
    FONT-VARIANT: small-caps
}
TEXTAREA.LikeLbl
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    OVERFLOW: auto;
    BORDER-LEFT: medium none;
    COLOR: #003399;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: transparent
}
.ScrollSmall
{
    FONT: 8pt/10pt Courier New;
    CURSOR: default;
    COLOR: threeddarkshadow
}
.ScrollLarge
{
    FONT: 10pt/11pt Arial;
    CURSOR: default;
    COLOR: threeddarkshadow
}
.itemImage
{
    DISPLAY: inline-block;
    MARGIN: 0px 0px 3px 0px;
    VERTICAL-ALIGN: middle;
    OVERFLOW: hidden;
    WIDTH: 20px;
    HEIGHT:14px
}
.itemImage1
{
    DISPLAY: inline-block;
    MARGIN: 0px 0px 3px 0px;
    VERTICAL-ALIGN: middle;
    OVERFLOW: hidden;
    WIDTH: 20px;
    HEIGHT:18px
}
.addPanel
{
	background-color: #E9EBEE;
	 
	
}
.PgBr
{
    PAGE-BREAK-AFTER: always
}
.CheckBoxStyle .itemMarker
{
    BACKGROUND-IMAGE: url(../images/checkbox.png)
}
.itemMarker
{
    DISPLAY: inline-block;
    VERTICAL-ALIGN: middle;
    OVERFLOW: hidden;
    WIDTH: 14px;
    MARGIN-RIGHT: 4px;
    HEIGHT: 14px
}
.POPMnu
{
    BORDER-RIGHT: black 1px groove;
    BORDER-TOP: black 1px groove;
    FONT-SIZE: xx-small;
    LEFT: 10%;
    BORDER-LEFT: black 1px groove;
    WIDTH: 220px;
    BORDER-BOTTOM: black 1px groove;
    FONT-FAMILY: Tahoma;
    POSITION: absolute;
    TOP: 20%;
    BACKGROUND-COLOR: #f2f2f2
}
.POPMnuFnt
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Segoe UI
}
.LoadMsg
{
	POSITION: absolute;	
	text-align:center;
	vertical-align:middle;
	border: solid 1px #000000;
	background-color:#ededea;
}
.Hprint
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana;
   /* border-top:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;*/
       
}
TABLE
{
    border-collapse:collapse
}


.Tab{	 background-color:#F0F7FC;
FONT-SIZE: 7pt;FONT-FAMILY: Verdana;height:20px}
.CntS{width:99.50%;height:85%;vertical-align:top;background:white;border-left:solid 1px;border-right:solid 1px;border-bottom:solid 1px;}
.SchW{position:absolute;left:5%;top:5%;width:80%;height:80%;vertical-align:top;background:white;border-left:solid 1px;border-right:solid 1px;border-bottom:solid 1px;overflow:auto;}
.CntInA{position:absolute;width:100%;vertical-align:top;overflow:auto;}
.SHH{position:absolute;display:none;}
.SHS{position:absolute;width:350px;border :solid 1px;left:35%;top:15%;background-color:white;}
.GH{display:inline-block;line-height:18px;BORDER-RIGHT: 0.1pt outset LightGray;BORDER-TOP: 0.1pt outset LightGray;FONT-SIZE: xx-small;BORDER-LEFT: 0.1pt outset LightGray;COLOR: black;BORDER-BOTTOM: 0.1pt outset ;FONT-FAMILY: Verdana;HEIGHT: 20px;BACKGROUND-COLOR: #A5D7F8;white-space:nowrap;}
.VI{margin:0px;vertical-align:middle;display:inline-block;white-space:normal;word-wrap:break-word}
.GR{display:block;position:relative;overflow:hidden;width:100%;height:20px;-moz-outline:none}
.GI{display:inline-block;margin:0px;height:15px;overflow:hidden;}
.mV{height:20px;line-height:20px;width:100%;}
.mL{display:inline-block;margin-top:2px;font-size:2px;width:100%;border-top:solid 1px;marker-offset:auto }
.mBx{width:100%;height:100%;margin:2px;}


 .Header
            {
                cursor:default;
                color:White;
                background-color:Green;
                font-weight:bold;
                border:solid 0px Grey;
                
            }         .HeaderPrint
            {
                cursor:default;
                FONT-SIZE: 8pt;
                font-weight:bold ;
                color:White;
                background-color:Green;
				FONT-FAMILY: Verdana;
                border:solid 0px Grey;
                
            }
            table.TBRpt
{
	border-collapse: collapse;
	border-width: 1px;
	border-color: #E4E4E4;
}
table.TBRpt th
{
	font-weight: bold;
	font-size: xx-small;
	font-family: Verdana;
	border-style: double;
	border-width: 1px;
	background-color: #ffefd5;

}

table.TBRpt td
{
	border-style: double;
	border-width: 1px;
	font-family: Verdana;
	font-size:xx-small ;
	color: #400000;
	
}

table.TBCLS
{
	border-collapse: collapse;
	border-width: 1px;
	border-color: #CCCFD1;
}
table.TBCLS th
{
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	background: #86AEFC;
	color: WHITE;
}
table.TBCLS tr:hover
{
	background-color: #FFFFE1;
}

table.TBCLS td:hover
{
	background-color: #FDFDC7;
}


table.TBCLS .tdcls
{
	background-color: #EFF3FB;
}
table.TBCLS .tdcls:hover
{
	background-color: #FFFFE1;
}

.PageStyle
{
  padding:6px;
  margin-top:400px;
   
        
}
table.TBCLS td
{
	
	border-style: solid;
	border-width: 1px;
	font-family: Verdana;
	font-size: 11px;
}
.PageStyle
{
    margin-bottom:0px;
    
}

.mGrid .pgr {background: #A6A6D2; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; text-align:left; border-left: solid 0px #666; font-weight: bold; color: Red; line-height: 12px; }   
    .mGrid .pgr th { background: #A6A6D2;}
    .mGrid .pgr a { color: Blue;  text-decoration: none; }
    .mGrid .pgr a:hover { color: White; text-decoration: none; }
