
<ion-view>
    <ion-content>
        <table class=" pure-skin-mine pure-table" >
            <tr>
                
                <th>S,No</th>               
                <th>{{(myChoice | getValueforIDD : {'collection' : customers}).name }} Name</th>               
                <th>Joint Work</th>
                <th>Meet Time</th>
                <th>Modified Time</th>
                <th>POB</th>
                <th>Products</th>
                <th>Inputs</th>
                <th>Call FeedBack</th>
                <th>Remarks</th>              
                <!--<th>Location</th>-->
              
            </tr>
            <tr ng-repeat="draft in drafts | filter: { customer : myChoice }" ng-show="draft.customer.selected.id == myChoice" >
                <td>
                    {{$index+1}}
                </td>
                <td>
                    <div ng-if="draft.doctor">

                        {{(draft.doctor.selected.id| getValueforIDD : {'collection' : customerDatas}).name }},
                         {{(draft.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name }}

                    </div>
                    <div ng-if="draft.stockist">

                        {{(draft.stockist.selected.id| getValueforIDD : {'collection' : customerDatas}).name }},
                         {{(draft.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name }}

                    </div>
                    <div ng-if="draft.chemist">

                        {{(draft.chemist.selected.id| getValueforIDD : {'collection' : customerDatas}).name }},
                         {{(draft.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name }}

                    </div>
                    <div  ng-if="draft.uldoctor">

                        {{(draft.uldoctor.selected.id| getValueforIDD : {'collection' : customerDatas}).name }},
                         {{(draft.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name }}

                    </div>

                </td>
                 <td>
                    <span ng-repeat="jointSelection in draft.jontWorkSelectedList">
                        {{(jointSelection.jointwork| getValueforIDD : {'collection' : jointworks}).name}}
                        <span ng-if=!$last>,<br /></span>
                    </span>

                </td>
                <td>
                    <div>
                        {{draft.entryDate| date:'medium'}}
                    </div>
                </td>
               
                <td>
                    <div>
                        {{draft.modifiedDate| date:'medium'}}
                    </div>
                </td>
               
                <td>
                    <div>
                        {{draft.pob}}
                    </div>
                </td>
                <td>
                     <div ng-repeat="productSelection in draft.productSelectedList">
                     
                           
                                {{(productSelection.product| getValueforIDD : {'collection' :products}).name}}-{{productSelection.rx_qty|| 0}},{{productSelection.sample_qty}}
                                 <span ng-if=!$last><br /></span>
                    </div>       
                </td>
                <td>
                     <div ng-repeat="giftSelection in draft.giftSelectedList">
                     
                           
                               {{(giftSelection.gift| getValueforIDD : {'collection' : gifts}).name}}-{{giftSelection.sample_qty}}
                                 <span ng-if=!$last><br /></span>
                    </div>       
                </td>
                 <td>
                    <div ng-if="draft.rx">
                       {{(draft.rx_t| getValueforIDD : {'collection' : reportTemplates}).name }}
                    </div>
                    <div ng-if="!draft.rx">
                       {{(draft.nrx_t| getValueforIDD : {'collection' : nonreportTemplates}).name }}
                    </div>
                </td>
         
                <td>
                    <div>
                          {{draft.remarks}}
                    </div>
                </td><!--
                <td>
                    <div>
                        <reverse-geocode latLng="{{draft.location}}" />
                    </div>
                </td>-->
               
            
            </tr>
        </table>       
    </ion-content>
</ion-view>