<ion-view>
    <ion-content>
        <div class="card" ng-if="nodata">
            <div class="item item-text-wrap">
                No Data Found
            </div>
        </div>
        <ion-list ng-if="success">
            <ion-item class="item item-divider">Call Report</ion-item>
            <ion-item href="#/fmcg/outboxView?myChoice={{customer.id}}" ng-repeat="customer in customers">
                {{customer.name}}
                <span class="badge badge-assertive" ng-if="customer.count">{{customer.count}}</span>
            </ion-item>
        </ion-list> 
        <div class="card" ng-if="owsuccess">
            <div class="item item-divider">
                {{(owTypeData.worktype_code | getValueforIDD : {'collection' : worktypes}).name }}

            </div>
            <div class="item item-text-wrap">
                <b>remarks</b> :{{owTypeData.daywise_remarks}}
            </div>
            <div class="button-bar">
                <a class="button button-assertive" ng-click="vibrate();deleteEntry()">Delete</a>
            </div>
        </div>  

        <ion-list ng-if="!nodata">
            <div ng-if="!nDtaRmks">
                <ion-item class="item item-divider">Day Activity Remark</ion-item>
                <ion-item style="font-size:small;padding:5px 16px;padding-left:23px;" ng-repeat="item in oxRmks">
                    Half Work : <b style="color:green">{{item.Halfday}}</b><br />
                    Remarks : <b style="color:green">{{item.remarks}}</b>
                </ion-item>
            </div>

            <div ng-if="!nDtaMyPL">
                <ion-item class="item item-divider">My Day Plan</ion-item>
                <ion-item style="font-size:small;padding:5px 16px;padding-left:23px;" ng-repeat="item in oxMyPln">
                    Work Type : <b style="color:green">{{(item.worktype | getValueforIDD : {'collection' : worktypes}).name }}</b><span class="item-note" style="font-size:4em;color:#cc2311;display:none" ng-click="vibrate();delOutbxMyPln(item)"><i class="ion-trash-a"></i></span><br />
                    Cluster : <b style="color:green">{{item.ClstrName}}</b><br />
                    Remarks : <b style="color:green">{{item.remarks}}</b>
                </ion-item>
            </div>
            <div ng-if="!nDtaRCPA">
                <ion-item class="item item-divider">Market Audit Entry(s)</ion-item>
                <ion-item style="font-size:small;padding:5px 16px;padding-left:23px;" ng-repeat="item in oxRCPA">
                    {{ChmCap}} : <b style="color:green">{{item.ChmName}}</b><span class="item-note" style="font-size:4em;color:#cc2311;" ng-click="vibrate();deleteOutbox(item)"><i class="ion-trash-a"></i></span><br />
                    {{DrCap}} : <b style="color:green">{{item.DrName}}</b><br />
                    Competitor : <b style="color:green">{{item.CmptrName}}</b>
                </ion-item>
            </div>
            <div ng-if="!nDtaRMCL">
                <ion-item class="item item-divider">Reminder Call(s)</ion-item>
                <ion-item style="font-size:small;padding:5px 16px;padding-left:23px;" ng-repeat="item in oxRMCL">
                    {{DrCap}} : <b style="color:green">{{item.DrName}}</b><span class="item-note" style="font-size:4em;color:#cc2311;" ng-click="vibrate();delOutbxRMCL(item)"><i class="ion-trash-a"></i></span><br />
                    Jointwork : <b style="color:green">{{item.JntWrkNms}}</b><br />
                    Product : <b style="color:green">{{item.ProdNms}}</b><br />
                    Remarks : <b style="color:green">{{item.Remark}}</b>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>