<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 style="text-align:left" class="caption title">Photos List <i style="font-size:x-small">( For this Entry Only )</i></h1>
        <button class="button buttonClear  button-positive pull-right" ng-click="vibrate();openCamera()">Take Photo</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in photosList" class="item item-thumbnail-left">
                <img src="{{item.imgData}}"><span class="item-note" style="font-size:4em;color:#cc2311;" ng-click="vibrate();deletePhoto(item)"><i class="ion-trash-a"></i></span>
                <h2><input type="text" ng-model="item.title" class="input-lbl-css" placeholder="Enter the Title" /></h2>
                <p><textarea ng-model="item.remarks" rows="2" placeholder="Enter the Remarks" class="input-lbl-css" style="font-size:medium" ng-click="vibrate();"></textarea></p>
                <div ng-show="item.progressVisible">
                    <div class="percent">{{item.uProgress}}%</div>
                    <div class="progress-bar">
                        <div class="uploaded" ng-style="{'width': item.uProgress+'%'}"></div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <button class="button button-clear button-primary" ng-click="vibrate();modalPhotos.hide();modalMnu.hide();">Close</button>
        <button class="button button-clear button-positive pull-right" style="width:90px;" ng-click="vibrate();setEvntCap();modalPhotos.hide()">Ok</button>
    </ion-footer-bar>
</div>
