<ion-view>

    <ion-content>
        <div class="list list-inset">
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.name" placeholder=" Name">     
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Contact Person Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.contact" placeholder="Contact Person Name">     
                    </div>
                </div>
            </div>
            <div class="select-component" style="padding:2px;height:160px">

                <div class="label">
                    <div class="label-text">Address</div>
                </div>
                <div class="select-box">
                    <textarea ng-model="data.address" rows="5" placeholder="Enter the Address" class="textarea-css" ng-click="vibrate();">                     

                    </textarea>
                </div>
            </div>

            <div class="select-component">
                <div class="label">
                    <div class="label-text">Mobile</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="number" class="input-css" ng-model="data.phone" placeholder="Enter the Phone No">     
                    </div>
                </div>
            </div>
    
             <div class="select-component">
                <div class="label">
                    <div class="label-text">District</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal(districts, 11)">
                            {{(fmcgData.district.selected.id| getValueforIDD : {'collection' : districts}).name || "Select District"}}
                        </div>
                    </div>
                </div>
            </div>
      
          
           
            <div class="select-component">
                <div class="label">
                    <div class="label-text">User Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.username" placeholder="Enter the User Name">     
                    </div>
                </div>
            </div>
  
                <div class="select-component">
                <div class="label">
                    <div class="label-text">Password</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="password" class="input-css" ng-model="data.password" placeholder="Enter the Password">     
                    </div>
                </div>
            </div>
  

        </div>

    </ion-content>

</ion-view>

<ion-footer-bar class="bar-dark">
    <button class="button buttonClear pull-left" ng-click="vibrate();
        goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>


    <button class="button buttonClear pull-right" ng-click="vibrate();
        save()">Save</button>
</ion-footer-bar>

