<ion-view>
    <ion-content>
        <div class="list list-inset">
            
            <div class="select-component" ng-hide="view_MR">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 103)">
                            {{(Mypln.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>
             <div class="select-component">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 104, Mypln.subordinate.selected.id)">
                            {{(Mypln.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Route</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 102, Mypln.subordinate.selected.id)">
                            {{(Mypln.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Cluster"  }}
                        </div>
                    </div>
                </div>
            </div>  
             <div>
               
                  <button class="button button-small button-balanced" style="float:right" ng-click="vibrate();
            addRetailor(0)">New
            </button>
                
                </div>
               <div class="select-component" ng-if="fmcgData.customer.selected">

                <div class="label">
                    <div class="label-text">{{(fmcgData.customer.selected.id| getValueforIDD : {'collection' : customers}).name}}</div>
                </div>
                <div class="select-box" >
               <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('doctor_master', 106, Mypln.subordinate.selected.id)">
                            {{(Mypln.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap}}
                        </div>  
                       
                    </div></div></div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Number of coupons </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.numberofcoupens" placeholder="Enter Number of coupons ">     
                    </div>
                </div>
            </div>
             

            <div class="gridStyle" ng-grid="gridOptions" style="height: 500px">

            </div>     
            <br />
             
            <div class="select-component" style="height:100%;">
                <div class="label">
                    <div class="label-text">Remarks</div>
                </div>
                <textarea ng-model="Mypln.remarks" rows="5" class="textarea-css" ng-click="vibrate();">                     

                </textarea>
            </div>    
            <br />  

              <div>
                <div class="row moveDown">
                        
                    <div class="col">
                        <div class='buttonC-container left-sidepull' ng-click="vibrate();openOptMenu()">
                            <div class="buttonC">
                                <i class="icon ion-images footer-icon" style="line-height: 45px;"></i>
                            </div>
                            <div class='buttonC-text'>Event Captures</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
            <button class="button buttonClear pull-left" ng-click="vibrate();
        goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>
        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();save()">Submit</button>
    </ion-footer-bar>
</ion-view>