<ion-view>

    <ion-content>
        <div class="list list-inset">

              
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Route Code</div>
                </div>
               <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.route" placeholder="Route Code">     
                    </div>
                </div>
            </div>  
          
              <div class="select-component" >
                <div class="label">
                    <div class="label-text">Route Name</div>
                </div>
                <div class="select-box">
                    <input type="text" class="input-css" ng-model="data.routeName" placeholder="Route Name">     
                </div>
            </div>

            <div class="select-component">
                <div class="label">
                    <div class="label-text">Target</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.target" placeholder="Target">     
                    </div>
                </div>
            </div>
              <div class="select-component">
                <div class="label">
                    <div class="label-text">MinProd%</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="tel" class="input-css" ng-model="data.minprod" placeholder="MinProd%">     
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Route Population</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.population" placeholder="Route Population">     
                    </div>
                </div>
            </div>
          
            <div class="select-component">
                <div class="label">
                    <div class="label-text">DSM Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('mas_dsm', 114)">
                            {{(fmcgData.dsm.selected.id| getValueforIDD : {'collection' : mas_dsm}).name  || "Select the DSM Name" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>

<ion-footer-bar class="bar-dark">
    <button class="button buttonClear pull-left" ng-click="vibrate();
        goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>


    <button class="button buttonClear pull-right" ng-click="vibrate();
        save()">Save</button>
</ion-footer-bar>

