<ion-view class="ion-viewport">
    <ion-content >
        <ion-list>   
                                                 
        <ion-item ng-click="vibrate();goToApproval(1)">
         <img  width="50" height="50" src="img/leave.png" style="float:left">
            <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;margin-left:50px;" >
        Leave Approval
            </span>
        </ion-item>
              
        <ion-item ng-click="vibrate();goToApproval(2)" >
        <img width="50" height="50" src="img/TPE.png"  style="float:left">
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;margin-left:50px;">
        TP Approval
            </span>
        </ion-item>
        <ion-item ng-click="vibrate();goToApproval(3)" >
         <img width="50" height="50" src="img/dcr.png"  style="float:left">
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;margin-left:50px;">
        DCR Approval
            </span>
        </ion-item>
      </ion-list>
        </ion-content></ion-view>