<ion-view>
    <ion-content>
        <div class="list list-inset">
           
             <div class="select-component" ng-if="SF_type==1&&fmcgData.editable!=1">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal(allstockists,44)">
                            {{(stockUpdation.stockist.selected.id| getValueforIDD : {'collection' : allstockists}).name || "Select "+StkCap}}
                       </div>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 10px;"></div>
          <h4><div style="background-color:lightgray;font-weight:bold;color:red">Last Updation Date: <span>{{LastUpdationDate}}</span></div></h4>
            <div style="margin-bottom: 10px;"></div>
            <div class="select-component" ng-if="editing!=0 || fmcgData.editable==1">
                <div class="label">
                    <div class="label-text">Product</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openMProduct('product_master', 9)">
                            {{(fmcgData.product.selected.id| getValueforIDD : {'collection' : products}).name || "Select the Product"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <div ng-if="(editing!=0 || fmcgData.editable==1) && recv==1"  style="background-color:#eaeaea;border-bottom:1px solid #d4d4d4"><div style="text-align: right;margin-right:75px;"><span style="color:#000000;font-weight:bold;">Closing Stock</span></div></div>
        <div ng-if="editing!=0 || fmcgData.editable==1" class="gridStyle" ng-grid="gridOptions" style="height: 500px">

        </div>
        <div ng-if="fmcgData.editable!==1 && editing==0 ">
       <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();edit()">Edit</button>

        </div>
       
        <div style="height: 75px">

        </div>
    </ion-content>
     <ion-footer-bar class="bar-dark" ng-if="editing!=0 || fmcgData.editable==1">
      
        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();save()">Save</button>
    </ion-footer-bar>
</ion-view>