<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{modal.rptTitle}}</h1>
    </ion-header-bar>
    <ion-content style="background-color:#f6eeee;">
        <div id="vstpreview">
        <ion-list  ng-if="(modal.hunt!=0||modal.hunt==null)&&(modal.type==null || modal.type==0)&&(modal.door==null || modal.door!=0)" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase" ng-style="Vstlist.orderValue>0 && {'background-color': ' #f1f1f1'}"><span ng-if="Vstlist.orderValue>0" class="ion-star" style="color: red;float: right"></span>
                <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>Cluster : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
                <p ng-if="Vstlist.WWith" style="white-space:pre-wrap !important">Joint Work : <b style="color:#7e0ca5">{{Vstlist.WWith}}</b></p>
                <p ng-if="Vstlist.products" style="white-space:pre-wrap !important">Product : <b style="color:#7e0ca5">{{Vstlist.products}}</b></p>
                <p ng-if="Vstlist.gifts" style="white-space:pre-wrap !important">Input : <b style="color:#7e0ca5">{{Vstlist.gifts}}</b></p>
                <p style="white-space:pre-wrap !important">Remarks : <b style="color:#7e0ca5">{{Vstlist.remarks}}</b></p>
            </ion-item>
        </ion-list>
          <ion-list  ng-if="(modal.hunt!=0||modal.hunt==null)&&modal.type==1&&(modal.door==null || modal.door!=0)" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase">
                <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span style="float:right"><b>{{Vstlist.orderValue}}</b></span><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>{{SDPCap}} : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
             <p style="white-space:pre-wrap !important">Collected Amount : <b style="color:#7e0ca5">{{Vstlist.Activity_POB_Val}}</b></p>
             <p style="white-space:pre-wrap !important">Outstanding Amount : <b style="color:#7e0ca5">{{Vstlist.orderValue-Vstlist.Activity_POB_Val}}</b></p>

            </ion-item>
        </ion-list>
            <ion-list  ng-if="modal.hunt==0" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase">
                <h2 style="color:#39ac08;"><b>{{Vstlist.Shop_Name}}</b></h2>
                <p>Contact Person : <b style="color:#7e0ca5">{{Vstlist.Contact_Person}}</b></p>
             <p style="white-space:pre-wrap !important">Phone Number : <b style="color:#7e0ca5">{{Vstlist.Phone_Number}}</b></p>
             <p style="white-space:pre-wrap !important">Area : <b style="color:#7e0ca5">{{Vstlist.area}}</b></p>

            </ion-item>
        </ion-list>
              <ion-list  ng-if="modal.door==0" >
           <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase">
                <h2 style="color:#39ac08;"><b>{{Vstlist.ClstrName}}</b></h2>
                <p>Retailor Name : <b style="color:#7e0ca5">{{Vstlist.retailor_name}}</b></p>
             <p style="white-space:pre-wrap !important">Number Of Coupens : <b style="color:#7e0ca5">{{Vstlist.no_of_coupens}}</b></p>
             <p style="white-space:pre-wrap !important"> Worked With: <b style="color:#7e0ca5">{{Vstlist.worked_with_name}}</b></p>

            </ion-item>
        </ion-list>
        </div>
                <div class="row moveDown">
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendWhatsApp()">
                    <img src="img/WhatsApp.png" />
                    <div class='buttonC-text' style="white-space:nowrap">Whats App</div>

                </div>
            </div>
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendEmail()">
                    <img src="img/Email.png" />
                    <div class='buttonC-text' style="white-space:nowrap">E-Mail</div>
                </div>
            </div>
        </div>
        <!-- <a href="#" id="btn-Convert-Html2Image">s</a> -->
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <button class="button button-clear button-primary" ng-click="vibrate();modal.hide()">Close</button>
    </ion-footer-bar>
</div>

