<ion-view class="ion-viewport">
    <!--ng-if="view_STOCKIST==0"-->
    <ion-content class="screen-parent">
         

        <div class="row"  style="margin-top:1%;display:block;">
            <div class="col col-50 col-offset-2"     style="float:left">
                <div class="div" ng-click="goTo(1)">
                    <div class="giftMenuBox">
                        <div class="icon-holder"><img src="img/gf1.png"></div>
                        <div class="Menu_Title">Display</div>
                    </div>
                </div>
            </div>
            <div class="col col-50 col-offset-2"     style="float:left">
                <div class="div" ng-click="goTo(2)">
                    <div class="giftMenuBox">
                        <div class="icon-holder"><img src="img/gf2.png"></div>
                        <div class="Menu_Title">Product Billed </div>
                    </div>
                </div>
            </div>
           
            
</div>

  <div class="row"  style="margin-top:1%;display:block;">
<div class="col col-50 col-offset-2"     style="float:left">
                <div class="div" ng-click="goTo(3)">
                    <div class="giftMenuBox">
                        <div class="icon-holder"><img src="img/gf3.png"></div>
                        <div class="Menu_Title">Slab</div>
                    </div>
                </div>
            </div>
  </div>


            
        </div>
        <div style="height:50px;float:left">&nbsp;</div>
        <div id="inf" style="display:none"></div>
    </ion-content>

 <ion-footer-bar class="bar-dark">
           
        </ion-footer-bar>

</ion-view>