<ion-view>

    <ion-content>
      <div class="col col-100 gh" style="text-align:right;color:#6e7173;" ><input type="search" placeholder="Search Date" ng-model="searchText"></div> 
        
          
            <div class="row"  style="background-color:#f6eeee">
             <div class="col col-10" style="color:black;font-weight:bold;">Sl.No</div>
             <div class="col col-26" style="color:black;font-weight:bold;">MissedDate</div>

              <div class="col col-21" style="color:black;font-weight:bold;" >Secondary</div>
              <div class="col col-20"   ng-if="StkNeed" style="color:black;font-weight:bold;">Primary</div>
         <div class="col col-18" style="color:black;font-weight:bold;">Submit</div>
          </div>
            <div ng-repeat=" (i,x) in fmcgData.MSD  | filter:searchText" style="background-color: rgb(241, 241, 241)">
                
<div class="label-text"> <span style="float:right;font-size: medium;padding: 0px 9px;color: #05e68a;" ng-click="vibrate();openModal('mas_worktype', 5556,i)">Worktype<span style="color:#989898;font-size: x-medium;">{{( x.Wtype||WT)}}" </span></span>
                    </div>
                <div class="row">
                    <div class="col col-10">
                        {{$index+1}}
                    </div>
                    <div class="col col-25">
                       {{x.Dcr_Missed_Date}}
                      
                  </div>
              
                <div class="col col-20" ng-if="x.Wtypeflag=='F'">
            <button class="button button-small  button-calm" ng-click="vibrate();MissedOrder(1,x.Dcr_Missed_Date,x)">Secondary</button><span ng-if="x.seccount>0"  class="badge-outbox "style="z-index: 1;padding: 2px 5px; min-width: 10px;border-radius: 10px;vertical-align: baseline;text-align: center;white-space: nowrap;fontweight: 700;font-size: 13px;  background-color: #0C4E90;
">{{x.seccount}}</span>
          </div>
          <div class="col col-20"  ng-if="StkNeed"> 
          
              <button class="button button-small  button-calm" ng-click="vibrate();MissedOrder(3,x.Dcr_Missed_Date,x)">Primary</button><span ng-if="x.pricount>0"  class="badge-outbox "style="z-index: 1;padding: 2px 5px; min-width: 10px;border-radius: 10px;vertical-align: baseline;text-align: center;white-space: nowrap;fontweight: 700;font-size: 13px;  background-color: #0C4E90;">{{x.pricount}}</span>
          </div>
            <div class="col col-20" ng-if="(x.status==1 &&  x.Wtypeflag=='F') || ( x.Wtypeflag!='F')">
          <button class="button button-small  button-calm" ng-click="vibrate();Finalsubmit(x.Dcr_Missed_Date,$index,x);"  style="
    background-color: #ef4e3a;    border: aquamarine;">
   Finalsubmit</button>
    
</div>  

  </div>
  <div class="label-text"> <!-- <span style="float:right;font-size: small;padding: 0px 9px;color: #05e68a;" ng-click="vibrate();openModal('nonreport_template_master', 5557,i)">Remarks<span style="color:#989898;font-size: x-small;">v</span></span> -->




                  <textarea ng-model="x.Remarks" rows="2" class="textarea-css" ng-click="vibrate();" placeholder="Remarks">
                     
                    </textarea>
                    </div>   
  <hr>
            </div>

                    
                   

                    
                    </div>
                  
            

    </ion-content>

</ion-view>
<ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

   
</ion-footer-bar>

