
<!-- <div id="viewport" buffered-scroll="increaseLimit();" ng-init="limit=15;">
    <table>
      <tbody>
        <tr ng-repeat="draft in drafts | limitTo:limit" >

          <td>{{draft.name}}</td>
          <td>{{draft.town_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 -->

<!--  ng-init="limit=15;"
ng-repeat="draft in drafts | limitTo:limit" -->
 <ion-view>
    <ion-content>
        <ion-list  id="viewport" buffered-scroll="increaseLimit();">
            <ion-item class="item"  ng-click="vibrate();
                                           preView(draft)"  ng-repeat="(i,draft) in drafts" >
                <div class="data-table">
                    <div class="ro" ng-if="myChoice==1">
                        <div class="co">
                            {{(i+1)+ draft.name}}
                        </div>
                      
                        
                    </div>
                    <div class="ro" ng-if="myChoice==2" >
                        <div class="co">
                            {{(i+1)+ draft.name}}<span class="badge badge-assertive" style="top: 14px;right: 16px;" >{{draft.DoctorCount}}</span>
                        </div>
                        
                    </div>

                    <div class="ro" ng-hide="myChoice==3">
                        <div class="co">
                           {{draft.Addr1}}
                        </div>
                        <div class="co">
                            {{draft.town_name}}
                        </div>
                    </div>
                    <div class="ro" ng-if="myChoice==3">
                        <div class="co">
                            {{(i+1)+ draft.name}}
                        </div>
                        <div class="co">
                          
                        </div>
                    </div>
                    <!-- <ion-option-button ng-if="myChoice==1" style="background-color: darkcyan;line-height: 105px;" class="button-energized" style="line-height: 105px;"
                                   ng-click="vibrate();
                                           preView(draft)">
                    View
                </ion-option-button> -->
                </div>
                 
                  <div ng-if="myChoice==1" class="toggle-swipe button button-icon ion-arrow-right-b">
                </div>
            </ion-item>
            
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>
</ion-footer-bar>
</ion-view> 