<ion-view>
    <ion-content>
      <div class="list list-inset">
           
             <div class = "row"   style="background-color:#0eabc0;" >
            <div  class = "col col-25"  ng-click="vibrate();ChangeDatetype(1)" style="margin-top: 11px;"  ><span  id="customday" class="select-box" style="font-size: small;color:white" >ToDay</span></div>
            <div  class = "col col-25"  ng-click="vibrate();ChangeDatetype(2)" style="margin-top: 11px;"> <span id="Monthwise"  class="select-box" style="font-size: small;color:white" >Month</span></div>
            <div  class = "col col-25"  ng-click="vibrate();ChangeDatetype(3)" style="margin-top: 11px;"  ><span id="Custom" class="select-box" style="font-size: small;color:white" >Custom</span></div>
              <div  class = "col col-15" id="YTD"  ng-click="vibrate();openModal(YtdTypes,199,4)" > <img  style="height: 27px;width: 42px;" src="img/doticon.png">  </div>
             </div>
                 <div class = "row">
               <div  class = "col col-50">
                <span class="select-box" style="font-size: small;padding: 0px 9px;color:#0ca6ba;"  >From</span> <input type="date"  ng-model="fromDt" id="FromDateId" ng-change="Fromdate(fromDt)"/></div>
                  <div class = "col col-50"> <span class="select-box" style="font-size: small;padding: 0px 9px;color:#0ca6ba;"  >To</span> <input  id="ToDateId" type="date"     ng-model="todate" ng-change="getproductsales(todate)" /></div>
               </div>

            <!-- <label class="item item-input item-date">
                <div class="input-label cwhite">
                    Date :
                </div>
                <input type="date"  style="background-color: #1ac0d6;"   ng-model="dyRptDt" id='changetype'  readonly />
            </label> -->
        </div>        
        <div class="row"  style="background-color:#f6eeee">
             
             <div class="col col-55" style="color:black;font-weight:bold;">Product</div>
              <div class="col col-30" style="color:black;font-weight:bold;">Total</div>
               <div class="col col-15" ng-if="DateType==4" style="color:black;font-weight:bold;">PTotal</div>
          </div>
            <div ng-repeat="(i,x) in ProductWiseReport track by $index" style="background-color: rgb(241, 241, 241)">
                <div class="row">
                    <div class="col col-55">
                        {{x.Product_Detail_Name}}
                    </div>
                    <div class="col col-30">
                        {{x.Total}}
                    </div>
                     <div ng-if="DateType==4" class="col col-15">
                  {{x.TotalP}}
                   </div>
                </div>
            </div>
 <div style="width: 505px;height: 305px;overflow: auto;display: block;margin-left: -114px;">
                                
                                    <canvas id="pie" class="chart chart-pie"
                                            chart-data="PrimarysalesFPGraph" chart-labels="labels" chart-options="options" chart-colors='colors'
                                            style='width: 383px;height: 190px;overflow: auto; ' chart-legend="true"></canvas>
                               
                            </div>



                          
</div>

    </ion-content>

<ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

   
</ion-footer-bar>


</ion-view>