<ion-view>
    <ion-content>
      
      <div class="list list-inset">
        
        
            <div class="list">
             
               

            <label class="item item-input item-date">
                <div class="input-label cwhite">
                    Today :
                </div>
                <input type="date" ng-model="dyRptDt" ng-change="getRemarksReport(dyRptDt)" />
            </label>
            <div class="select-component"       ng-if="view_MR!=1" >
                    <div class="label">
                        <div class="label-text">FieldForce
                            <label style="color: red;"> &nbsp;*</label>
                        </div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <div class="input-css" ng-click="openModal('subordinate_master', 145)">
                                {{(stockUpdation.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"}}
                            </div>
                        </div>
                    </div>
                </div>
        </div>        
        
            <div ng-repeat="(Name, value) in RemarksReport | groupBy:'Product_Name'" style="background-color: rgb(241, 241, 241)">
              <div       style="color:black;font-weight:bold;">
                        {{($index+1 )+  Name}}
                    </div>
         <div ng-repeat="x in value " style="background-color: rgb(241, 241, 241)">
              
                <div class="row">
                    
                    
                    <div class="col col-80">
                        {{x.Remarks}}
                    </div>
                    <div style="background: #ff920b;color: white;padding: 6px;text-align: center;border-radius: 39px;"class="col col-10"  ng-click="RemarksView(x)"  >
                        {{x.CNT}}
                    </div>
                   
                    
                </div>

              </div>
            </div>




</div>

    </ion-content>
<ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

   
</ion-footer-bar>
</ion-view>