<ion-view class="ion-viewport">
    <ion-content >
        <ion-list>   
         <ion-item ng-hide="view_MR" ng-click="vibrate();goTo('visitanalysis')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Visit Analysis</span>
           </ion-item> 

         <ion-item ng-hide="view_MR" ng-click="vibrate();goTo('OrderAnalysis')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Order Analysis</span>
           </ion-item> 
            <ion-item ng-hide="view_MR" ng-click="vibrate();goTo('AttendanceAnalysis')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Attendance Analysis </span>
           </ion-item> 

         <ion-item ng-hide="view_MR" ng-click="vibrate();goTo('productwisesales')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Product Analysis</span>
           </ion-item> 



        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

   
</ion-footer-bar>
</ion-view>