<ion-view class="ion-viewport">
    <ion-content >
        <ion-list>   
                              <ion-item ng-click="vibrate();goTo('LeaveForm')">
            <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;" >
         Leave Form
            </span>
        </ion-item>                   
        <!-- <ion-item ng-click="vibrate();goTo('RCPA')">
            <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;" >
         Market Audit
            </span>
        </ion-item> -->
              
       
              <ion-item ng-click="vibrate();goTo('TourPlan')" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">
        TP Entry
            </span>
        </ion-item>
         <ion-item ng-click="vibrate();goTo('ExpenseEntry')" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">
      Expense Entry
            </span>
        </ion-item> 


 <!-- <ion-item ng-click="vibrate();goTo('EA')" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">
      ExpenseEntry
            </span>
        </ion-item> -->


            <ion-item ng-if="DyInvNeed" ng-click="vibrate();goTo('dailyinv')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">
                    Daily <b ng-if="SF_type!=2">Begin - </b><b ng-if="SF_type==2">End - </b> Inventory 
                </span>
            </ion-item>
            <ion-item ng-if="OrdRetNeed && SF_type!=2" ng-click="vibrate();goTo('orderret')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">
                    Return Entry
                </span>
            </ion-item>
             <ion-item   ng-if="MsdDate==1" ng-click="vibrate();goTo('misseddate')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Missed Date Entry</span>
           </ion-item> 
    
      </ion-list>
        </ion-content></ion-view>