<ion-view>
  
    <div class="modal">
     <ion-header-bar  style="margin-top: 53px;" class="bar bar-assertive item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search"  id="tSearch" ng-model="modal.searchText">
        </label>
    </ion-header-bar>
    <ion-content class="headertop" style="background-color:#f6eeee;margin-top: 49px;">

        <div class="card Tbrd1" ng-repeat="(i,dyDCR) in modal.vwVstlists   | filter:modal.searchText">
            <h6 style="color: green;">{{dyDCR.name}}<span style="position: absolute;text-align: right;margin-top: 20px;left: 22px;font-size: 11px;color:#332f2f"></span></h6>
           <div class="propCase" style="padding-top: 5px;">
                <b style="color: darkcyan;font-weight: bold;">{{dyDCR.Territory}}</b></br>
                <b style="color:#537979;font-weight: bold;">{{dyDCR.stockist_name}}</b>
           
            </div>
            <b style="color: darkcyan;font-weight: bold;">Remarks:</b>{{dyDCR.remarks}}
            <b>Date:{{dyDCR.ModTime.date}}</b>
        </div>
    </ion-content>
    </div>
    <ion-footer-bar class="bar-dark bar bar-footer">
      <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>
   </ion-footer-bar>


</ion-view>