<ion-view>

    <ion-content>
        <div class="list list-inset">
             <div  ng-repeat="(i,item) in fmcgData.Compititor | limitTo:limit" >
                        <div class="row" >
                            <p class="col col-50" style="border: 1px;color: block;">{{i+1}}.Name </p>
                           <p class="col col-50"   style="width: 96px;border: solid white;background: white;border-radius: 5px;" class="efield" ng-click="openModal(RcpaProduct, 46,i)">
                            {{item.Name || "Select The Name "}}
                    </p>

                        </div>
                             <div class="row" >
                            <p class="col col-50" style="border: 1px;color: block;">BrandName </p>
                            <p class="col col-50"  style="width: 96px;border: solid white;background: white;border-radius: 5px;" class="efield" ng-click="openModal(RcpaBrand, 47,i,item.id)">{{item.BName || "Select The BrandName "}}  </p>
                        </div>
                            <div class="row" >
                            <p class="col col-50" style="border: 1px;color: block;">Rate </p>
                            <p class="col col-50"  ><input type="text" style="width: 96px;border: solid white;background: white;border-radius: 5px;" ng-model="item.Rate" placeholder="Rate"class="efield"/></p>
                        </div>
                          
                      <div class="row" >
                            <p class="col col-50" style="border: 1px;color: block;">Qty </p>
                            <p class="col col-50"  style="border: 1px;text-align: right;color: coral;"><input type="text" style="width: 96px;border: solid white;background: white;border-radius: 5px;" ng-model="item.Qty" placeholder="Qty"class="efield"/> </p>
                        </div>

                        <hr style="border: 0px;border-bottom: dotted 1px #498f24;">
              </div>
                       
                    <div style="float:left;font-size: small;padding: 0px 9px;color: #f8920b;margin-top: -3px;"  ng-click="vibrate();AddMore()">Add Competitor+</div>
                </div>
                                     
                    </div>
                   
             

    </ion-content>
<ion-footer-bar class="bar-dark">
  <button ng-if=" fmcgData.editableOrder!=1" class="button button-assertive buttonClear pull-left" ng-click="vibrate();
         goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>
 <button ng-if=" fmcgData.editableOrder!=1" class="button button-assertive buttonClear pull-right" ng-click="vibrate();
         Save()">Save
      </button>
      
</ion-footer-bar>
</ion-view>


