<ion-view>
    <ion-content>

        <!-- <div class="list list-inset">
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Type of Allowence
                        <label style="color: red;">&nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal(LEOS,115)">
                            {{(fmcgData.LEOS.selected.id| getValueforIDD : {'collection' : LEOS}).name || "Select L/O/S" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Night Stay/Travelling
                        <label style="color: red;"> &nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css">
                            <label for="chkYes">
                                <input type="radio" value="No" ng-model="fmcgData.selectVal" /> No

                            </label>
                            <label for="chkNo">
                                <input type="radio" value="NightStay" ng-model="fmcgData.selectVal" /> NightStay

                            </label>
                            <label for="chkNo">
                                <input type="radio" value="Night journey" ng-model="fmcgData.selectVal" /> Night journey

                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Mode of Travels
                        <label style="color: red;">&nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal(MOC,116)">
                            {{(fmcgData.MOC.selected.id| getValueforIDD : {'collection' : MOC}).name || "Select Mode Of Call" }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="fmcgData.MOC.selected.id==12">
                <div class="col col-33">
                    <p style="color: #828181;font-weight: 700;">KM</p>
                    <input type="number" class="efieldl" ng-model="fmcgData.KM" ng-change="Calculatetotal(fmcgData.KM)" placeholder="KM">
                </div>
                <div class="col col-33">
                    <p style="color: #828181;font-weight: 700;">Amount</p>
                    <input type="number" class="efieldl" ng-model="bikeamount" readonly>
                </div>
                <div class="col col-33">
                    <p style="color: #828181;font-weight: 700;">Total</p>
                    <input type="text" ng-model="fmcgData.TotalKM" class="efield" readonly>
                </div>

            </div>
            <div class="row" ng-if="fmcgData.MOC.selected.id==11">
                <div class="col ">
                    <p style="color: #828181;font-weight: 700;">Fare</p>
                    <input type="number" class="efieldl" ng-model="fmcgData.Fare" ng-change="Calculatetotal(fmcgData.KM)" placeholder="Fare">
                </div>

            </div>

            <div class="label-text">From
                <label style="color: red;">&nbsp;*</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Place</p>
                <input type="text" ng-model="fmcgData.FromPlace" class="efieldl" placeholder="Place">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Departure</p>
                <input type="text" class="efieldl" ng-model="fmcgData.FromDeparture" placeholder="Departure">
            </div>
        </div>
        <div class="label-text" style="
    margin: 11px;
">To
            <label style="color: red;">&nbsp;*</label>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Place</p>
                <input type="text" ng-model="fmcgData.ToPlace" class="efieldl" placeholder="Place">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Arrival</p>
                <input type="text" class="efieldl" ng-model="fmcgData.ToArrival" placeholder="Arrival">
            </div>
        </div> -->

        
        <div ng-if="fmcgData.Goto_Exp==1">
            <!-- <div class="select-component">
                <div class="label">
                    <div class="label-text">Mode of Travels
                        <label style="color: red;">&nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal(MOC,116)">
                            {{(fmcgData.MOC.selected.id| getValueforIDD : {'collection' : MOC}).name || "Select Mode Of Call" }}
                        </div>
                    </div>
                </div>
            </div> -->
              <div class="item row">
             <div class="col col-65">Starting Km
            </div>
            <div class="col col-35">
            Photo
            </div>
              </div>

                  <div class="item row">
                        <div class="col col-65">{{fmcgData.Start_Expense.KM}}</div>
                        <div class="col col-35">
                            <img  style=" height: 48px;width: 65px;border-radius: 50%; 
" src="{{fmcgData.Start_Expense.Start_Photo}}">
                        </div>
                    </div>
                    <div class="item-divider" style="padding-left: 8px;">Enter End Km</div>
             <div class="item row">
                        <div class="col col-65">

                            <input class="input-css"  class="ng-pristine ng-valid" ng-model="fmcgData.Stop_Expense.EndKm" />
                        </div>
                        <div class="col col-35"  ng-click="vibrate();openCameraStop()"  >
                           <!--  <img  style=" height: 48px;width: 65px;border-radius: 50%; 
" src="{{fmcgData.Stop_Expense.ImageUrl}}" />
                        </div> -->
<p>take photo</p>
<img ng-if="StopphotosList!== undefined && StopphotosList.length>0" style=" height: 80px;width: 65px;border-radius: 50%; 
" src="{{StopphotosList[0].imgData}}">


                    </div>
                </div>
                    <div class="item-divider"  style="padding-left: 8px;">Enter The Bus Fare</div>
        <div class="item row" >
            <div class="col col-65">
            <input type="number" class="input-css" ng-model="fmcgData.Busfare"  placeholder="Enter the Fare " maxlength="75">
                </div>
            <div class="col col-35" ng-click="vibrate();openOptMenu()">
                
                  
                       <p>Support DOC +</p>
                
                 </div>

              </div>
        </div>
       <div class="select-component">
                <div class="label">
                    <div class="label-text">{{StkRoute}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 502, Retailer.subordinate.selected.id)">
                            {{(Retailer.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Route"  }}
                        </div>
                    </div>
                </div>
            </div>  
            <div class="list list-inset">
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Type of Allowence
                        
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal(LEOS,115)">
                            {{(fmcgData.LEOS.selected.id| getValueforIDD : {'collection' : LEOS}).name || "Select L/O/S" }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="select-component">
            <div class="label">
               <div class="label-text">Amount</div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <input  type="number" ng-model="fmcgData.ExpenseAmount" class="input-css" placeholder="Enter Business" ng-click="vibrate();"> 
               </div>
            </div>
         </div>
        <ion-list>
            <div class="item-divider" style="padding-left: 8px;" ng-if="DAExpense.length>0">Daily Expense</div>
            <div ng-repeat="(i,item)    in DAExpense" class="item row">

                <div class="col col-40">{{item.Name}}</div>

                <div class="col col-20">
                    <input ng-model="item.amt" />
                </div>
<div class="col col-15" ng-click="TakePhoto(0,i)">
                         <img style="border-radius: 50%;width: 23px;height: 24px; 
" src="img/iconcamera.png">
                     </div>
                <div class="col col-25" ng-if="item.imgData">
                            <img  style=" height:40px;width:40px;border-radius: 50%; 
" src="{{item.imgData}}">
                        </div>
                     
            </div>
        </ion-list>
        </div>

        <div class="item-divider" style="padding-left: 8px;">{{ExpenseErrorMessage}}</div>
          <div class="select-component" style="height:100%;margin: 7px;">
            <div class="label">
                <div class="label-text">{{Remarks}}</div>
            </div>
            <textarea ng-model="fmcgData.remarks" rows="2" ng-click="vibrate();" my-directive></textarea>
        </div>
    </ion-content>
  <ion-footer-bar class="bar-dark">
        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
                SaveExp()">
            Save
        </button>
 </ion-footer-bar>
</ion-view>