<ion-view>
    <div class="bar bar-subheader">
        <div class="list">
            <label class="item item-input item-date">
                <div class="input-label cwhite">
                    Date :
                </div>
                <input type="date" ng-model="dyRptDt" ng-change="getDayReports()" />
            </label>
        </div>
    </div>
    <ion-content class="headertop" style="background-color:#f6eeee">
<div class="cardmonth Tbrd{{MnDCR.Desig_Code}}"    style="text-align: center;margin-left: 39px;"ng-repeat="MnDCR in TotalSummaryCount" ng-hide="view_MR">
           
           
                <div style="font-size: 14px;margin-top: 44px;">

                    <table style="border-collapse:collapse" border="1">
                        <tr style="color: lightslategrey;"><td>T.Calls</td><td>P.Calls</td><td>O.Value</td><td>{{ESHStkCap}}</td></tr>
                        <tr>
                            <td >{{MnDCR.Drs}}</td>
                            <td >{{MnDCR.orders}}</td>
                            <td>{{MnDCR.ordervalues||0}}</td>
                            <td >{{MnDCR.Stk}}</td>
                        </tr>

                    </table>
                   
                </div>
         
            
               
            </div>

        <div class="card Tbrd{{dyDCR.Desig_Code}}" ng-repeat="(i,dyDCR) in dayDCRList">
            <h4> {{dyDCR.SF_Name}}<button ng-if="summaryEdit==0&&dyDCR.FWFlg == 'F'&&dyDCR.SF_Code==sfCode&&edit_sumry==0&&routewise==0" class="item-note propCase button button-small button-balanced" style="white-space:nowrap !important;" ng-click="Edit()">Edit Summary</button></h4>
            <br />
            <div class="propCase">
                <b>{{dyDCR.wtype}}<span ng-if="dyDCR.HalfDay_FW_Type"> / {{dyDCR.HalfDay_FW_Type}}</span></b>
               <!-- <br /><b>Collected Amount<span style="color:#389BFD">:{{dyDCR.POB}}</span></b>-->
                <div class="item-note" ng-if="dyDCR.FWFlg == 'F'">
                    <table style="border-collapse:collapse" border="1">
                        <tr><td>TC</td><td>PC</td><td>O.Value</td><td>{{ESHStkCap}}</td><td ng-if="(Supplier_Master==1 && dyDCR.Desig_Code=='AM')|| (MR_SStockist_Nd==1)">SS</td> </tr>

                        <!--<tr><td>VT1</td><td>VT2</td><td>VT3</td><td>VT4</td></tr>-->
                        <tr>
                            <td ng-click="ViewDetail(dyDCR.ACode, 1, dyDCR.Adate, 0)" style="background: #ebeeff;color: #2196f3;">{{dyDCR.Drs}}</td>
                            <td ng-click="ViewDetail(dyDCR.ACode, 1, dyDCR.Adate, 1)" style="background: #ebeeff;color: #2196f3;">
                                {{dyDCR.orders}}
                            </td>
                            <td>{{dyDCR.orderValue}}</td>

                            <td ng-click="ViewDetail(dyDCR.ACode, 3, dyDCR.Adate)">{{dyDCR.Stk}}</td>
                            <td ng-if="(Supplier_Master==1 && dyDCR.Desig_Code=='AM')|| (MR_SStockist_Nd==1) " ng-click="ViewDetail(dyDCR.ACode, 8, dyDCR.Adate)">{{SS}}</td>
                        </tr>
                    </table>
                </div>
            </div>
           <div style="margin-top:30px;"></div>
                      <div  style="color:green;font-weight:bolder">Brand Wise Effective Calls</div>
        <div class="row" >
      <table ng-repeat="(i,x) in brndwise[dyDCR.SF_Code]"  style="border-collapse:collapse;font-size:14px; color:#aaa;" >
       <!--   <tr><td  style='border:none;'>Brand Name</td>
           color:#aaa;
                           
                            <td  style='border:none;'>Count</td>
                        </tr>-->
                        <tr >
                            <td  >{{x.product_brd_name}}</td>

                        </tr>
                         <tr >
                            <td  style='font-weight:bold'>{{x.RetailCount}}</td>
                        </tr>
                    </table>

 
</div><br />
<!-- <div  style="color:green;font-weight:bolder"  ng-click= "LitterVsValue(dyDCR)" >Litter vs value</div><br /> -->
<div class="propCase">


               
               <!-- <br /><b>Collected Amount<span style="color:#389BFD">Inshop</span></b> -->
                <div class="item-note" ng-if="dyDCR.FWFlg == 'F' && InshopND==1">
                    <div  style="color:green;font-weight:bolder">Other Activity</div>
                    <table style="border-collapse:collapse" border="1">
                        <tr> <td>Door</td><td>inshop</td><td>product</td> </tr>

                        <!--<tr><td>VT1</td><td>VT2</td><td>VT3</td><td>VT4</td></tr>-->
                        <tr>
                            <td ng-click="ViewDetailInshop(dyDCR.ACode, 1, dyDCR.Adate, 6)" style="background: #ebeeff;color: #2196f3;">{{DoorToDoorResponse.length}}</td>
                            <td ng-click="ViewDetailInshop(dyDCR.ACode, 1, dyDCR.Adate, 7)" style="background: #ebeeff;color: #2196f3;">{{InshopCount.length}}</td>
                            <td ng-click="ViewDetailInshop(dyDCR.ACode, 1, dyDCR.Adate, 8)" style="background: #ebeeff;color: #2196f3;">
                                {{ProductCount.length}}
                            </td>
                            
                        </tr>
                    </table>
                </div>
            </div>
           <div style="float:left">Total Lines :<span style="color:green;font-weight:bold">{{ DCR_TLSD[dyDCR.SF_Code]['total']}}</span> </div> 
           <div style="float:left">Total Products Sold :<span style="color:green;font-weight:bold">{{ DCR_LPC[dyDCR.SF_Code]['total']}}</span></div> 
            <p class="propCase rmks">{{dyDCR.Remarks}}</p>

              <div class="col col-70" style="margin-left: 46px;"  >
                                <div class="childbox" style="margin-left: -22px;">
                                 <canvas  class="chart chart-bar"
                                            chart-data="dyDCR.totalgraph" chart-labels="dyDCR.graphname" chart-options="dyDCR.stateoptions" chart-colors='colors'
                                            style=';width: 432px;height: 216px;' chart-legend="true"></canvas>

                                            <div  class="row" style="margin-left: 78px;"><div class="col-30"><span  class="TOrder"></span><p style="margin-top: 5px;" >Total :{{dyDCR.Drs}}</p></div><div class="col-30"><span class="EOrder"></span><p style="margin-top: 5px;">Effective  :{{dyDCR.orders}}</p></div>  </div>
                                </div>


                            </div>


        </div>
 
        
    </ion-content>


    <ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

   
</ion-footer-bar>
</ion-view>
