<ion-view>
    <div>
        <div class="bar bar-subheader noborder" ng-hide="view_MR">
            <div class="item item-input item-selectH noborder">
                <div class="input-label cwhite">Headquarters :</div>
                <div class="cwhite" style="width:80%;border-bottom:solid #4cff00 1px;" ng-click="openModal('subordinate_master', 58)">
                    {{(geoTag.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"  }}
                </div>
            </div>
        </div>

        <div class="bar bar-subheader noborder" style="top:{{subhdTop}};">
            <div class="item item-input item-selectH noborder">
                <div class="input-label cwhite">Route :</div>
                <div class="cwhite" style="width:80%;border-bottom:solid #4cff00 1px;" ng-click="vibrate();openModal('town_master', 52, geoTag.subordinate.selected.id)">
                    {{(geoTag.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name  || "Select Route Name"}}
                </div>
            </div>
        </div>

    </div>
    
    <ion-content style ="background-color:#f6eeee;top:{{CntvwTop}};">
         <div class = "row"  style="margin-top: 85px;border-radius: 8px;background: #19bcd2;padding: 0px">
        <div  class = "col col-50"> <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Tagged"   ng-model="taggedretailer.name">

        </label>
    </div>
     <div  class = "col col-50"> 
         <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder=" Un Tagged"   ng-model="untaggedretailer.name">

        </label>
    </div>
    </div>
         <div class = "row">
               <div  class = "col col-40"><span  style="float:right;font-size: small;padding: 0px 9px;color: #ef4e3a;" ng-click="vibrate();TagRetailer()">Retailer<span style="color:#ef4e3a;font-size: x-small;"></span></span></div>
                  <div  ng-if="GeoTagPrimary_Nd==1"class = "col col-60"> <span style="float:right;font-size: small;padding: 0px 9px;color: #ef4e3a;" ng-click="vibrate();TagDistributor()">Distributors  <span style="color:#ef4e3a;font-size: x-small;"></span></span></div>
               </div>
        <ion-list ng-hide="disti==1">
            <ion-item class="item-divider">
                Tagged {{DrCap}}
            </ion-item>
            <ion-item ng-repeat="item in geoCustomers  | filter:taggedretailer" ng-click="mapLocation(item,1)">
                <h2>{{item.name}}<span class="item-note" style="color:#0094ff;" ng-click="vibrate();"><i class="icon-location2"></i></span></h2>
            </ion-item>
            <b class="item" style="position: relative;color: #d1580d;font-size:small;text-align:center;padding:5px 20px;margin-top:-5px;" ng-hide="geoCustomers"> No {{DrCap}} Tagged</b>
        </ion-list>
        <span style="display:block;height:2px" ></span>
        <ion-list ng-hide="disti==1">
            <ion-item class="item-divider">
                Untagged {{DrCap}}
            </ion-item>
            <ion-item ng-repeat="item in unGeoCustomers | filter:untaggedretailer " ng-click="mapLocation(item,0)">
                <h2>{{item.name}}<span class="item-note" ng-click="vibrate();"><i class="icon-location2"></i></span></h2>
            </ion-item>
            <b class="item" style="position: relative;color: #d1580d;font-size:small;text-align:center;padding:5px 20px;margin-top:-5px;" ng-hide="unGeoCustomers"> No {{DrCap}} to Tag</b>
        </ion-list>

      <ion-list ng-hide="disti==0">
            <ion-item class="item-divider">
                Tagged {{StkCap}}
            </ion-item>
            <ion-item ng-repeat="item in geoDistributor " ng-click="mapLocation(item,1,1)">
                <h2>{{item.name}}<span class="item-note" style="color:#0094ff;" ng-click="vibrate();"><i class="icon-location2"></i></span></h2>
            </ion-item>
            <b class="item" style="position: relative;color: #d1580d;font-size:small;text-align:center;padding:5px 20px;margin-top:-5px;" ng-hide="geoDistributor"> No {{StkCap}} Tagged</b>
        </ion-list>
        <span style="display:block;height:2px" ></span>
        <ion-list ng-hide="disti==0">
            <ion-item class="item-divider">
                Untagged {{StkCap}}
            </ion-item>
            <ion-item ng-repeat="item in unGeoDistributor " ng-click="mapLocation(item,0,1)">
                <h2>{{item.name}}<span class="item-note" ng-click="vibrate();"><i class="icon-location2"></i></span></h2>
            </ion-item>
            <b class="item" style="position: relative;color: #d1580d;font-size:small;text-align:center;padding:5px 20px;margin-top:-5px;" ng-hide="unGeoDistributor"> No {{StkCap}} to Tag</b>
        </ion-list>

</ion-content>


</ion-view>