<ion-view>
    <ion-content>  
    <div ng-repeat="(i,x) in getGiftApproval" style="background-color: #FFFF">    
        <div  style="margin-top:10px;"></div>
        <div  style="background-color:#feffff">
        <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold;">
     Retailer Name
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.ListedDr_Name}}
  </div>
</div>
       <!--  <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Slab Name
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.Slan_Name}}
  </div>
</div>  -->   

 <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold">
    Claim Name
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.Giftname}}
  </div>
</div>  


        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Display Scheme
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.Display_Scheme}}
  </div>
</div>     
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.Submiteddate}}
  </div>
</div>    
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Business
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.Expected_Business||"-----"}}
  </div>
</div>    
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
    Start Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.Startt_Date||"-----"}}
  </div>
</div>   
         <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     End Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{x.End_Date}}
  </div>
</div>    
          
        
       
  <div class="row" ng-if="x.rejection==1">
  <div class="col col-50" style="color:black;font-weight:bold">
    Reason
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
     <textarea ng-model="x.reason" rows="2" placeholder="Reason For Reject" class="textarea-css" ng-click="vibrate();">                     

      </textarea>
  </div>
</div>      
               
        <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold;">
   <button class="button button-small button-calm" style="float:right;background-color:green"ng-click="approve(x)">Approve</button>
  </div>
  <div class="col col-50" style="color:black;font-weight:bold">
     <button class="button button-small button-reject" ng-if="x.rejection==1"  ng-click="rejSend(x)">Submit</button>

    <button style="background-color:#FF0000;color: white" class="button button-small" ng-if="x.rejection==0" ng-click="reject(x)">Reject</button>
  </div>
</div></div>
</div>        
</ion-content>
   <ion-footer-bar class="bar-dark">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
    </ion-footer-bar>
</ion-view>