<ion-view>
    <ion-content>      
        
          
  <div  ng-repeat="PA in GetGift_Status">  
      
     <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Claim Name
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.GiftName}}
  </div>
</div> 
  <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Submission Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Created_Date}}
  </div>
</div>    
          <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Start Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Startt_Date}}
  </div>
</div> 
    <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     End Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.End_Date}}
  </div>
</div> 
          <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold">
    Expected Business
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Expected_Business}}
  </div>
</div>      
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Status
  </div>
  <div ng-if=(PA.Aproval_Flag==1)  class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.GStatus}}
  </div>
  <div ng-if=(PA.Aproval_Flag==2)  class="col col-50" style="color:black;font-weight:bold;color:#ff0000">
    :{{PA.GStatus}}
  </div>
  <div ng-if=(PA.Aproval_Flag==0)  class="col col-50" style="color:black;font-weight:bold;color:#ffa500">
    :{{PA.GStatus}}
  </div>
</div>


<div class="row"   ng-if=(PA.Aproval_Flag==2) >
  <div class="col col-50" style="color:black;font-weight:bold">
    Reject Reason
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Reject_reason}}
  </div>
</div> 


         <hr style=" border-top: 1px dashed red;">      
        </div>        
</ion-content>
   
</ion-view>

