<ion-view>

    <ion-content>
        <div class="list list-inset">
<div class="select-component" ng-hide="view_MR" >
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 500)">
                            {{(Retailer.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 501, Retailer.subordinate.selected.id)">
                            {{(Retailer.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Route</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 502, Retailer.subordinate.selected.id)">
                            {{(Retailer.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Route"  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                                openModal('doctor_master', 503, Retailer.subordinate.selected.id)">
                            {{(Retailer.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap}}
                            
                        </div>
                    </div>
                </div>
            </div>
                <!--  <div class="select-component">
                <div class="label">
                    <div class="label-text">Total No Of Coupons </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="fmcgData.Coupons" placeholder="Enter No Of  Coupons">     
                    </div>
                </div>
            </div> -->
             <div  ng-repeat="item in fmcgData.HomeActivityDisplay  track by $index" >
                    <div class="input-box">
                    <div class="row" >
                        <div class="col col-50">
                              <p style="color: #828181;font-weight: 700;">Start Date </p>
                              <input   type="date" ng-model="item.SDate" class="efield" placeholder= "Start Date" >
                           </div>
                        
                       
                           <div class="col col-50" >
                              <p style="color: #828181;font-weight: 700;">End Date</p>
                              <input  type="date" class="efield" ng-model="item.EDate"    placeholder= "End Date">
                           </div>
                        </div>
                        <div class="row" >
                            <div class="col col-33" >
                              <p style="color: #828181;font-weight: 700;">C Volume</p>
                              <input type="text" class="efield" ng-model="item.CurrentVolume" placeholder= "C Volume">
                           </div>
                           <div class="col col-33">
                              <p style="color: #828181;font-weight: 700;">A Volume </p>
                              <input   type="text" class="efield" placeholder= "A Volume"  ng-model="item.AddVolume">
                           </div>
                            <div class="col col-33" >
                              <p style="color: #828181;font-weight: 700;">Discount</p>
                              <input  type="text" class="efieldl" placeholder="Discount" ng-model="item.DiscountAmount" >
                            </div>
                            
                        </div>
                    </div>
                    
                    <hr style="border: 0px;border-bottom: dotted 1px #498f24;">
                </div>
                    
                    </div>
                    <div class="row" >
                        <div class="col col-70">
                              <p style="color: #828181;font-weight: 700;">Remarks </p>
                              <input   type="text" ng-model="fmcgData.productdisplayremarks" placeholder= "Remarks" >
                           </div>
                        </div>
                    
              <div class="row moveDown">
               <div class="col">
                  <div class='buttonC-container left-sidepull' ng-click="vibrate();openOptMenu()">
                     <div class="buttonC">
                        <i class="icon ion-images footer-icon" style="line-height: 45px;"></i>
                     </div>
                     <div class='buttonC-text'>Event Captures</div>
                  </div>
               </div>
            </div>
 <button style="margin-top: 48px;" class="button buttonClear  button-balanced pull-right" ng-click="save()">Submit</button>
               
    </ion-content>

</ion-view>


