

<ion-view>  
        <ion-content>
          
              
               <div class="item" ng-repeat="(i, Prodtv) in productdetailing">
                   <div class="col"><span style="color:black;font-weight:bold">{{i+1}}</span> {{Prodtv.Product_Detail_Name}}
                       
   
                   </div>
              <img src="img/download.png" title="Download" style="height:30px;width:30px;float:right" ng-click="download(Prodtv.File_Name,Prodtv.File_Type)"/>
                               <img src="img/view.png" title="View" style="height:30px;width:30px;float:right;margin-right:30px;" ng-click="view(Prodtv.File_Name,Prodtv.Content_type,Prodtv.File_Type)"/>
                    </div>
          
       </ion-content>
     <!-- <ion-footer-bar class="bar-dark">
           <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
               &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
           </button>
       </ion-footer-bar>-->
   </ion-view>