<ion-view class="ion-viewport">
    <ion-content class="screen-parent">
        <div class="list list-inset">
            <div style="height: 39px">
                <div class="label-text" style="float:right;padding:5px;">e-Time  : {{eTime | date : "medium"}}</div>
            </div>
                <div class="select-component">

                    <div class="label">
                        <div class="label-text">Work Type</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <div class="input-css" ng-click="vibrate();openModal('mas_worktype', 101)">
                                {{(Mypln.worktype.selected.id| getValueforIDD : {'collection' : worktypes}).name || "Select the Work Type" }}
                            </div>
                        </div>
                    </div>
                </div>

             

            <div class="select-component" ng-hide="view_MR" ng-if="(',F,IH,DH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1">
                <div class="label">
                    <div class="label-text">Headquarter</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 103)">
                            {{(Mypln.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="select-component" ng-if="Supplier_Master==1 && view_MR!=1 "> 

                    <div class="label">
                        <div class="label-text">Super Stockist</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                             <div class="input-css" ng-click="vibrate();
                                openModal('SupplierMster', 507,Mypln.subordinate.selected.id)">
                            {{(Mypln.SuperStokit.selected.id| getValueforIDD : {'collection' : SupplierMster}).name  || "Select Super Stockist"}}
                            
                        </div>
                        </div>
                    </div>
                </div> -->
            <div class="select-component" ng-if="(',F,IH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1 && DistBased==1">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 104, Mypln.subordinate.selected.id)">
                            {{(Mypln.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="(',F,IH,DH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1">
                <div class="label">
                    <div class="label-text">{{StkRoute}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 102, Mypln.subordinate.selected.id)">
                            {{(Mypln.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Route"  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'IH'" style="margin-bottom: 50px;">
                <div class="label">
                    <div class="label-text">In-House Retail / Place<span style="float:right;font-size: small;padding: 0px 9px;color: #05e68a;" ng-click="vibrate();openModal('doctor_master', 206, Mypln.subordinate.selected.id)">From List  <span style="color:#989898;font-size: x-small;">v</span></span></div>
                </div>
                <textarea ng-model="Mypln.doctor.name" rows="5" class="textarea-css" ng-click="vibrate();">
                </textarea>
            </div>
            <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'&&edit_sumry==0 && fmcgData.DCRToday!=1">
                <div class="label">
                    <div class="label-text">Entry Mode</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal(DCRTypes, 109)">
                            {{(Mypln.dcrtypes.selected.id| getValueforIDD : {'collection' : DCRTypes}).name || "Select the Entry Mode"  }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="select-component" ng-if="(',F,IH,DH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1">

                <div class="label">
                    <div class="label-text">Joint Work</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('salesforce_master', 8, Mypln.subordinate.selected.id)">
                            {{fmcgData.jointwork.name|| "Select Joint Work"}}
                        </div>

                    </div>
                </div>
            </div>

            <div class="gridStyle" ng-grid="gridOptions" style="height: 500px" ng-if="(',F,IH,DH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1">

            </div>


    <div class="select-component" ng-if="DPOW==1"style="margin-top:12px;">

             <div class="label">
                        <div class="label-text">Others</div>
                    </div>
               <div class="select-box">
                        <div class="input-box">
                            <input type="text" class="input-css"  ng-model="Mypln.OthersWork" placeholder="Others">     
                        </div>
                    </div>

          </div>
                <br /><br />

                <div class="select-component" style="height:100%;">
                    <div class="label">
                        <div class="label-text">{{Remarks}}</div>
                    </div>
                    <textarea ng-model="Mypln.remarks" rows="5" class="textarea-css" ng-click="vibrate();" my-directive ></textarea>
                </div>
       
                <br />

                <div ng-if="Mypln.worktype.selected.FWFlg == 'F3'" class="note">
                    <b>Note:-</b> Overwrite your Daily Call Report Automatically.

                </div>
                <div style="display:block;height:50px;"></div>
            </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
         <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();save()">Submit</button>
    </ion-footer-bar>
</ion-view>