<ion-view>

    <ion-content>
        <div class="list list-inset">
             <div  ng-repeat="item in fmcgData.SchemeDets  track by $index" >
                        <div class="row" ng-if="item.schType=='N'">
                            <p class="col col-70" style="border: 1px;color: block;">{{item.PN}} </p>
                            <p class="col col-30"  style="border: 1px;text-align: right;color: coral;">{{item.Scheme}} ( {{item.FQ}} Free )</p>
                        </div>
                            <div class="row" ng-if="item.schType=='Y'">
                            <div class="col col-70">
                              <p   style="border: 1px;color: block;">{{item.PN}} </p>
                              <p    style="border: 1px;color: #888888;">{{item.OffProdNm}}   ( {{item.FQ}} Free )</p>
                              </div>

                              <p class="col col-30" style="border: 1px;text-align: right;color: coral;">{{item.Scheme}} Qty</p>
                           </div >
                           
                          

                        </div>
                       
                    <hr style="border: 0px;border-bottom: dotted 1px #498f24;">
                </div>
                    
                   

                    
                    </div>
                   
             

    </ion-content>

</ion-view>
<ion-footer-bar class="bar-dark">
  <button ng-if=" fmcgData.editableOrder!=1" class="button button-assertive buttonClear pull-left" ng-click="vibrate();
         goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>

    
    
</ion-footer-bar>

