
	<ion-view class="ion-viewport" style="background: linear-gradient(90deg,white,white);">
		<style>
			   #score p {
            font-size: 0.95em;
            font-style: italic;
			font-weight:bold;
            color: green;
            float: right;
            margin: 5px 5px 0 0;
        }

        #score:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
		</style>
			<ion-nav-bar  style="background:linear-gradient(90deg,#f499c1,#77b7f3)">
					<ion-nav-buttons side="right">
						<!--<a class="button button-icon ion-home" style="color:white" ng-click="vibrate()" href="#/fmcg/home">
						</a>-->
					</ion-nav-buttons>
					</ion-nav-bar>
    <ion-content class="screen-parent">
			<div ng-if="showFeedback==1">
<div style="margin-top:10%;">
	<h1 style="color:blueviolet;text-align: center;font-weight: bold;font-style: italic">Welcome To {{quiz_heading}}</h1>
	<div id="score"><p>Questions:{{totalItems}}</p></div>
	<div id="score"><p>No of Attempts:{{NoOfAttempts}}</p></div>
	<div id="score"><p>Time Limit:{{timelimit}} minutes</p></div>
</div>

<br/>
<div class="row1">
	<div class = "col col-50 col-offset-2" style="float:left;"> 
		<div class="div" ng-click="vibrate();
		download()">
		<div   class="div-cont" style='width: 670px;border-radius: 20px;'>
		<img  width="50" height="49" src="img/filedownload.png">
		<div class="tex">File Download</div>
		</div></div>
	</div>

	<div class = "col col-50 col-offset-2"   style="float:left;"> 
		<div class="div" ng-click="vibrate();
		quiz()">
		<div   class="div-cont" style='width: 670px;border-radius: 20px;'>	
		<img  width="50" height="49" src="img/quiz.png">
		<div class="tex">Start {{quiz_heading}}</div>
		</div></div>
	</div>
	
	
</div>
</div>
				
     
<div ng-if="showFeedback==0">
	<div id="score"><p><span class="badge badge-assertive">{{showseconds}} </span></p></div>
   
	<br/>

  
			<div style="margin-top:25%;">
					<marquee direction="left" style="color:green;font-weight:bold;font-size:large;height: 100px" id="footer" >No Data Available...</marquee>

			</div>
			<br/>
		   </div>
  
    </ion-content>
   
</ion-view>