<ion-view>
   <ion-content>
      <div class="list list-inset">
         <div>
            <div class="select-component" style="
    margin-top: 15px;
">
            <div class="label">
               <div class="label-text">Select Month</div>
            </div>
            <div class="select-box" >
               <div class="input-box">
                  <div class="input-css" ng-click="vibrate();openModal(MonthArray,97)">
                     {{(fmcgData.Month.selected.id| getValueforIDD : {'collection' : MonthArray}).name || "Month"}}
                  </div>
               </div>
            </div>
         </div>
             <div class="select-component" >
            <div class="label">
               <div class="label-text">Select Year</div>
            </div>
            <div class="select-box" >
               <div class="input-box">
                  <div class="input-css" ng-click="vibrate();openModal(YearArray,98)">
                     {{(fmcgData.Year.selected.id| getValueforIDD : {'collection' : YearArray}).name || "Year"}}
                  </div>
               </div>
            </div>
         </div>
            
         </div>
         <div style="color:green;font-weight:bolder" class="ng-binding">Target Vs Achieve</div>
         <div class="row"  style="background-color:#f6eeee">
           
            <div class="col col-40" style="color:black;font-weight:bold;"> Force Name</div>
            <div class="col col-30" style="color:black;font-weight:bold;">Target </div>
             <div class="col col-30" style="color:black;font-weight:bold;">Acheive</div>
         </div>
         <div ng-repeat="(i,x) in Targetresponse track by $index" style="background-color: rgb(241, 241, 241)">
            <div class="row">
               <div class="col col-40">
                     {{x.SF_Name}}
               </div>
               <div class="col col-30">
                  {{x.target_val}}
               </div>
               <div class="col col-30">
                  {{x.order_val}}
               </div>
                  
            </div>
         </div>
         <div class="col col-70" style="width: 505px;height: 305px;overflow: auto;display: block;margin-left: -114px;"    >
            <canvas id="pie"  class="chart chart-pie"
               chart-data="PrimarysalesFPGraph" chart-labels="labels" chart-options="options" chart-colors='colors'
               style='width: 383px;height: 190px;overflow: auto;' chart-legend="true"></canvas>
         </div>
      </div>
   </ion-content>
   <ion-footer-bar class="bar-dark bar bar-footer">
      <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>
   </ion-footer-bar>
</ion-view>