<ion-view class="ion-viewport">
    <ion-content class="screen-parent">

         
<div ng-if="OpenExpense==1">

    <div class="select-component">
                <div class="label">
                    <div class="label-text">Mode of Travels
                        <label style="color: red;">&nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal(MOC,116)">
                            {{(fmcgData.MOC.selected.id| getValueforIDD : {'collection' : MOC}).name || "Select Mode Of Travel" }}
                        </div>
                    </div>
                </div>
            </div>
<div ng-if="fmcgData.MOC.selected.id!=11">
  <div class='buttonC-text'>Bike Details</div>

        <div class="item row">
            
            <div class="col col-70"><input type="number"  ng-model="data.Km" placeholder=" Enter the km"  maxlength="75"> </div>
                <div class="col col-30" class="select-box">
                    <div class="input-box">

               <button class=" button-clear" style="color: white;width: 69px;height: 14px;border-radius: 14px;" ng-click="vibrate();TakePhoto()">Photo</button>
                        
                    </div>
                </div>
            
        </div>
</div>
 <img ng-if="RetailerphotosList!== undefined && RetailerphotosList.length>0" style=" height: 80px;width: 80px;border-radius: 50%; margin-top: 0px;
" src="{{RetailerphotosList[0].imgData}}">
<div ng-show="RetailerphotosList[0].progressVisible">
                    <div class="percent">{{RetailerphotosList[0].uProgress}}%</div>
                    <div class="progress-bar">
                        <div class="uploaded" ng-style="{'width': RetailerphotosList[0].uProgress+'%'}"></div>
                    </div>
                </div>

        <div class="select-component" style="margin-top: 9px;">
                <div class="label">
                    <div class="label-text">Remarks</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.Remarks" placeholder=" Enter the Remarks"  maxlength="75">     
                    </div>
                </div>
       </div>
        <button  class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
         SaveExpension()">
              Submit
          </button>   

</div>
       <div id="div1"   ng-hide="OpenExpense==1" class="screenFull" >
            <div class="div-cont">
                <img  width="250" height="250" src="img/start.png" ng-click="vibrate();toStart(0)">
                 
            </div>
        </div>
       
    </ion-content>
</ion-view>