<ion-view>
    <ion-content>
     <div class = "row" >
               <div  class = "col col-50"><span class="select-box" style="font-size: small;padding: 0px 9px;color:#0ca6ba;" >From</span> <input type="date" ng-change="getvanledgerFrom(fromDt)" ng-model="fromDt"  style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);"/></div>
               <div class = "col col-50"> <span class="select-box" style="font-size:small;padding: 0px 9px;color:#0ca6ba;" >To</span> <input type="date"     ng-model="todate" ng-change="getvanledger(todate)" style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);" /></div>
            </div>
              
            <div style="color:green;font-weight:bolder;margin-top: 14px;" class="ng-binding">Van Ledger </div>      
             <div class="row"  style="background-color:#f6eeee">
             <div class="col col-30" style="color:black;font-weight:bold;font-size: 13px;">Name</div>
       
              <div class="col col-15" style="color:black;font-weight:bold;font-size: 13px;">OP</div>
               <div class="col col-20" style="color:black;font-weight:bold;font-size: 13px;">In</div>    
               <div class="col col-15" style="color:black;font-weight:bold;font-size: 13px;">Out</div>   
               <div class="col col-20" style="color:black;font-weight:bold;font-size: 13px;">CStock</div>         
          </div>
           
            <div ng-repeat="(i,x) in VanLedger track by $index"  ng-click="VanLedgerView(x)"   style="background-color: rgb(241, 241, 241)">
                <div class="row" style="font-size: 12px;">
                    <div class="col col-30">
                        {{x.Product_Detail_Name}}
                    </div>                   
                    <div class="col col-15">
                        {{x.OP}}
                    </div>
                     <div class="col col-20">
                        {{x.Credit}}
                    </div>  
                     <div class="col col-15">
                        {{x.Debit}}
                    </div> 
                     <div class="col col-20">
                        {{x.CurrentStock}}
                    </div>                   
                </div>                
            </div>


</div>

    </ion-content>
<ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>
  
</ion-footer-bar>
</ion-view>