<ion-view>
  
    <div class="modal">
     <ion-header-bar  style="margin-top: 53px;" class="bar bar-assertive item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search"  id="tSearch" ng-model="modal.searchText">
        </label>
    </ion-header-bar>
    <ion-content class="headertop" style="background-color:#f6eeee;margin-top: 49px;">

       <ion-list  ng-if="modal.type==1" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists  | filter:modal.searchText" class="propCase">
                <div class="ro">
                    <h2 style="color:#39ac08;"><b>{{Vstlist.name}} ( {{Vstlist.Order_No}} )</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                </div>
                <div class="ro" style="padding-top:5px;padding-bottom:5px">
                    <p>Route : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
                </div>
                <div class="ro" ng-if="Vstlist.productSelectedList">
                    <table style="width: 100%;" border="1">
                        <tr style="background-color:#eae9e9">
                            <th style="text-align:left;padding:5px;font-size: 85%;font-weight: 900;color:#757575">Product</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575">Rate</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575">Qty</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">Free</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575"  ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">Disc.</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.DrSmpQ==1">Value</th>
                        </tr>
                        <tr ng-repeat="productSelection in Vstlist.productSelectedList">
                            <td style="text-align:left;padding:2px 5px;font-size:100%;display:block;">{{productSelection.product_Nm}}
                                <span style="display:block;color: #507280;font-weight: 700;font-size: 80%;">{{productSelection.Mfg_Date}}</span>
                            </td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:70px;">{{productSelection.Rate | number:2|| 0}}</td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;">{{productSelection.rx_qty|| 0}}</td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:60px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">{{productSelection.free || 0}}</td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:60px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">{{productSelection.discAmt | number:2 || 0.00}}</td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;" ng-if="modal.DrSmpQ==1">{{productSelection.sample_qty | number:2 || 0.00}}</td>
                        </tr>
                                         <tr ng-if="Vstlist.discount>0">
                                            <td colspan="3" style="border:0px;font-size: 85%;font-weight: 900;color:#757575">Order Amount</td>
                                            <td colspan="3" style="border:0px;text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.orderValue|number:2}}</b></td>
                                         </tr>
                                         <tr ng-if="Vstlist.discount>0">
                                            <td colspan="3" style="border:0px;font-size: 85%;font-weight: 900;color:#757575">Discount</td>
                                            <td  colspan="3"style="border:0px;text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.discount|number:2}}</b></td>
                                         </tr>
                                         <tr>
                                            <td colspan="3" style="border:0px;font-size: 85%;font-weight: 900;color:#757575">Net Amount</td>
                                             <td style="border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)"><b style="color:#39ac08;"></b></td>
                                            <td style="border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)"><b style="color:#39ac08;"></b></td>
                                            <td style="border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)"><b style="color:#39ac08;"></b></td>
                                            <td  colspan="3"style="border:0px;border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.orderValue|number:2}}</b></td>
                                         </tr>
                    </table>
                </div>

                <div class="ro" style="padding-top:5px;padding-bottom:5px;" ng-if="CollectedAmountSetup==1">
                    <p style="white-space:pre-wrap !important">Collected Amount : <b style="color:#7e0ca5">{{Vstlist.Activity_POB_Val}}</b></p>
                </div>
                <div class="ro" style="padding-top:5px;padding-bottom:5px" ng-if="CollectedAmountSetup==1">
                    <p style="white-space:pre-wrap !important">Outstanding Amount : <b style="color:#7e0ca5">{{Vstlist.orderValue-Vstlist.Activity_POB_Val}}</b></p>
                </div>

                <div class="col" ng-if="modal.InvCnvrtNd==1">
                    <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.PrintInvoice(Vstlist)">
                        <img src="img/invoice.png" style="width: 30px;margin-top: 5px;" />
                        <div class='buttonC-text' style="margin-left: -22px;">Convert Invoice</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
    </div>
    <ion-footer-bar class="bar-dark bar bar-footer">
      <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>
   </ion-footer-bar>


</ion-view>