<ion-view>
    <div class="bar bar-subheader">
        <div class="list">
            <label class="item item-input item-date">
                <div class="input-label cwhite">
                    Month - Year :
                </div>
                <input type="month" ng-model="dyRptDt" ng-change="getDailySales()" />
            </label>
        </div>
    </div>
    <ion-content class="headertop" style="background-color:#f6eeee">
        <div class="card Tbrd{{dyDCR.Desig_Code}}" ng-repeat="(i,dyDCR) in dayDCRList">
            <h4 style="color:#145fd7;">{{dyDCR.PlDt}}</h4>
            <div class="row">
                <div class="col col-50" style="color:#498f24;">Present : <b>{{dyDCR.Prsnt}}</b></div>               
                <div class="col col-50" style="text-align:right;color:#ef4e3a;">Absent : <b style="">{{dyDCR.TSF-dyDCR.Prsnt}}</b></div>
            </div>
            <div class="row">
                <div class="col col-50" style="color:#1aacc3;">Sales : {{dyDCR.Sal | number:2}}</div>               
                <div class="col col-50" style="text-align:right;color:#d39211;">ADS : {{dyDCR.ADS | number:2}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
