<ion-view>

    <ion-content>
        <div class="list list-inset">
     
           
           
            <div class="list-item" style="font-size: x-large;font-family: sans-serif;background: #fb6060;padding: 8px 5px;border: solid 1px #e40606;color: #f8f8f8;font-weight: 900;">
           

           <div>Promotional Items</div>


         </div>
                <div class="row" >
                        <div class="col">
 <h4 style="border: 1px ;color: #6e7173;">Name</h4>
                         </div>
                           <div class="col">
 <h4 style="border: 1px; color: #6e7173;">Quantity</h4>
                         </div>
                          </div>
             <div  ng-repeat="item in fmcgData.GiftCard  track by $index" >
                    <div class="input-box">
 

                    <div class="row" >
                        <div class="col">
                              <p style="border: 1px;color: coral;">{{item.name}} </p>
                              
                           </div>
                            <div class="col">
                              <input  type="number" class="efieldl" ng-model="item.Qty"  >
                              
                           </div>
                           
                        </div>
                       
                        </div>
                       
                    </div>
                    
                    <hr style="border: 0px;border-bottom: dotted 1px #498f24;">
                </div>
                    
                   

                    
                    </div>
                   
             

    </ion-content>

</ion-view>
<ion-footer-bar class="bar-dark">
  <!--  <button class="button buttonClear pull-left" ng-click="vibrate();
        goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

    -->
    <button class="button buttonClear button-balanced pull-right" ng-click="vibrate();
        save()">Save</button>
</ion-footer-bar>

