<ion-view>
    <ion-content ion-sticky>
        <div class="select-component" ng-if="SF_type==2 ">
            <div class="label">
                <div class="label-text">Headquarters</div>
            </div>
            <div class="select-box">
                <div class="input-box">
                    <div class="input-css" ng-click="openModal('subordinate_master', 164)">
                        {{(DayInv.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                    </div>
                </div>
            </div>
        </div>
        <div class="select-component">
            <div class="label">
                <div class="label-text">Stock From</div>
            </div>
            <div class="select-box">
                <div class="input-box">
                    <div class="input-css" ng-click="vibrate();openModal('stockist_master', 165, DayInv.subordinate.selected.id)">
                        {{(DayInv.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                    </div>  
                </div>
            </div>
        </div>

        <div class="row" ng-if="SF_type==2" style="background: #1aacc3;">
            <div class="col">
                Stock From : {{(DayInv.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name }}
            </div>
        </div>
        <ion-list>
            <div ng-if="ErrMsg!=''" style="font-size: 97%;color: #07750b;padding: 38px 5px;font-weight: 900;text-align: center;">{{ErrMsg}}</div>
            <div ng-repeat="item in ProductsList | orderBy:OrderFields" ng-if="ErrMsg==''" style="border-bottom:solid 1px #f9f1f1">
                <div class="row item-divider" ng-if="$index==0||ProductsList[$index-1].cateid!=item.cateid">
                    <div class="col col-70">{{(item.cateid| getValueforIDD : {'collection' : CategoryList}).name || " "}}</div><div class="col col-15">{{CaseShCap}}</div><div class="col col-15">{{PiecShCap}}</div>
                </div>
                <div class="row" style="background-color:#ffffff;">
                    <div class="col col-70">{{item.name}}</div>

                    <div class="col col-15" style="text-align:right;">
                        <input type="number" ng-model="item.Qty" ng-change="VansalesRowCalc(item,SF_type,0)" class="efield"
                               style="border:solid 1px #c4c4c4;height:25px;padding: 5px;font-size: 15px;line-height: 15px;text-align:right;" />
                    </div>
                    <div class="col col-15" style="text-align:right;">
                        <input type="number" ng-model="item.PQty" ng-change="VansalesRowCalc(item,SF_type,1)" value="" class="efield"
                               style="border:solid 1px #c4c4c4;height:25px;padding: 5px;font-size: 15px;line-height: 15px;text-align:right;" />
                    </div>
                </div>


                <div class="row"  style="background-color:#ffffff;padding:0px;margin-top: -18px;">
                    <div style="min-width: 35%;padding:0px;">
                        <div class="row" style="padding:0px;">
                            <div style="padding:0px 15px;min-width:25%;color: #bbbab9;">op</div><div style="padding:0px;min-width:25%;color:#6c3;">{{item.COP||0}}</div>
                        </div>
                    </div>
                   
                </div>

                <div class="row" ng-if="SF_type==2 && DayInv.EMode == 0" style="background-color:#ffffff;padding:0px;margin-top: -18px;">
                    <div style="min-width: 35%;padding:0px;">
                        <div class="row" style="padding:0px;">
                            <div style="padding:0px 15px;min-width:25%;color: #bbbab9;">Sl</div><div style="padding:0px;min-width:25%;color:#6c3;">{{item.UCQty||0}}</div><div style="padding:0px;min-width:25%;color:#6c3;">{{item.UPQty||0}}</div>
                        </div>
                    </div>
                    <div style="min-width: 35%;padding:0px;">
                        <div class="row" style="padding:0px">
                            <div style="padding:0px;min-width:25%;color: #bbbab9;">Cl</div><div style="padding:0px;min-width:25%;color:#4a87ee;">{{item.VStock||0}}</div><!-- <div style="padding:0px;min-width:25%;color:#4a87ee;">{{item.VStock||0}}</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <button class="button buttonClear  button-balanced pull-right"  style="margin-top: 29px;"ng-click="vibrate();save()" ng-if="DayInv.EMode == 0">Save</button>
        <button class="button buttonClear  button-balanced pull-right"  style="margin-top: 29px;" ng-click="vibrate();saveAprl()" ng-if="DayInv.EMode == 1 ">Approval</button>
    </ion-content>
</ion-view>
