<ion-view>
    <ion-content>
      <div class="list list-inset">
    
            
           
             <div class = "row"  style="background-color:#0eabc0;">
              
                    <div  class = "col col-25"   style="margin-top: 11px;"ng-click="vibrate();ChangeDatetype(1)"><span id="customday" class="select-box" style="font-size: small;color:white">ToDay</span></div>
                    <div  class = "col col-25" style="margin-top: 11px;"  ng-click="vibrate();ChangeDatetype(2)" > <span id="Monthwise" class="select-box" style="font-size: small;color:white" >Month</span></div>
                     <div  class = "col col-25"  style="margin-top: 11px;" ng-click="vibrate();ChangeDatetype(3)"  ><span id="Custom" class="select-box" style="font-size: small;color:white" >Custom</span></div>

                     <div  class = "col col-15" id="YTD"  ng-click="vibrate();openModal(YtdTypes,199,2)" > <img  style="height: 27px;width: 42px;" src="img/doticon.png">  </div>
               </div>
                  

          <div class = "row" >
               <div  class = "col col-50"><span class="select-box" style="font-size: small;padding: 0px 9px;color:#0ca6ba;" >From</span> <input type="date"  ng-model="fromDt" ng-change="Fromdate(fromDt)" style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);"/></div>
               <div class = "col col-50"> <span class="select-box" style="font-size:small;padding: 0px 9px;color:#0ca6ba;" >To</span> <input type="date"     ng-model="todate" ng-change="getprimaryStatesales(todate)" style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);" /></div>
            </div>

  <!-- <div class = "row"  ng-if="CustomMonth==1">
               <div  class = "col col-50"><span class="select-box" style="font-size: small;padding: 0px 9px;color:#0ca6ba;" >From</span> <input type="Month" ng-change="Fromdate(fromDt)"   ng-model="fromDt"/></div>
                  <div class = "col col-50"> <span class="select-box" style="font-size:small;padding: 0px 9px;color:#0ca6ba;" >To</span> <input type="Month"     ng-model="todate" ng-change="getdistiributortarget(todate)" /></div>
                  
               </div> -->

           <!--  <label class="item item-input item-date">
                <div class="input-label cwhite">
                   Date:
                </div>
                <input style="background-color: #1ac0d6;"   type="date" ng-model="dyRptDt" id='changetype'  readonly/>
            </label> -->
        
        <div style="color:green;font-weight:bolder" class="ng-binding">Sales Report On {{SalesreportCaption}}</div>         
        <div class="row"  style="background-color:#f6eeee">
             <div class="col col-25" style="color:black;font-weight:bold;">State</div>
             <div class="col col-35" style="color:black;font-weight:bold;">Distributor</div>
              <div class="col col-25" style="color:black;font-weight:bold;">Total</div>
                  <div class="col col-15" ng-if="DateType==4" style="color:black;font-weight:bold;">PTotal</div>
          </div>
            <div ng-repeat="(i,x) in PrimarySalesState track by $index" style="background-color: rgb(241, 241, 241)">
                <div class="row">
                    <div class="col col-25">
                        {{x.StateName}}
                    </div>
                    <div class="col col-35">
                        {{x.Distiname}}
                    </div>
                    <div class="col col-25">
                        {{x.Total}}
                    </div>
                     <div ng-if="DateType==4" class="col col-15">
                        {{x.TotalP}}
               </div>
                </div>
            </div>
          <div class="col col-70" style="margin-left: 46px;">
                <div class="childbox">
                  <canvas id="bar" class="chart chart-pie"
                                                      chart-data="PrimarysalesstateGraph" chart-labels="statelabels" chart-options="stateoptions" chart-colors='colors'
                                                      style=';width: 432px;height: 216px;' chart-legend="true"></canvas>
                </div>
           </div>
       </div>

    </ion-content>
<ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

   
</ion-footer-bar>
</ion-view>