<ion-view>
    <div class="bar bar-subheader">
        <div class="list">
            
        </div>



    </div>
     
   <ion-content >

        <div style="margin-top: 42px;">
            
           <div >

                      <div class="ro" style="padding-top:5px;padding-bottom:0px">
                                     <p>Remarks : <b style="color:#7e0ca5">{{fmcgData.Remarks}}</b></p>

                                 </div> 
                                 <div class="ro" style="padding-top:5px;padding-bottom:0px">
                                     <p>Product Name : <b style="color:#7e0ca5">{{fmcgData.ProductName}}</b></p>

                                 </div> 

                                 <div class="ro" style="padding-top:5px;padding-bottom:0px">
                                     <p>Date : <b style="color:#7e0ca5">{{fmcgData.RMPVDate}}</b></p>

                                 </div>   
                             </div>
                      <ion-list >
                  <div  class="item"   ng-repeat="(i,Vstlist) in RemarksReport track by $index" >
                                
                                            
                                                   
                                          
                               
                                <div class="ro" >                
                                    
                                      <p style="white-space:pre-wrap !important;">Retailer_Name : <b  style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.Retailername}}</b></p>
                                  <p style="white-space:pre-wrap !important;">Route : <b  style="color:#7e0ca5" >{{Vstlist.RouteName}}</b>   </p>
                                
                                </div>  


                                                 
                             </div>
              </ion-list>


          

           
        </div>
       <!--  <div class="row moveDown">
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendWhatsApp()">
                    <img src="img/WhatsApp.png" />
                    <div class='buttonC-text' style="white-space:nowrap">Whats App</div>

                </div>
            </div>
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendEmail()">
                    <img src="img/Email.png" />
                    <div class='buttonC-text' style="white-space:nowrap">E-Mail</div>
                </div>
            </div>
        </div> -->
        <!-- <a href="#" id="btn-Convert-Html2Image">s</a> -->
    </ion-content>
    <ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>
<!-- <button  class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
         submit()" >Submit</button> -->
   
</ion-footer-bar>
</ion-view>
