<ion-view>

    <ion-content>
        <div class="list list-inset">

              <div class="select-component" ng-hide="view_MR">
                <div class="label">
                    <div class="label-text">Headquarters<label style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 103)">
                            {{(Mypln.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">{{StkRoute}}<label style="color: red;"> &nbsp;    *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 102, Mypln.subordinate.selected.id)">
                            {{(Mypln.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Route"  }}
                        </div>
                    </div>
                </div>
            </div>  
            <div class="select-component" style="padding-bottom:10px;height:auto" ng-if="CusOrder==1">
                <div class="label">
                    <div class="label-text">Walking Sequence</div>
                </div>
               <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                
                    openModal('doctor_master', 36, Mypln.subordinate.selected.id)">
                    {{(precall.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select The Existing Customer Name"}}
                        </div></div></div>
            </div>
<!--            <div class="select-component">
                <div class="label">
                    <div class="label-text">Cluster</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('town_master', 32, precall.subordinate.selected.id)">
                            {{(precall.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name  || "Select the Territory"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" style="padding-bottom:10px;height:auto">
                <div class="label">
                    <div class="label-text">Walking Sequence</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();

                            openModal('doctor_master', 36, precall.subordinate.selected.id)">
                            {{(precall.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select The Existing Customer Name"}}
                        </div></div></div>
            </div>-->
            <div class="select-component">
                <div class="label">
                    <div class="label-text">{{NLCap}} <label style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.name" placeholder="Enter the {{NLCap}} Name">     
                    </div>
                </div>
            </div>

         <div class="select-component" ng-hide="divisionCode==50" ng-if="(','+RetailerNeeded+',').indexOf(',gs,')>-1">
                <div class="label">
                    <div class="label-text">GST No <label ng-if="(','+RetailerMandatory+',').indexOf(',gs,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.gstno" placeholder=" Enter the GST No" maxlength="75">     
                    </div>
                </div>
            </div>  
           <!-- <div class="input-box">
<button class="button buttonClear  button-calm pull-right" style="width: 68px;"  ng-click="vibrate();TakePhoto()">
      photo
      </button>
       </div> 
 -->
<!-- <div class="select-component"ng-if="RetailerPhotoNd==1">
                <div class="label">
                    <div class="label-text">Retailer Photo <label  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-click="vibrate();TakePhoto()" placeholder="Take Retailer Photo" >     
                    </div>
                </div>
            </div>  --> 

<div class="select-component" ng-if="RetailerPhotoNd==1">
              <div class="label">
                    <div class="label-text">Retailer Photo <label  style="color: red;">&nbsp; *</label></div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css"  ng-click="vibrate();TakePhoto()" >
                             Take the Retailer Photo
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <img  ng-if="RetailerphotosList!== undefined && RetailerphotosList.length>0" style=" height: 80px;width: 80px;border-radius: 50%; margin-top: -34px;
" src="{{RetailerphotosList[0].imgData}}">
<div ng-show="RetailerphotosList[0].progressVisible">
                    <div class="percent">{{RetailerphotosList[0].uProgress}}%</div>
                    <div class="progress-bar">
                        <div class="uploaded" ng-style="{'width': RetailerphotosList[0].uProgress+'%'}"></div>
                    </div>
                </div>
            <div class="select-component" ng-if="(','+RetailerNeeded+',').indexOf(',ad,')>-1" >

                <div class="label">
                    <div class="label-text">Address  <label ng-if="(','+RetailerMandatory+',').indexOf(',ad,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <input type="text" ng-model="data.address" rows="5" placeholder="Enter the Address" class="input-css" ng-click="vibrate();">                     

                    
                </div>
            </div>
   <div class="select-component" ng-hide="divisionCode==50" ng-if="(','+RetailerNeeded+',').indexOf(',ar,')>-1">
                <div class="label">
                    <div class="label-text">Area Name <label ng-if="(','+RetailerMandatory+',').indexOf(',ar,')>-1"  style="color: red;">&nbsp; *</label>     </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.areaname" placeholder=" Enter the Area Name"  maxlength="75">     
                    </div>
                </div>
            </div>

            <div class="select-component"  ng-hide="divisionCode==50" ng-if="(','+RetailerNeeded+',').indexOf(',ct,')>-1">

                <div class="label">
                    <div class="label-text">City   <label ng-if="(','+RetailerMandatory+',').indexOf(',ct,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <input type="text" ng-model="data.cityname" rows="5" placeholder="Enter the City" class="input-css" ng-click="vibrate();" maxlength="50">                     

                   
                </div>
            </div>
<div class="select-component"  ng-hide="divisionCode==50"  ng-if="(','+RetailerNeeded+',').indexOf(',ln,')>-1">

                <div class="label">
                    <div class="label-text">LandMark <label ng-if="(','+RetailerMandatory+',').indexOf(',ln,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <input type="text" ng-model="data.landmark" rows="5" placeholder="Enter the City" class="input-css" ng-click="vibrate();" maxlength="50">                     

                   
                </div>
            </div>

         <div class="select-component" ng-hide="divisionCode==50" ng-if="(','+RetailerNeeded+',').indexOf(',pc,')>-1">
                <div class="label">
                    <div class="label-text">Pin Code <label ng-if="(','+RetailerMandatory+',').indexOf(',pc,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.pincode" placeholder=" Enter the pin code"  maxlength="75">     
                    </div>
                </div>
            </div>

           
          <div class="select-component" ng-hide="divisionCode==50"  ng-if="(','+RetailerNeeded+',').indexOf(',cp,')>-1">
                <div class="label">
                    <div class="label-text">Contact Person <label ng-if="(','+RetailerMandatory+',').indexOf(',cp,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.contactperson" placeholder="Enter the Contact Person "  maxlength="75">     
                    </div>
                </div>
            </div>

             <div class="select-component" ng-hide="divisionCode==50"  ng-if="(','+RetailerNeeded+',').indexOf(',dn,')>-1"> 
                <div class="label">
                    <div class="label-text">Designation <label ng-if="(','+RetailerMandatory+',').indexOf(',dn,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.designation" placeholder="Enter the Designation"  maxlength="75">     
                    </div>
                </div>
            </div> 
             <div class="select-component" ng-if="(','+RetailerNeeded+',').indexOf(',ph,')>-1">
                <div class="label">
                    <div class="label-text">Phone <label ng-if="(','+RetailerMandatory+',').indexOf(',ph,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="tel" class="input-css" ng-model="data.phone" placeholder="Enter the Phone No" maxlength="50">     
                    </div>
                </div>
            </div>

<!-- contact persion 2 -->

          <div class="select-component" ng-hide="divisionCode==50" ng-if="(','+RetailerNeeded+',').indexOf(',cp2,')>-1">
                <div class="label">
                    <div class="label-text">Contact Person 2 <label ng-if="(','+RetailerMandatory+',').indexOf(',cp2,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.contactperson2" placeholder="Enter the Contact Person2 "  maxlength="75">     
                    </div>
                </div>
            </div>

             <div class="select-component" ng-hide="divisionCode==50"  ng-if="(','+RetailerNeeded+',').indexOf(',dn2,')>-1">
                <div class="label">
                    <div class="label-text">Designation 2 <label ng-if="(','+RetailerMandatory+',').indexOf(',dn2,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="data.designation2" placeholder="Enter the Designation2"  maxlength="75">     
                    </div>
                </div>
            </div>
             <div class="select-component" ng-hide="divisionCode==50" ng-if="(','+RetailerNeeded+',').indexOf(',ph2,')>-1">
                <div class="label">
                    <div class="label-text">Phone 2 <label ng-if="(','+RetailerMandatory+',').indexOf(',ph2,')>-1"  style="color: red;">&nbsp; *</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="tel" class="input-css" ng-model="data.phone2" placeholder="Enter the Phone No2" maxlength="50">     
                    </div>
                </div>
            </div> 

         <!-- <div class="select-component" ng-hide="view_chemist">
                <div class="label">
                    <div class="label-text">Qulification</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('Qualifications', 112)">
                            {{(fmcgData.qulification.selected.id| getValueforIDD : {'collection' : qulifications}).name  || "Select the Qulification" }}
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="select-component" >
                <div class="label">
                    <div class="label-text">Retailer Class <label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('class_master', 113)">
                            {{(fmcgData.class.selected.id| getValueforIDD : {'collection' : class_master}).name  || "Select the Retailer Class" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Retailer  Channel<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('Doctor_Specialty', 16)">
                            {{(fmcgData.speciality.selected.id| getValueforIDD : {'collection' : specialitys}).name  || "Select the Retailer  Channel" }}
                        </div> 
                    </div>
                </div>
            </div>
            <!--<div class="select-component" ng-hide="view_chemist">

                <div class="label">
                    <div class="label-text">Category</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('Doctor_Category', 17)">
                            {{(fmcgData.category.selected.id| getValueforIDD : {'collection' : categorys}).name  || "Select the Category"}}
                        </div> 
                    </div>
                </div>
            </div>-->

        </div>

    </ion-content>

</ion-view>
<div class="bar bar-dark bar-footer">
    <button class="button buttonClear pull-left" ng-click="vibrate();
        goBack()">
        <i class="icon ion-ios7-arrow-back"></i>
    </button>


    <button class="button buttonClear pull-right"ng-click="vibrate();
        goNext()"><i class="icon ion-ios7-arrow-forward"></i></button>
</div>
<ion-footer-bar class="bar-dark">
  <!--  <button class="button buttonClear pull-left" ng-click="vibrate();
        goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>

    -->
    <button class="button buttonClear pull-right" ng-click="vibrate();
        save()">Save</button>
</ion-footer-bar>
