<ion-view class="ion-viewport">
    <ion-content class="screen-parent">
        <div class="list">
            <div class="row item-divider">
                <i class="icon ion-printer" style="padding:0px 5px"></i><b>Printer</b>
            </div>
            <div class="row" ng-click="vibrate();clearItem(1)" style="padding-top:5px;display:none">                
                <div class="col col-25">Type</div>
                <div class="col col-50 roundedTwo">
                    <input type="radio" name="chk" id="check1_{{$index}}" ng-model="lSettings.prnType" />
                    <label for="check1_{{$index}}">Bluetooth</label>
                </div>
                <div class="col col-25 roundedTwo">
                    <input type="radio" name="chk" id="check2_{{$index}}" ng-model="lSettings.prnType" />
                    <label for="check2_{{$index}}">Wifi</label>
                </div>
            </div>
            <div class="row" ng-click="vibrate();clearItem(1)">                
                <div class="col col-25">Name</div><div class="col col-50" ng-click="OpenDeviceList()">{{lSettings.MyPrinterName || "-- Select The Printer --"}}</div>
            </div>
        </div>
    </ion-content>
   <ion-footer-bar class="bar-dark">
      <button  class="button buttonClear  button-balanced pull-right" ng-click="vibrate();SaveSettings()">Submit</button>
   </ion-footer-bar>
</ion-view>