<ion-view>
    <div >
        <div class="bar bar-subheader noborder" ng-hide="view_MR">
            <div class="item item-input item-selectH noborder">
                <div class="input-label cwhite">Headquarters :</div>
                <div class="cwhite" style="width:80%;border-bottom:solid #4cff00 1px;" ng-click="openModal(allsubs, 40)">
                    {{(MnthSumm.subordinate.selected.id| getValueforIDD : {'collection' : allsubs}).name || "Select the Fieldforce Name"  }}
                </div>
            </div>
        </div>
        <div class="bar bar-subheader noborder" style="top:{{subhdTop}};">
            <label class="item item-input item-date noborder">
                <div class="input-label cwhite">Month - Year :</div>
                <input type="date" ng-model="mnthDt" ng-change="getMonthReports()" />
            </label>
        </div>
    </div>
    <ion-content style="background-color:#f6eeee;top:{{CntvwTop}};">
        <div class="card Tbrd" ng-repeat="MnDCR in MnthDCRList">
            <div class="propCase"><span>Worktype : <b style="color:#4800ff">{{MnDCR.worktype_name}}</b></span>      </div>
                             <div class="propCase"><span>HQ : <b style="color:#4800ff">{{MnDCR.hq}}</b></span>    </div>
                                                              <div class="propCase"><span>Distibutor Name : <b style="color:#4800ff">{{MnDCR.stockiest_name}}</b></span>    
                                 </div>
                 <div class="propCase"><span>Cluster : <b style="color:#4800ff">{{MnDCR.cluster}}</b></span></div>
             <div class="propCase"><span>Entry Mode : <b style="color:#4800ff">{{MnDCR.entrymode}}</b></span></div>
               
                 <div class="propCase"><span>WorkedWith : <b style="color:#4800ff">{{MnDCR.workedwith}}</b></span></div>
 
                 <div class="propCase"><span>Remarks : <b style="color:#4800ff">{{MnDCR.remarks}}</b></span></div>
               
                 
              
      
           
            </div>
    </ion-content>
</ion-view>