<ion-view class="ion-viewport">
    <!--ng-if="view_STOCKIST==0"-->
    <ion-content class="screen-parent">
         <div class = "row" ng-if="view_STOCKIST == 0&&Mypln.worktype.FWFlg=='DH'"  style="margin-top:1%;">
            <div class = "col col-50 col-offset-2">
                <div class="div" ng-click="vibrate();
                    goToCustomer(7)">
                    <div   class="div-cont" style='width: 670px'>
                        <img  width="50" height="50" src="img/stockist.png">
                        <div class="tex">{{StkCap}} Hunting</div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class = "row" ng-if="view_STOCKIST == 0&&Mypln.worktype.FWFlg!='DH'"  style="margin-top:1%;display:block;">
            <div class="col col-50 col-offset-2" style="float:left">
                <div class="div" ng-click="vibrate();goToCustomer(1)" style="margin:auto;display:table;">
                    <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                        <img width="30" height="30" src="img/scondary.png">
                        <div class="tex" style="font-size:80%;">{{EDrCap}}</div>
                    </div>
                </div>
            </div>


 

            <div class="col col-50 col-offset-2" ng-if="StkNeed" style="float:left">
                <div class="div" ng-click="vibrate();goToCustomer(3)" style="margin:auto;display:table;">
                    <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                        <img width="30" height="30" src="img/primary.png">
                        <div class="tex" style="font-size:80%;">{{EStkCap}}</div>
                    </div>
                </div>
            </div>

            <div class="col col-50 col-offset-2" ng-if="StkNeed && DemoGivenND==1" style="float:left">
                <div class="div" ng-click="vibrate();FieldDemo()" ng-if="DemoGivenND==1" style="margin:auto;display:table;">
                    <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                        <img width="30" height="30" src="img/primary.png">
                        <div class="tex" style="font-size:80%;">FieldDemo</div>
                    </div>
                </div>
            </div>


<div class="col col-50 col-offset-2"  ng-if="StkNeed && NewContact==1"  style="float:left">
                <div class="div" ng-click="vibrate();NewContactt()"   ng-if="NewContact==1"  style="margin:auto;display:table;">
                    <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                        <img width="30" height="30" src="img/primary.png">
                        <div class="tex" style="font-size:80%;">New Contact</div>
                    </div>
                </div>
            </div>

 <div class="col col-50 col-offset-2" ng-if="StkNeed && DemoGivenND==1" style="float:left">
                <div class="div" ng-click="vibrate();Paccsmeeting()" ng-if="DemoGivenND==1 || " style="margin:auto;display:table;">
                    <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                        <img width="30" height="30" src="img/meeting.jpg">
                        <div class="tex" style="font-size:80%;">PACCS Meeting</div>
                    </div>
                </div>
            </div>

            <div class="col col-50 col-offset-2" ng-if="DyInvNeed" style="float:left">
                <div ng-if="view_STOCKIST == 0" ng-click="vibrate();gotoInv()" style="margin:auto;display:table;">
                    <div class="div">
                        <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                            <img width="30" height="30" src="img/lan2.png">
                            <div class="tex" style="font-size:80%;">Daily <b ng-if="SF_type!=2">Begin - </b><b ng-if="SF_type==2">End - </b> Inventory</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50 col-offset-2" ng-if="OrdRetNeed" style="float:left">
                <div ng-if="view_STOCKIST == 0" ng-click="vibrate();gotoRet()" style="margin:auto;display:table;">
                    <div class="div">
                        <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                            <img width="30" height="30" src="img/retentry.png">
                            <div class="tex" style="font-size:80%;">Return Entry</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-50 col-offset-2"  ng-if="DTDNeed==1"  style="float:left;">
                <div ng-if="view_STOCKIST == 0" ng-click="vibrate();doortodoor()" style="margin:auto;display:table;">
                    <div class="div">
                        <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                            <img width="30" height="30" src="img/DTD.png">
                            <div class="tex" style="font-size:80%;">Door To Door</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-50 col-offset-2"  ng-if="InshopND==1" style="float:left;">
                <div ng-if="view_STOCKIST == 0" ng-click="vibrate();Inshop()" style="margin:auto;display:table;">
                    <div class="div">
                        <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                            <img width="30" height="30" src="img/inshop.png">
                            <div class="tex" style="font-size:80%;">Inshop-Sale</div>
                        </div>
                    </div>
                </div>
            </div>

 <div class="col col-50 col-offset-2"   style="float:left;"  ng-if="Supplier_Master==1 && view_MR!=1 ">
                <div ng-if="view_STOCKIST == 0" ng-click="vibrate();SupplierMaster()" style="margin:auto;display:table;">
                    <div class="div">
                        <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                            <img width="30" height="30" src="img/inshop.png">
                            <div class="tex" style="font-size:80%;">SS Order</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-50 col-offset-2"  ng-if="productdisplayND==1" style="float:left;">
                <div ng-if="view_STOCKIST == 0" ng-click="vibrate();ProductDisplay()" style="margin:auto;display:table;">
                    <div class="div">
                        <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                            <img width="30" height="30" src="img/inshop.png">
                            <div class="tex" style="font-size:80%;">Product Display</div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col col-50 col-offset-2" ng-if="InshopND==1"  style="float:left;">
                <div ng-if="view_STOCKIST == 0" ng-click="vibrate();InshopCheckIn()" style="margin:auto;display:table;">
                    <div class="div">
                        <div class="div-cont" style='/* width: 670px; */width: 130px;border-radius: 50%;height: 130px;box-shadow: 2px 3px 7px #cea5a5;'>
                            <img width="30" height="30" src="img/inshop.png">
                            <div class="tex" style="font-size:80%;">Inshop Checkin</div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col  col-offset-2 col-50">
                <div ng-if="view_STOCKIST == 1" ng-click="vibrate();
                    goToCustomer(5)">
                    <div class="div">
                        <div class="div-cont" style='width: 670px'>
                            <img  width="50" height="50" src="img/Doctor1.png">
                            <div class="tex">Stock Updation</div>
                        </div></div>
                </div>
            </div>
            <div class="col col-offset-2 col-50">
                <div ng-if="view_STOCKIST == 1" ng-click="vibrate();
                    goToCustomer(6)">
                    <div class="div">
                        <div class="div-cont" style='width: 670px'>
                            <img  width="50" height="50" src="img/stockist.png">
                            <div class="tex">Stock View</div>
                        </div></div>
                </div>
            </div>
        </div>






        <div class="gridcontainer" ng-if="view_STOCKIST == 0" style="margin-top: -15px;">
            <div class="gridbox gridright" style="margin-left:0px;">
                <div class="right">
                    <div>
                        <div class="item" style="background-color: transparent;border: 0px solid lightgray;border-bottom: none;margin: 10px 0px;margin-bottom: 0px;padding: 0px;">
                            <span class="icon" style="display: none;width: 35px;height: 35px;border-radius: 5px;padding:3px;line-height:20px;border:1px solid #dcdcdc;float:right;margin-top: -3px;margin-Bottom: 3px;margin-right: -13px;" ng-click="viewDashboard();"><img width="27px" height="27px" src="img/Dash.png" /></span>

                           <div style="color:#0a5617;font-weight: bold;text-align: left;background: #e4e4e4;padding: 5px;border: 1px solid #d2d2d2;">
                            Today
                                <div style="float:right;font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;display:none">{{modal.rootTarget | number:2||0.00}}</div>

                                 <div style="float: right; text-overflow: ellipsis;overflow: hidden;width: 166px;margin-right: 27px;text-align: cent">                                 Route : {{MyplnsRoute}}
</div>
                            </div>
                        </div>
                        <div class="row">
                            

  <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                 AC : {{modal.vwCalls.Totalretailer ||0}}
                            </div>

                            <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                TC : {{modal.vwCalls.calls||0}}
                            </div>
                           
                        </div>
                        
 <div class="row"> <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                 <span style='display:inline-block;width: 10px;height: 10px;background-color: #f8756e;text-align: middle;'></span> EC : {{modal.vwCalls.order||0}}
                            </div>
                            
                            <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                 BAC : {{modal.vwCalls.BalanceretailerCount ||0}}
                            </div>
                        </div>
                     <div class="row">
                            <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                 Ord : {{modal.vwCalls.orderVal | number:2||0.00}}
                            </div>
                            <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                 Ach : {{modal.vwCalls.AAmt | number:2||0.00}}
                            </div>
                            
                        </div>
  <!--  <div class="row">
                        <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                 Route : {{MyplnsRoute}}
                            </div>

</div>
 -->
                            <div class="row" style="display:none">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Remaining Amount
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">{{remaining||0}}</div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Productivity
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    :
                                    {{modal.vwCalls.productivity||0}}
                                </div>
                            </div>
                        </div>
                        <div class="item parentbox">
                            <div class="childbox">
                                <canvas id="pie" class="chart chart-pie"  
                                        chart-data="data" chart-labels="labels" chart-options="options" chart-colors='colors' 
                                        style=';width: 383px;height: 190px;' chart-legend="true">
                                </canvas>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gridwrapper">
                <div class="gridbox gridleft" style="margin-left:0px;">
                    <div class="right">

                        <div class="item" style="background-color: transparent;border: 0px solid lightgray;border-bottom: none;margin: 0px 0px;margin-bottom: 0px;padding: 0px;">
                            <div style="color:#0a5617;font-weight: bold;text-align: left;background: #e4e4e4;padding: 5px;border: 1px solid #d2d2d2;">
                                This Month
                                <div style="float:right;font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;display:none">{{modal.monthvwCalls.TAmt | number:2||0.00}}</div>
                            </div>
                            <div class="row">
                                <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                    TC : {{modal.monthvwCalls.calls||0}}
                                </div>
                                <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                     <span style='display:inline-block;width: 10px;height: 10px;background-color: #f8756e;text-align: middle;'></span> EC : {{modal.monthvwCalls.order||0}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                     Ord : {{modal.monthvwCalls.orderVal | number:2||0.00}}
                                </div>
                                <div class="col col-50" style="font-family: sans-serif;font-weight: 900;font-size: small;color: #7b7979;">
                                     Ach : {{modal.monthvwCalls.AAmt | number:2||0.00}}
                                </div>
                            </div>
                        </div>
                        <div class="item parentbox">
                            <div class="childbox">
                                <canvas id="pie" class="chart chart-pie"  
                                        chart-data="monthdata" chart-labels="labels" chart-options="options" chart-colors='colors' 
                                        style=';width: 383px;height: 190px;' chart-legend="true">
                                </canvas>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
        <div id="inf" style="display:none"></div>
    </ion-content>



</ion-view>