<ion-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Invoice Entry</h1>
    </ion-header-bar>
    <ion-content style="background-color:#f6eeee;">
        <ion-list>
            <ion-item class="propCase" style="padding:0px">
                <div class="ro" style="background: #7d81f1;padding: 5px;">
                    <h2 style="color:#fff;"><b>{{InvData.stockist_name}}</b></h2>
                </div>
                <div class="ro" style="padding:5px 5px 0px 5px;">
                    <h2 style=" color:#39ac08;"><b>{{InvData.name}}</b></h2>
                    <div style="display:block;font-size: 11px;margin-top: -8px;">{{InvData.address}}</div>
                </div>
                <div class="ro" style="padding:5px 5px 0px 5px;">
                    <h2><p>PO Date : <b style="color:#7e0ca5">{{dateFormat("DD/MM/YYYY HH:MN NN",InvData.vtime)}}</b></p></h2>
                </div>
                <div class="ro" style="padding:5px 5px 0px 5px;">
                    <h2><p>Inv. Date : <b style="color:#7e0ca5">{{dateFormat("DD/MM/YYYY HH:MN NN",InvData.invDate)}}</b></p></h2>
                </div>
                <div class="ro" ng-if="InvData.productSelectedList">
                    <div ng-repeat="productSelection in InvData.productSelectedList" ng-if="productSelection.rx_qty>0 || productSelection.free>0">
                        <div class="row" style="padding-bottom: 9px;padding: 0px 0px 9px 0px;background: #d1f9bd;">
                            <div class="col" style="overflow: hidden;font-size: 14px;">{{productSelection.product_Nm}}</div>
                        </div>
                        <div class="row" style="background: #f3f3f3;margin-top: -12px;">
                            <div class="col col-25">
                                <div class="sml-Head">Rate</div>
                                <span style="display:block;padding:4px 0px;font-size: 14px;">{{productSelection.Rate}}</span>
                            </div>
                            <div class="col col-25">
                                <div class="sml-Head">Qty</div>
                                <span ng-if="InvData.InvFlag!=0" style="display:block;padding:4px 0px;font-size: 14px;">{{productSelection.rx_qty}}</span>
                                <input type="number" ng-model="productSelection.rx_qty" ng-if="InvData.InvFlag==0" ng-change="calcInvTotal(productSelection)" placeholder="Qty" ng-maxlength="4" maxlength="4" style="height: 22px;margin-top: 3px;padding: 0px 5px;font-size:14px;" />
                            </div>
                            <div class="col col-25">
                                <div class="sml-Head">Free</div>
                                <span ng-if="InvData.InvFlag!=0" style="display:block;padding:4px 0px;font-size: 14px;">{{productSelection.free}}</span>
                                <input type="number" ng-model="productSelection.free" ng-if="InvData.InvFlag==0" placeholder="Free" ng-maxlength="4" maxlength="4" style="height: 22px;margin-top: 3px;padding: 0px 5px;font-size:14px;" />
                            </div>
                            <div class="col col-25">
                                <div class="sml-Head">Disc %</div>
                                <span ng-if="InvData.InvFlag!=0" style="display:block;padding:4px 0px;font-size: 14px;">{{productSelection.discount}}</span>
                                <input type="number" ng-model="productSelection.discount" ng-if="InvData.InvFlag==0" ng-change="calcInvTotal(productSelection)" ng-maxlength="5" maxlength="5" placeholder="Disc %" style="height: 22px;margin-top: 3px;padding: 0px 5px;font-size:14px;" /></div>
                        </div>
                        <div class="row" style="background: #f3f3f3;padding: 0px 0px 0px 0px;">
                            <div class="col col-50" style="padding: 2px 5px 0px 5px;font-size: 13px;">
                                <div class="row" style="padding: 0px;font-weight:bold;">
                                    <div class="col col-75" style="padding: 0px;">Tax Name</div><div class="col col-25" style="padding: 0px;margin-left: -15px;">Amount</div>
                                </div>
                                <div class="row" ng-repeat="txItem in productSelection.taxDet" style="padding: 0px;">
                                    <div class="col col-75" style="font-size: 11px;padding: 0px 5px 4px 0px;">{{txItem.txName}}</div><!-- ng-click="openTaxSelect(txItem)"-->
                                    <div class="col col-25" style="line-height: 16px;font-size: 11px;height: 18px;padding: 2px 5px;width: 45px;text-align: right;min-width: 70px;margin-left: -30px;">{{txItem.txAmt | number:2}}</div>
                                </div>
                            </div>
                            <div class="col col-50" style="padding: 0px 8px 0px 5px;font-size: 13px;">
                                <div class="row" style="padding: 0px;">
                                    <div class="col col-50" style="font-size: 12px;padding: 2px 0px;font-weight:bold;">Amount</div><div class="col col-50" style="padding: 2px 0px;text-align:right;font-size: 12px;font-weight:bold;">{{productSelection.sample_qty | number:2}}</div>
                                </div>
                                <div class="row" style="padding: 0px;">
                                    <div class="col col-50" style="font-size: 12px;padding: 2px 0px;font-weight:bold;">Tax</div><div class="col col-50" style="padding: 2px 0px;text-align:right;font-size: 12px;font-weight:bold;">{{productSelection.TaxAmt | number:2}}</div>
                                </div>                                                                                                                                                                                                                                                                                                         
                                <div class="row" style="padding: 0px;">
                                    <div class="col col-50" style="font-size: 12px;padding: 2px 0px;font-weight:bold;padding-bottom: 5px;">Disc.</div><div class="col col-50" style="padding: 2px 0px;padding-bottom: 5px;text-align:right;font-size: 12px;font-weight:bold;">{{productSelection.Disc | number:2}}</div>
                                </div>
                                <div class="row" style="padding: 0px;border-top: 3px double #1aacc3;color:blue;">
                                    <div class="col col-50" style="font-size: 12px;padding: 2px 0px;font-weight:bold;">Total Amount</div><div class="col col-50" style="padding: 2px 0px;text-align:right;font-size: 12px;font-weight:bold;">{{(productSelection.sample_qty+productSelection.TaxAmt)-productSelection.Disc | number:2}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="row" style="background: #fff;">

            <div class="col">
                <div class="row" style="padding: 0px;">
                    <div class="col col-50" style="font-size: 15px;padding: 2px 0px;font-weight:bold;">Amount</div><div class="col col-50" style="padding: 2px 0px;text-align:right;font-size: 15px;font-weight:bold;">{{InvData.BillAmt | number:2}}</div>
                </div>
                <div class="row" style="padding: 0px;">
                    <div class="col col-50" style="font-size: 15px;padding: 2px 0px;font-weight:bold;">Tax</div><div class="col col-50" style="padding: 2px 0px;text-align:right;font-size: 15px;font-weight:bold;">{{InvData.TaxAmt | number:2}}</div>
                </div>
                <div class="row" style="padding: 0px;">
                    <div class="col col-50" style="font-size: 15px;padding: 2px 0px;padding-bottom: 5px;font-weight:bold;">Disc.</div><div class="col col-50" style="padding: 2px 0px;padding-bottom: 5px;text-align:right;font-size: 15px;font-weight:bold;">{{InvData.Disc | number:2}}</div>
                </div>
                <div class="row" style="padding: 0px;border-top: 3px double #1aacc3;color:blue;">
                    <div class="col col-50" style="font-size: 15px;padding: 2px 0px;font-weight:bold;">Total Amount</div><div class="col col-50" style="padding: 2px 0px;text-align:right;font-size: 15px;font-weight:bold;">{{InvData.NetAmt| number:2}}</div>
                </div>
            </div>
        </div>
        <div class="row moveDown">
            <div class="col" ng-if="InvData.InvFlag==0">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();SaveInvoice()">
                    <img src="img/save.png" style="height: 48px;" />
                    <div class='buttonC-text' style="white-space:nowrap">Save</div>
                </div>
            </div>
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();PrintInvoice()">
                    <img src="img/off.png" style="height: 48px;" />
                    <div class='buttonC-text' style="white-space:nowrap">Print</div>

                </div>
            </div>
        </div>
</ion-content>

    <div id="vwTaxDet" style="position: absolute;display:none;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);" ng-click="CloseDiv(this)">
        <div style="position:absolute;background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%)">
            <ion-list>
                <div class="row item-divider">
                    <div class="col">Tax List</div>
                </div>
                <div class="row" ng-repeat=" n in taxDets">
                    <div class="col" ng-click="SetTaxDet(n)">{{n.name}}</div>
                </div>
            </ion-list>
        </div>
    </div>
</ion-view>

