<ion-view>
   <ion-content ion-sticky>
      <div class="list list-inset">
         <div class="select-component" ng-if="SF_type==2&&fmcgData.editable!=1">
            <div class="label">
               <div class="label-text">Headquarters</div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <div class="input-css" ng-click="openModal('subordinate_master', 154)">
                     {{(SalRet.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                  </div>
               </div>
            </div>
         </div>
         <div class="select-component" ng-if="SF_type<3">
            <div class="label">
               <div class="label-text">From {{DrCap}}</div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <div class="input-css" ng-click="vibrate();openModal(doctors,56)">
                     {{(SalRet.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name || "Select "+DrCap}}
                  </div>
               </div>
            </div>
         </div>
         <div class="select-component" ng-if="SF_type<3">
            <div class="label">
               <div class="label-text">{{StkCap}}</div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <div class="input-css" ng-click="vibrate();openModal('stockist_master', 54,SalRet.subordinate.selected.id)">
                     {{(SalRet.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <ion-list>
         <div ng-repeat="item in SalRet.ProductsList | orderBy:OrderFields">
            <div class="row item-divider" ng-if="$index==0||SalRet.ProductsList[$index-1].cateid!=item.cateid">
               <div class="col col-70">{{(item.cateid| getValueforIDD : {'collection' : CategoryList}).name || " "}}</div>
               <div class="col col-15">{{CaseShCap}}</div>
               <div class="col col-15">{{PiecShCap}}</div>
            </div>
            <div class="row" style="background-color:#ffffff">
               <div class="col col-70">{{item.name}}</div>
               <div class="col col-15" style="text-align:right">
                  <input type="number" ng-model="item.Qty" class="efield"
                     style="border:solid 1px #c4c4c4;height:25px;padding: 5px;font-size: 15px;line-height: 15px;text-align:right;" />
               </div>
               <div class="col col-15" style="text-align:right">
                  <input type="number" ng-model="item.PQty" class="efield"
                     style="border:solid 1px #c4c4c4;height:25px;padding: 5px;font-size: 15px;line-height: 15px;text-align:right;" />
               </div>
            </div>
            <div class="row" style="background-color:#ffffff">
               <div class="col">
                  <div><span ng-click="openSelect(item)">{{item.QTypeNm || "Select Type"}}</span><span style="float:right" ng-click="openClaimSelect(item)">{{item.ClaimTypeNm || "Non - Claimable"}}</span></div>
                  <div ng-if="item.S_name=='D'">
                     <div class="row" style="background-color:#ffffff">
                        <!-- <div class="col col-70">Qty</div>
                        <div class="col col-15" ><input type="text" class="efield" style="border:solid 1px #c4c4c4;height:25px;padding: 5px;font-size: 15px;line-height: 15px;text-align:right;" ng-model="item.damageqty" ng-maxlength="120" style="font-size: 14px;"></div> -->
                        <div class="col col-70">Batch</div>
                        <div class="col col-15" ><input type="text" style="border:solid 1px #c4c4c4;height:25px;padding: 5px;font-size: 15px;line-height: 15px;text-align:right;" class="efield" ng-model="item.damagebatch" ng-maxlength="120" style="font-size: 14px;"></div>
                        <div class="col col-70">Date</div>
                        <div  class="col col-15"><input type="date"  style="border:solid 1px #c4c4c4;height:25px;padding: 5px;font-size: 15px;line-height: 15px;text-align:right;" class="efield" ng-model="item.damageorderdate" ng-maxlength="120" placeholder="OrderDate" style="font-size: 14px;"></div>
                     </div>
                     <div><input type="text"  ng-model="item.remark" ng-maxlength="120" placeholder="Reason" style="font-size: 14px;"></div>
                  </div>
               </div>
            </div>
         </div>
      </ion-list>
   </ion-content>
   <ion-footer-bar class="bar-dark">
      <button class="button buttonClear pull-left" style="display:none" ng-click="vibrate();ClearReturn()">Clear</button>
      <button class="button buttonClear pull-right" ng-click="vibrate();save()">Save</button>
   </ion-footer-bar>
   <div id="vwSType" style="position: absolute;display:block;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);" ng-click="CloseDiv(this)">
      <div style="position:absolute;background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%)">
         <ion-list>
            <div class="row item-divider">
               <div class="col">Stock Type</div>
            </div>
            <div class="row" ng-repeat=" n in StockTypes">
               <div class="col" ng-click="SetStockType(n)">{{n.name}}</div>
            </div>
         </ion-list>
      </div>
   </div>
   <div id="vwClaimTyp" style="position: absolute;display:block;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);" ng-click="CloseDiv(this)">
      <div style="position:absolute;background-color:#fff;top:50%;left:50%;transform:translate(-50%,-50%)">
         <ion-list>
            <div class="row item-divider">
               <div class="col">Claim Type</div>
            </div>
            <div class="row" ng-repeat=" n in ClaimTypes">
               <div class="col" ng-click="SetClaimType(n)">{{n.name}}</div>
            </div>
         </ion-list>
      </div>
   </div>
</ion-view>