<ion-view>
    <ion-content>
        <div class="list list-inset" style="margin-bottom:2px;">
            <div class="select-component" ng-hide="view_MR">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 28)">
                            {{(RCPA.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"  }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="select-component">
                <div class="label">
                    <div class="label-text">Route</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('town_master', 22, RCPA.subordinate.selected.id)">
                            {{(RCPA.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name  || "Select Route Name"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="AppTyp != 1">
                <div class="label">
                    <div class="label-text">{{ChmCap}} Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('chemist_master', 25, RCPA.subordinate.selected.id)">
                            {{(RCPA.chemist.selected.id| getValueforIDD : {'collection' : chemists}).name || "Select the " + ChmCap + " Name" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">{{DrCap}} Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('doctor_master', 26, RCPA.subordinate.selected.id)">
                            {{(RCPA.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select " + DrCap + " Name"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="prod==0">
                <div class="label">
                    <div class="label-text">Our Brand</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openMProduct('product_master', 29)">
                            {{RCPA.OurBrndNms  || "Select Our Brand"}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="gridStyle" ng-grid="gridOptions" style="height: 500px">

            </div><br /><br />
        </div>
        <div ng-if="CompDet==1">
            <div style="display:block;background-color:#f5b6b6;border:solid 1px #e45a5a;padding:4px;font-weight:bolder">Competitor Details</div>
            <div class="list list-inset">
                <div class="select-component">
                    <div class="label">
                        <div class="label-text">Name</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <input type="text" maxlength="300" ng-model="RCPA.CpmptName" class="input-css" placeholder="Enter the Name" ng-click="vibrate();">
                        </div>
                    </div>
                </div>
                <div class="select-component">
                    <div class="label">
                        <div class="label-text">Brand</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <input type="text" maxlength="300" ng-model="RCPA.CpmptBrnd" class="input-css" placeholder="Enter the Brand" ng-click="vibrate();">
                        </div>
                    </div>
                </div>
                <div class="select-component">
                    <div class="label">
                        <div class="label-text">Qty</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <input type="text" maxlength="150" ng-model="RCPA.CpmptQty" class="input-css" placeholder="Enter the Qty" ng-click="vibrate();">
                        </div>
                    </div>
                </div>
                <div class="select-component">
                    <div class="label">
                        <div class="label-text">POB</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <input type="number" maxlength="30" ng-model="RCPA.CpmptPOB" class="input-css" placeholder="Enter the POB" ng-click="vibrate();">
                        </div>
                    </div>
                </div>
                <div class="select-component">
                    <div class="label">
                        <div class="label-text">Price</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <input type="text" maxlength="150" ng-model="RCPA.CpmptRate" class="input-css" placeholder="Enter the Price" ng-click="vibrate();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-component" style="height:100%">
            <div class="label">
                <div class="label-text">Remarks / Information</div>
            </div>
            <textarea ng-model="RCPA.Precrip" rows="5" class="textarea-css" ng-click="vibrate();" placeholder="Enter the Remarks / Information"></textarea>
        </div>
        <div>
            <div class="row moveDown">
                <div class="col">
                    <div class='buttonC-container left-sidepull' ng-click="vibrate();openOptMenu()">
                        <div class="buttonC">
                            <i class="icon ion-images footer-icon" style="line-height: 45px;"></i>
                        </div>
                        <div class='buttonC-text'>Event Captures</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();save()">Submit</button>
    </ion-footer-bar>
</ion-view>