<ion-view>
    <ion-content>
        <div class="list list-inset">
            <div class="select-component" ng-hide="view_MR" >
                <div class="label">
                    <div class="label-text">Headquarters<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 500)">
                            {{(Retailer.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-hide="view_MR">
                <div class="label">
                    <div class="label-text">{{StkCap}}<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 501, Retailer.subordinate.selected.id)">
                            {{(Retailer.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">{{StkRoute}}<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 502, Retailer.subordinate.selected.id)">
                            {{(Retailer.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Route"  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Name<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                                openModal('doctor_master', 503, Retailer.subordinate.selected.id)">
                            {{(Retailer.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="label-text" style="padding:5px;background-color:#f44336;margin-top: -22px;">Retailer Details</div>
        <div class="list list-inset" style="margin:0px;padding: 5px;"   ng-if="Retailer.doctor.selected.id" >
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Name<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.name" placeholder="{{NmCap}} Name">
                    </div>
                </div>
            </div>

          <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">GST No</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.gstno" placeholder=" Enter the GST No"  maxlength="75">     
                    </div>
                </div>
            </div>  
            <div class="select-component" style="padding:2px;height:160px">
                <div class="label">
                    <div class="label-text">Address</div>
                </div>
                <div class="select-box">
                    <textarea ng-model="Retailer.Data.address" rows="5" placeholder="Enter the Address" class="textarea-css" ng-click="vibrate();"></textarea>
                </div>
            </div>
            
          <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">Area Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.areaname" placeholder=" Enter the Area Name"  maxlength="75">     
                    </div>
                </div>
            </div>
            <div class="select-component" ng-hide="divisionCode==50" >

                <div class="label">
                    <div class="label-text">City</div>
                </div>
                <div class="select-box">
                    <input type="text" ng-model="Retailer.Data.cityname" rows="5" placeholder="Enter the City" class="input-css" ng-click="vibrate();" maxlength="50">
                </div>
            </div>
<div class="select-component" ng-hide="divisionCode==50" >

                <div class="label">
                    <div class="label-text">LandMark</div>
                </div>
                <div class="select-box">
                    <input type="text" ng-model="Retailer.Data.Land_Mark" rows="5" placeholder="Enter the City" class="input-css" ng-click="vibrate();" maxlength="50">                     

                   
                </div>
            </div>
         <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">Pin Code</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.pincode" placeholder=" Enter the pin code"  maxlength="75">     
                    </div>
                </div>
            </div>
            

          <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">Contact Person</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.contactperson" placeholder="Enter the Contact Person " maxlength="75">     
                    </div>
                </div>
            </div>

             <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">Designation</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.designation" placeholder="Enter the Designation"  maxlength="75">     
                    </div>
                </div>
            </div>
            <div class="select-component" >
                <div class="label">
                    <div class="label-text">Phone</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="tel" class="input-css" ng-model="Retailer.Data.phone" placeholder="Enter the Phone No" maxlength="50">
                    </div>
                </div>
            </div>

<!-- contact persion 2 -->

           <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">Contact Person 2</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.contactperson2" placeholder="Enter the Contact Person2 "  maxlength="75">     
                    </div>
                </div>
            </div>

             <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">Designation 2</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="Retailer.Data.designation2" placeholder="Enter the Designation2"  maxlength="75">     
                    </div>
                </div>
            </div>
            <div class="select-component" ng-hide="divisionCode==50">
                <div class="label">
                    <div class="label-text">Phone 2</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="tel" class="input-css" ng-model="Retailer.Data.phone2" placeholder="Enter the Phone No2" maxlength="50">     
                    </div>
                </div>
            </div> 
            <div class="select-component" ng-hide="view_chemist">
                <div class="label">
                    <div class="label-text">Retailer Class<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box" style="background-color: #ece2c4;">
                        <div class="input-css" ng-click="openModal('class_master', 504)">
                            {{(Retailer.Data.class.selected.id| getValueforIDD : {'collection' : class_master}).name  || "Select the Retailer Class" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-hide="view_chemist">
                <div class="label">
                    <div class="label-text">Retailer Channel<label style="color: red;"> &nbsp;*</label></div>
                </div>
                <div class="select-box">
                    <div class="input-box" style="background-color: #ece2c4;">
                        <div class="input-css" ng-click="openModal('Doctor_Specialty', 505)">
                            {{(Retailer.Data.speciality.selected.id| getValueforIDD : {'collection' : specialitys}).name  || "Select the Retailer Channel" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-dark">
    <button class="button buttonClear pull-right" ng-click="vibrate();
        SaveDatas()">
        Save
    </button>
</ion-footer-bar>

