<!-- Git Repo: https://github.com/Russian60/flex-calendar -->
<ion-view>
    <ion-content>
        <div  style="margin-top: 1px;" ng-if="show == 0">
            <flex-calendar options="options" events="events"></flex-calendar>
        </div>
        <div class="list list-inset" ng-if="show == 1">
        <div style="display:block;background-color:#f5b6b6;border:solid 1px #e45a5a;padding:4px;font-weight:bolder">Date:{{clickdate}}</div>
        <br/>
            <div class="select-component">

                <div class="label">
                    <div class="label-text">Work Type</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div  class="input-css" ng-click="vibrate();
                            openModal('mas_worktype', 101)">
                            {{(Mypln.worktype.selected.id| getValueforIDD : {'collection' : worktypes}).name || "Select the Work Type" }}
                        </div>
                    </div>
                </div>
            </div>
             <div class="select-component" ng-hide="view_MR" ng-if="Mypln.worktype.selected.FWFlg == 'F'  && SF_type==2">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 103,5558)">
                            {{(Mypln.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F' && DistBased==1">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 104, Mypln.subordinate.selected.id)">
                            {{(Mypln.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
          <!-- <div class="select-component" ng-hide="view_MR" ng-if="Mypln.worktype.selected.FWFlg == 'F' && SF_type!==2">
                <div class="label">
                    <div class="label-text">Distributors</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css"
                            ng-click="vibrate();openModal(allstockists,43)">
                            {{(BrndSumm.stockist.selected.id| getValueforIDD : {'collection' : allstockists}).name || "Select "+StkCap}}

                        </div>
                    </div>
                </div>
            </div>-->
  <!-- <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'">
                <div class="label">
                    <div class="label-text">{{StkRoute}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 102, Mypln.subordinate.selected.id)">
                            {{(Mypln.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Cluster"  }}
                        </div>
                    </div>
                </div>
            </div>   -->


<div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'">

                <div class="label">
                    <div class="label-text">{{StkRoute}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('town_master', 89, Mypln.subordinate.selected.id)">
                            {{fmcgData.jointwork.name|| "Select Route"}}
                        </div>

                    </div>
                </div>
            </div>

<div class="gridStyle" ng-grid="gridOptionsroute" style="height: 500px" ng-if="(',F,IH,DH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1">

            </div>
             <div class="select-component" ng-if="(',F,IH,DH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1">

                <div class="label">
                    <div class="label-text">Work With</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('salesforce_master', 8, Mypln.subordinate.selected.id)">
                            {{fmcgData.jointwork.name|| "Select Work With"}}
                        </div>

                    </div>
                </div>
            </div>
             <div class="gridStyle" ng-grid="gridOptions" style="height: 500px" ng-if="(',F,IH,DH,').indexOf(','+Mypln.worktype.selected.FWFlg+',')>-1">

            </div>

        <!--    <div class="select-component" style="margin-top: 10px;">
                <div class="label">
                    <div class="label-text">Market</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input ng-model="data.market" class="input-css" placeholder="Enter Market" ng-click="vibrate();">
                    </div>
                </div>
            </div>         -->

            <div class="select-component" style="margin-top: 10px;">
                <div class="label">
                    <div class="label-text">{{Remarks}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input ng-model="data.remarks" class="input-css" placeholder="Enter Remarks" ng-click="vibrate();"> 

                    </div>
                </div>
            </div>

            <br />
        </div>
       
    </ion-content>
    <ion-footer-bar class="bar-dark" ng-if="!((submitApproval==1 || show==1) && Confirmed!=1&& Confirmed!=3)">
        <button class="button button-assertive pull-left" ng-click="vibrate();GoBack()">Change Month</button>
    </ion-footer-bar>
 <ion-footer-bar class="bar-dark" ng-if="(submitApproval==1 || show==1) && Confirmed!=1&& Confirmed!=3">
            <button class="button button-assertive pull-left" ng-click="vibrate();
            close()"  ng-if="show==1">Close
            </button>

            <button class="button  button-balanced pull-right"  ng-if="show==1" ng-click="vibrate();
      save()">Save</button>
       <button class="button  button-balanced pull-right" ng-if="submitApproval==1 && show == 0" ng-click="vibrate();
             submit()">Submit For Approval</button>
        </ion-footer-bar>
</ion-view>