<ion-view>
    <ion-content>
        <div id="preview">
            <div class="list list-inset">
                <div class="row" style="background-color:#5b9bd5">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #ffffff;font-size: 14px;">Total Retailer</div>
                    <div class="col" ng-click="ViewDetail(vwCalls.Acode, 1, vwCalls.Adate, 0)" style="font-weight: bolder;font-family: sans-serif;color: #ffffff;font-size: 14px;">: {{modal.vwCalls.totalRetailor||0}}</div>
                </div>
                <div class="row" style="background-color:#d2deef">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Productive Calls</div>
                    <div class="col" ng-click="ViewDetail(vwCalls.Acode, 1, vwCalls.Adate, 1)" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">:   {{modal.vwCalls.order||0}}</div>
                </div>
              
                <div class="row" style="background-color:#eaeff7">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Order Value</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">: {{modal.vwCalls.orderVal||0}}</div>
                </div>

                <div class="row" style="background-color:#eaeff7">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Route Target</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">:  {{rootTarget||0}}</div>
                </div>
                <div class="row" style="background-color:#eaeff7">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Remaining Amount</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">:   {{remaining||0}}</div>
                </div>
               <div class="row" style="background-color:#eaeff7">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Productivity</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">:  {{modal.vwCalls.productivity||0}}</div>
                </div>
                <div class="row" style="background-color:#5b9bd5">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #ffffff;font-size: 14px;">Cumulative Total Retailer</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #ffffff;font-size: 14px;">:  {{modal.vwCalls.totalRetailor||0}}</div>
                </div>
                <div class="row" style="background-color:#d2deef">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Cum. Productive Calls</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">:  {{modal.monthvwCalls.order||0}}</div>
                </div>
             
                <div class="row" style="background-color:#eaeff7">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Cum. Order Value</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">: {{modal.monthvwCalls.orderVal||0}}</div>
                </div>
                <div class="row" style="background-color:#eaeff7">
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">Cum. Productivity</div>
                    <div class="col" style="font-weight: bolder;font-family: sans-serif;color: #000;font-size: 14px;">: {{modal.monthvwCalls.productivity||0}}</div>
                </div>

            </div>
        </div>
        <div class="row moveDown">
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();sendWhatsApp()">
                    <img src="img/WhatsApp.png" />
                    <div class='buttonC-text' style="white-space:nowrap">Whats App</div>
                </div>
            </div>
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();sendEmail()">
                    <img src="img/Email.png" />
                    <div class='buttonC-text' style="white-space:nowrap">E-Mail</div>
                </div>
            </div>
        </div>
</ion-content>
</ion-view>