<ion-view>
    <div class="bar bar-subheader">
        <div class="list">
            <label class="item item-input item-date">
                <div class="input-label cwhite">
                    Date :
                </div>
                <input type="date" ng-model="dyRptDt" ng-change="getDayReports()" />
            </label>
        </div>
    </div>
    
    <ion-content class="headertop" style="background-color:#f6eeee">

        <ion-list>
             <div class="list list-inset">
            <div class="select-component" ng-if="desigCode != 'STOCKIST'" ng-hide="view_MR">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 103)">
                            {{(Mypln.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'">
                <div class="label">
                    <div class="label-text">Cluster</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 102, Mypln.subordinate.selected.id)">
                            {{(Mypln.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Cluster"  }}
                        </div>
                    </div>
                </div>
            </div>  -->
              <div class="select-component" ng-if="desigCode != 'STOCKIST'">
                <div class="label">
                    <div class="label-text">Stockist</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 104, Mypln.subordinate.selected.id)">
                            {{(Mypln.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
              </div></div>
            <ion-item  ng-repeat="item in dayDCRList">
                <div class = "row">
                    <div class = "col col-30">Route Name</div>
                    <div class = "col">: {{item.RouteName|| "-"}}</div>
                </div>
                <div class = "row" ng-if="desigCode == 'STOCKIST'">
                    <div class = "col col-30">Name</div>
                    <div class = "col" style="color: #B3B3B3">: {{item.Name|| "-"}}</div>
                </div>
                <div class = "row">
                    <div class = "col col-30">Productivity Achieved</div>
                    <div class = "col" style="color: #B3B3B3">: {{item.productivity_achieved|| "-"}}</div>
                </div>
                <div class = "row">
                    <div class = "col col-30">Target Value</div>
                    <div class = "col" style="color: #B3B3B3">: {{item.routeTarget|| "-"}}</div>
                </div>
                <div class = "row">
                    <div class = "col col-30">Actual Value</div>
                    <div class = "col" style="color: #B3B3B3">: {{item.orderVal|| "-"}}</div>
                </div>
                 <div class = "row">
                    <div class = "col col-30">% achieved</div>
                    <div class = "col" style="color: #B3B3B3">: {{item.perAchieved|| "-"}}</div>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
