<ion-view>
    <ion-content>    
        
        <div class="row">
            <div class="col col-40">
                Product Name
            </div>
            <div class="col col-40">
               File Name
            </div>
           <div class="col"></div>
        </div>
        <div ng-repeat="item in products">
          <div class="row">
            <div class="col col-40">
                {{item.Product_Detail_Name}}
            </div>
              <div class="col col-40">
                 {{item.File_Name}}
              </div>
            <div class="col">
                <button ng-click="view(item)" class="button button-small button-balanced">View</button>
            </div>
        </div>
            </div>
</ion-content>
    
</ion-view>