
﻿<div class="modal">

    <ion-content style="background-color:#f6eeee;">
        <div class="list">
            
       </div>
           

    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <button class="button button-clear button-primary" ng-click="vibrate();
            modal.hide()">Close</button>
        <button class="button buttonClear  button-positive pull-right" style="width:80px;" ng-click="vibrate();modal.rejSend()">Ok</button>
       
    </ion-footer-bar>
</div>

