<?xml version='1.0' encoding='utf-8'?>
<widget id="com.saneforce.dnetfmcg" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SAN SALES</name>
    <description>
        sanEforce E-Reporting Application
    </description>
    <author email="anbu@saneforce.com" href="SANeForce.com">
        SANeForce.com
    </author>
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
    <param name="android-package" value="org.apache.cordova.Device" />
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
    <param name="android-package" value="nl.xservices.plugins.Toast" />
    <gap:plugin name="nl.x-services.plugins.toast" version="1.0" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="KeepRunning" value="true" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <preference name="fullscreen" value="false" />
    <preference name="CrosswalkAnimatable" value="true" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-app-preferences" spec="git+https://github.com/apla/me.apla.cordova.app-preferences.git" />
    <plugin name="cordova-plugin-googleplus" spec="^5.2.1">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.69742712923-otvgc865s7dpqupc2v44i73fhhp9bs51" />
        <variable name="PLAY_SERVICES_VERSION" value="15.0.1" />
    </plugin>
    <plugin name="cordova-plugin-phone-call" spec="git+https://github.com/lakshmansha/cordova-plugin-phone-call.git" />
    <plugin name="org.apache.cordova.inappbrowser" spec="~0.2.2" />
    <plugin name="com.darktalker.cordova.screenshot" spec="https://github.com/gitawego/cordova-screenshot.git" />
    <plugin name="cordova-plugin-keyboard" spec="^1.2.0" />
    <plugin name="cordova-plugin-file-opener2" spec="^2.0.19">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <engine name="android" spec="~6.2.3" />
</widget>
