* {
    padding: 0px; 
    margin: 0px;         
}
	body {
	
	font:12px/20px Arial;
	
	}
h1 {
    font: bold 32px Times;
	color: #666;
	text-align: center;
	padding: 20px 0;    
}
#container {
    width: 700px;
    margin: 10px auto;
}
.BUTTON
{
    font-size:14px;
    font-family:Calibri;
}
#wrapper{
	
	margin:0 auto;
	
}
.mGrid { width: 100%; /*background:url(menubg.gif) center center repeat-x;*/ background:white; }
    .mGrid td { padding: 2px; border: solid 1px Black; border-color:Black; border-left: solid 1px Black;border-right: solid 1px Black; border-top: solid 1px Black; font-size:small; font-family:Calibri}   


    .mGrid th { padding: 4px 2px; color:white; background:#A6A6D2; border-color:Black; border-left: solid 1px Black;border-right: solid 1px Black; border-top: solid 1px Black; border-bottom:solid 1px Black; font-weight:normal; font-size: small; font-family:Calibri }

.mGrid .pgr {background: #A6A6D2; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; text-align:left; border-left: solid 1px #666; font-weight: bold; color: White; line-height: 12px; }   
    .mGrid .pgr th { background: #A6A6D2;}
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
    
.normal
{
    background-color:white;
}
.highlight
{
    background-color:#FFFACD;
}

.div_fixed        
{
    position:fixed;
    top:400px;
    right:5px;
}
      .modal
    {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }
    .loading
    {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }