<ion-view>
   
    <ion-content> 
                <div ng-if="getTPlength===0" style="color:red">No Data..</div>

        <div   ng-if="getTPlength!==0">

        <div class="card Tbrd">
                        <h4 style="color:#39ac08;"> {{date}}<span class="item-note" style="color:#39ac08;white-space:nowrap !important;">{{worktype}}</span></h4>

          
            <div class="propCase">Place : <b style="color:#4800ff">{{place}}</b></div>
            </div>

        <div style="background-color: rgb(241, 241, 241)">
              <div class = "row">
                        <div class = "col col-25" style="color:black;font-weight:bold;">Allowance</div>
                        <div class = "col">
                          <input type="number" class="StyleTextbox" style="color:#7e0ca5" ng-change="total($event)" ng-model="data.allowance" />
                        </div>
                    </div>
              <div class = "row">
                        <div class = "col col-25" style="color:black;font-weight:bold;">Distance</div>
                        <div class = "col">

                           <input type="number" class="StyleTextbox" style="color:#7e0ca5" ng-model="data.distance"/>
                        </div>
                    </div>
              <div class = "row">
                        <div class = "col col-25" style="color:black;font-weight:bold;">Fare</div>
                        <div class = "col">
                             <input type="number" class="StyleTextbox" style="color:#7e0ca5" ng-model="data.fare" ng-change="total($event)"/>
                        </div>
                    </div>
               <div class = "row">
                        <div class = "col col-25" style="color:black;font-weight:bold;">Total</div>
                        <div class = "col" >
                            <input type="text" ng-model="data.tot" class="StyleTextbox" style="font-weight:bold;color:green" disabled/>
                        </div>
                    </div>
        </div>
        <div style="margin-top:10px;">
        <div class="row"  style="background-color:#f6eeee">
  <div class="col col-33" style="color:black;font-weight:bold;">
       Parameter
  </div>
  <div class="col col-20" style="color:black;font-weight:bold;">
    Type
  </div>
  <div class="col col-25" style="color:black;font-weight:bold;">
      Amount
  </div>
  <div class="col">
      </div>
</div></div>
<div ng-repeat="(i,cont) in extraDetails" style="background-color: rgb(241, 241, 241)">
  <div class="row">
  <div class="col col-33">
       <input type="text"  class="StyleTextbox" style="color:black" ng-model="cont.parameter"/>
  </div>

  <div class="col col-20">
     <!-- <input type="text" ng-model="cont.a_number"/>
      <input type="radio" ng-model="cont.a_number" value="+"> +<br>
  <input type="radio" ng-model="cont.a_number" value="-"> -<br> -->
<label class="toggle toggle-calm">
       <input type="checkbox"  ng-model="cont.type" ng-change="calculateTot($event)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>  </div>
  <div class="col col-25">
              <input type="number" class="StyleTextbox" ng-style="cont.type==true?{'color': 'green'}:{'color': 'red'}"  ng-model="cont.amount" ng-change="calculateTot($event)"/>
  </div>
  <div class="col">
    <button class="button button-small button-balanced icon ion-plus-round" ng-click="addFields()"></button>
    <button ng-if="i!=0" class="button button-small button-assertive icon ion-close-round" ng-click="delete(i);calculateTot($event)"></button>
  </div>
</div>

</div>
        <div class="row">
            <div class="col col-40">
                
            </div>
             <div class="col" style="font-weight:bold">
                 Total<span style="font-weight:bold" ng-style="amttot>0?{'color': 'green'}:{'color': 'red'}">   {{amttot}}</span>
            </div>
           
        </div>
        <div class="row">
            <div class="col col-80"></div>
            <div>
      <button class="button button-small button-balanced" ng-click="submit()">Save</button>

            </div>
        </div>
        </div>
        </ion-content>
    </ion-view>