<ion-view class="ion-viewport">
    <ion-content >
        <ion-list>   
                              <ion-item ng-click="vibrate();goTo('LeaveForm')">
            <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;" >
         Leave Form
            </span>
        </ion-item>                   
        <ion-item ng-click="vibrate();goTo('RCPA')">
            <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;" >
         Market Audit
            </span>
        </ion-item>
              
        <ion-item ng-click="vibrate();goTo('ExpenseEntry')" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">
      Expense Entry
            </span>
        </ion-item>
              <ion-item ng-click="vibrate();goTo('TourPlan')" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">
        TP Entry
            </span>
        </ion-item>
    
      </ion-list>
        </ion-content></ion-view>