<ion-view class="ion-viewport">
    <!--ng-if="view_STOCKIST==0"-->
    <ion-content class="screen-parent">
         <div class = "row" ng-if="view_STOCKIST == 0&&Mypln.worktype.FWFlg=='DH'"  style="margin-top:1%;">
            <div class = "col col-50 col-offset-2">
                <div class="div" ng-click="vibrate();
                    goToCustomer(7)">
                    <div   class="div-cont" style='width: 670px'>
                        <img  width="50" height="50" src="img/stockist.png">
                        <div class="tex">{{StkCap}} Hunting</div>
                    </div>
                </div>
            </div>
           
           
        </div>
       
        <div class = "row" ng-if="view_STOCKIST == 0&&Mypln.worktype.FWFlg!='DH'"  style="margin-top:1%;">
            <div class = "col col-50 col-offset-2">
                <div class="div" ng-click="vibrate();
                    goToCustomer(1)">
                    <div   class="div-cont" style='width: 670px'>
                        <img  width="50" height="50" src="img/Doctor1.png">
                        <div class="tex">{{EDrCap}}</div>
                    </div>
                </div>
            </div>
            <!--<div class = "col col-50 col-offset-2">
                <div class="div" ng-click="vibrate();
                    goToCustomer(2)">
                    <div class="div-cont" style='width: 670px'><img width="50" height="50" src="img/chemist.png" >
                        <div class="tex">{{EChmCap}}</div></div>
                </div>
            </div>-->
            <div class = "col col-50 col-offset-2" ng-if="StkNeed==0">
                <div class="div" ng-click="vibrate();
                    goToCustomer(3)" ng-if="view_MR!==1">
                    <div class="div-cont" style='width: 670px'><img width="50" height="50" src="img/stockist.png">
                        <div class="tex">{{EStkCap}}</div>
                    </div>
                </div>
            </div>
            <!--<div class = "col col-50 col-offset-2">
                <div class="div" ng-click="vibrate();
                    goToCustomer(4)">
                    <div class="div-cont" style='width: 670px'>  <img  width="50" height="50" src="img/doctor.png">
                        <div class="tex">{{ENLCap}}</div></div>
                </div>
            </div>-->
        </div>

        <div class="row">
            <div class="col  col-offset-2 col-50">
                <div ng-if="view_STOCKIST == 1" ng-click="vibrate();
                    goToCustomer(5)">
                    <div class="div">
                        <div class="div-cont" style='width: 670px'>
                            <img  width="50" height="50" src="img/Doctor1.png">
                            <div class="tex">Stock Updation</div>
                        </div></div>
                </div>
            </div>
            <div class="col col-offset-2 col-50">
                <div ng-if="view_STOCKIST == 1" ng-click="vibrate();
                    goToCustomer(6)">
                    <div class="div">
                        <div class="div-cont" style='width: 670px'>
                            <img  width="50" height="50" src="img/stockist.png">
                            <div class="tex">Stock View</div>
                        </div></div>
                </div>
            </div>
        </div>


        <div class="gridcontainer" ng-if="view_STOCKIST == 0 && desigCode == 'MR'" style="margin-top: -15px;">
            <div class="gridwrapper">
                <div class="gridbox gridleft">
                    <div class="right">

                        <div class="item" style="background-color: #f1f1f1;border:1px solid lightgray;border-bottom: none;margin: 10px;margin-bottom: 0px;">
                            <div style="text-align: center;color:#0a5617;font-weight: bold">
                                This Month
                            </div>
                            <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align:middle;'></span> Total {{DrCap}}
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.vwCalls.totalRetailor||0}}
                                </div>
                            </div>

                            <!--                            <div class="row">
                            
                                                            <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                                                <span style='display:inline-block;width: 10px;height: 10px;background-color: #14bcc1;'></span> Non-P.Calls
                                                            </div>
                                                            <div class="col" ng-click="ViewDetail(modal.vwCalls.Acode, 1, modal.vwCalls.Adate, 0)" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                                                :
                                                                {{modal.vwCalls.calls - modal.vwCalls.order||0}}
                                                            </div>
                                                        </div>-->
                            <div class="row">

                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;background-color: #f8756e;text-align: middle;'></span> P.Calls
                                </div>
                                <div class="col"  style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.monthvwCalls.order||0}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Order Value
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.monthvwCalls.orderVal||0}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Productivity
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.monthvwCalls.productivity||0}}
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> 
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item parentbox" style="background-color: #f1f1f1;border:1px solid lightgray;border-top: none;margin: 10px;margin-top: 0px;">
                            <!--                <canvas id="pie" class="chart chart-pie circle02"  width="250" height="210"
                                                    chart-data="data" chart-labels="labels" chart-options="options" chart-colors='colors' chart-legend="true">
                                            </canvas>  -->
                            <div class="childbox">
                                <canvas id="pie" class="chart chart-pie"  
                                        chart-data="monthdata" chart-labels="labels" chart-options="options" chart-colors='colors' 
                                        style=';width: 383px;height: 190px;' chart-legend="true">
                                </canvas>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="gridbox gridright">
                <div class="right">
                    <div>
                        <div class="item" style="background-color: #f1f1f1;border:1px solid lightgray;border-bottom: none;margin: 10px;margin-bottom: 0px;">
                                           <span class="icon" style="display: block;width: 35px;height: 35px;border-radius: 5px;padding:3px;line-height:20px;border:1px solid #dcdcdc;float:right;margin-top: -3px;margin-Bottom: 3px;margin-right: -13px;" ng-click="viewDashboard();"><img width="27px" height="27px" src="img/Dash.png" /></span>

                               <div style="text-align: center;color:#0a5617;font-weight: bold">
                                Today
                            </div>
                            <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Total {{DrCap}}
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.vwCalls.totalRetailor||0}}
                                </div>
                            </div>
                            <!--                            <div class="row">
                            
                                                            <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                                                <span style='display:inline-block;width: 10px;height: 10px;background-color: #14bcc1;'></span> Non-P.Calls
                                                            </div>
                                                            <div class="col" ng-click="ViewDetail(modal.vwCalls.Acode, 1, modal.vwCalls.Adate, 0)" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                                                :
                                                                {{modal.vwCalls.calls - modal.vwCalls.order||0}}
                                                            </div>
                                                        </div>-->
                            <div class="row">

                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;background-color: #f8756e;text-align: middle;'></span> P.Calls
                                </div>
                                <div class="col" ng-click="ViewDetail(modal.vwCalls.Acode, 1, modal.vwCalls.Adate, 1)"  style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.vwCalls.order||0}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Order Value
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.vwCalls.orderVal||0}}
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Route Target
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{rootTarget||0}}
                                </div>
                            </div>
                               <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Remaining Amount
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{remaining||0}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">
                                    <span style='display:inline-block;width: 10px;height: 10px;text-align: middle;'></span> Productivity
                                </div>
                                <div class="col" style="font-weight: bolder;font-family: sans-serif;color: rgb(201, 23, 23);font-size: 14px;">:
                                    {{modal.vwCalls.productivity||0}}
                                </div>
                            </div>
                        </div>
                        <div class="item parentbox" style="background-color: #f1f1f1;border:1px solid lightgray;border-top: none;margin: 10px;margin-top: 0px;">
                            <!--                <canvas id="pie" class="chart chart-pie circle02"  width="250" height="210"
                                                    chart-data="data" chart-labels="labels" chart-options="options" chart-colors='colors' chart-legend="true">
                                            </canvas>  -->
                            <div class="childbox">
                                <canvas id="pie" class="chart chart-pie"  
                                        chart-data="data" chart-labels="labels" chart-options="options" chart-colors='colors' 
                                        style=';width: 383px;height: 190px;' chart-legend="true">
                                </canvas>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--</div>-->
        <div id="inf" style="display:none"></div>
    </ion-content>



</ion-view>