<ion-view>
    <ion-content>    
          <div style="margin-top:10px;">
        <div class="row"  style="background-color:#f6eeee">
  <div class="col col-70" style="color:black;font-weight:bold;">
       Name
  </div>
  <div class="col col-30" style="color:black;font-weight:bold;">
    <p style="float:right;">View</p>
  </div>
</div></div>
<div ng-repeat="(i,x) in subordinates" style="background-color: #FFFF">
  <div class="row">
  <div class="col col-70">
      {{x.name}}
  </div>


  <div class="col col-30">
       <img src="img/view.png" title="View" style="height:30px;width:30px;float:right;" ng-click="view(x)">      
  </div>
  
</div>

</div>  

           
</ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
    </ion-footer-bar>
</ion-view>