<style>
    .custom .ro .co:first-child{
        width: 30%;
    }
</style>
<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Notofications</h1>
    </ion-header-bar>
    <ion-content>
        <div class="data-table custom"  id="idOrdDetail">        
            
            <div class="ro">
                <div class="co">
                   Subject
                </div>
                <div class="co">
                    {{modal.draft.Subject}}
                </div>                        
            </div>
             <div class="ro">
                <div class="co">
                   Message 
                </div>
                <div class="co">
                    {{modal.draft.NtfyMsg}}
                </div>                        
            </div>
        
            <div class="ro" >
                <div class="co">
                    Date
                </div>
                <div class="co">
                    {{modal.draft.CrDt | date:'medium'}}
                </div>                        
            </div>       
        </div>     
              
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <button style="
    margin-top: -8px;
" class="button button-clear button-primary"  ng-click="vibrate();modal.hide()">Close</button>
    </ion-footer-bar>
</div>