<ion-view>
    <div >
        <div class="bar bar-subheader noborder" style="margin-top: 9px;" ng-hide="view_MR">
            <div class="item item-input item-selectH noborder">
                <div class="input-label cwhite">Headquarters :</div>
                <div class="cwhite" style="width:80%;border-bottom:solid #4cff00 1px;" ng-click="openModal(allsubs, 40)">
                    {{(MnthSumm.subordinate.selected.id| getValueforIDD : {'collection' : allsubs}).name || "Select the Fieldforce Name"  }}
                </div>
            </div>
        </div>
        <div class="bar bar-subheader noborder" style="top:{{subhdTop}};">
            <label class="item item-input item-date noborder">
                <div class="input-label cwhite">Month - Year :{{mnthDt}}</div>
               
            </label>
        </div>
    </div>
    <ion-content style="color:#f6eeee;top:{{CntvwTop}};">
        <div>{{MnDCR.Order_Value}}</div>
        <div class="card Tbrd{{MnDCR.Desig_Code}}" style="margin-top: 59px;" ng-repeat="MnDCR in MnthDCRList">
       <span style="color: #111;font-size: small;margin-top: -13px;">Retailer :</span>
      <h5 style="margin-top: 3px;">{{MnDCR.Trans_Detail_Name}}</h5>
          <span style="color: #111;font-size: small;margin-top: -13px;">Distributor :</span>
       <h5 style="margin-top: 3px;">{{MnDCR.stockist_name}}</h5> 
             
           <div class="row" style="margin-top: -13px;margin-left: -10px;">
             <div class="col col-50"  style="color: #111;font-size: small;">Start Time</div>
             <div class="col col-50"  style="color: #111;font-size: small;">End Time</div>
              
          </div>
            <div class="row" style="margin-top: -13px;margin-left: -10px;">
                    <div class="col col-50">
                         <h5 style="margin-top: 3px;">{{MnDCR.tm}}</h5>
                    </div>
                    <div class="col col-50">
                        <h5 style="margin-top: 3px;">{{MnDCR.tm}}</h5>
                    </div>
                </div>
            <div class="propCase" style="margin-top: -13px;"><span style="color: #111;"> <b >Order Value :</b>  <h5 style="margin-top: 3px;">{{MnDCR.Order_Value}}</h5></span>
                
            </div>
            
           <div class="propCase" style="margin-top: -6px;"><span style="color: #111;" > <b>Remarks :</b> <h5 style="margin-top: 3px;">{{MnDCR.Activity_Remarks}}</h5></span>
                
            </div>
          
            <div class="propCase" style="color: #111;margin-top: -6px;">  <b>Worked At : </b><h5 style="margin-top: 3px;"> {{MnDCR.SDP_Name}}</h5></div>
           
                <!--
                <div class="item item-text-wrap">{{MnDCR.wtype}}</div>
                <div class="item item-text-wrap"></div>
                <div class="item item-text-wrap"></div>
                <div class="item item-text-wrap"></div>
                <div class="item item-text-wrap"></div>
                -->
                 </div>  
            </div>
    </ion-content>
    <ion-footer-bar class="bar-dark bar bar-footer">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
    </ion-footer-bar>
</ion-view>