<ion-view>
    <ion-content>    
     <div class="select-component" ng-hide="view_MR">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 512)">
                            {{(Retailer.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"}}
                        </div>
                    </div>
                </div>
            </div>  
        <div>
        <div class="list">
            <label class="item item-input item-date">
                <div class="input-label cwhite">
                    Month :
                </div>
                <input type="month" ng-model="ExpRptDt" ng-change="GetStatus(ExpRptDt)" />
            </label>
        </div>
    </div>
       <div class="card Tbrd1" style="border-radius:19px;" > 

   <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Applied Amount
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color: white;background: #FF920B;border-radius: 13px;height: 33px;border: double;text-align: center;">
    {{ExpenseViewls.Ap_Amount||0}}
  </div>
</div> 
      <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
    Approved Amount
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color: white;background: #FF920B;border-radius: 13px;height: 33px;border: double;text-align: center;">
    {{ExpenseViewls.Aprove_Amount||0}}
  </div>
</div> 

</div>   
  <div class="card Tbrd1" style="border-radius:19px;"  ng-repeat="PA in ExpenseView"> 

   <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Expense_Date}}
  </div>
</div> 
      <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
    Worktype
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Expense_wtype}}
  </div>
</div> 
<div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
    Place
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Place_of_Work}}
  </div>
</div>

<!-- <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     DA
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Expense_DA}}
  </div>
</div> 

<div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Fare
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Expense_Fare}}
  </div>
</div>  -->
<div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Distance(KM)
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Expense_Distance}}
  </div>
</div>

<div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Remarks
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Remarks}}
  </div>
</div>


  <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Total
  </div>
  <div class="col col-40" style="color:black;font-weight:bold;color: white;background: #FF920B;border-radius: 13px;height: 33px;border: dashed;text-align: center;">
    {{PA.Daily_Total}}
  </div>
</div>
  <!--   <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     End Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.End_Date}}
  </div>
</div>  -->     
        <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Status
  </div>
  <div ng-if=(PA.Flag==3)  class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Exp_Status}}
  </div>
  <div ng-if=(PA.Flag==2)  class="col col-50" style="color:black;font-weight:bold;color:#ff0000">
    :{{PA.Exp_Status}}
  </div>
  <div ng-if=(PA.Flag==0)  class="col col-50" style="color:black;font-weight:bold;color:#ffa500">
    :{{PA.Exp_Status}}
  </div>
</div>       
</div>  
      
</ion-content>
   <ion-footer-bar class="bar-dark bar bar-footer">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
       </ion-footer-bar>
</ion-view>

