

<ion-view>  
        <ion-content>
          
              
               <div class="item" ng-repeat="(i, Prodtv) in productdetailing">
                  <div class = "row">
                   <div class = "col-80"><span style="color:black;font-weight:bold">{{i+1}}</span> {{Prodtv.Product_Detail_Name}}
                       <span style="color:black;font-weight:bold"></span> 
                  <div class="col">
                    <span style="color:#cc2311;font-weight:bold">{{Prodtv.LanguageName}}</span>    
                  </div>
                   </div>
                   <div class = "col-20" style="
    margin-top: -11px;
">
                    <div class="col">
              <img src="img/download.png" title="Download" style="height: 30px;
    width: 30px;" ng-click="download(Prodtv.File_Name,Prodtv.File_Type)"/>
                </div>
                 <div class="col">
                               <img src="img/view.png" title="View" style="height: 30px;
    width: 30px;" ng-click="view(Prodtv.File_Name,Prodtv.Content_type,Prodtv.File_Type)"/>
                             </div>
                    </div>
                  </div>
          </div>
       </ion-content>
     <ion-footer-bar class="bar-dark bar bar-footer">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
    </ion-footer-bar>
   </ion-view>