<ion-view>
   <div class="list list-inset" style="margin: 0px;margin-top: 54px;padding: 16px 10px 5px 10px;background-color: #f9f9f9;/* margin: 0px; */">
      <label style="font-size: 100%;font-weight: bold;padding: 5px;" ng-if="fmcgData.customer.selected.id == 3">
      {{StkCap}} Name : {{(fmcgData.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
      </label>
       <div class="select-component" ng-if="SF_type==2&&fmcgData.editable!=1">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 144)">
                            {{(stockUpdation.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>
      <div class="select-component" ng-if="SF_type==1&&fmcgData.editable!=1">
         <div class="label">
            <div class="label-text">{{StkCap}}</div>
         </div>
         <div class="select-box">
            <div class="input-box">
               <div class="input-css" ng-click="vibrate();openModal(allstockists,44)">
                  {{(stockUpdation.stockist.selected.id| getValueforIDD : {'collection' : allstockists}).name || "Select "+StkCap}}
               </div>
            </div>
         </div>
      </div>
      <h4>
         <div style="background-color:#1ac0d6;font-weight:bold;color:white">Last Updation Date: <span>{{LastUpdationDate}}</span></div>
      </h4>
   </div>
   <div    class="col col-100 gh" style="text-align:right;background-color:#fff;padding:0px 10px; box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.23) !important;
      " >
      <span class="clearable">
      <input type="text" ng-change="searchChange(searchText)"    ng-model="searchText" placeholder="Search">
      <i class="clearable__clear">&times;</i>
      </span>
   </div>
   <ion-content  scroll="true" class="has-subheader" padding="true" style="overflow: none; margin-top: 209px;    z-index: -1;">
      <ion-list>
      <div class="list-item"  ng-repeat="item in CatewsBillProd">
         <!-- ng-click="vibrate();filterProd(item);" -->
         <div class="item-divider" ng-click="vibrate();filterProd(item);" style="border: 1px solid #f3ebeb;color: rgb(26, 192, 214);">
            {{item.name}}<span style="float:right;padding:0px 5px"> <i class="arrow right"></i> </span>
         </div>
         <div class="item-divider row" ng-if="item.Products" ng-hide="!item.ShowProd" style="padding:0px;border-bottom: dotted 1px #cac5c5;">
          <div class="col col-10" ng-if="Product_img_nd==1" ></div>
            <div class="col col-90" style="padding:0px;margin:0px">
               <div class="row" style="padding:0px;margin:0px">
                    <div class="col col-16 gh" style="color:#6e7173;">Rate</div>
                  <div class="col col-20 gh" style="color:#6e7173;">Case</div>
                  <div class="col col-20 gh" style="color:#6e7173;">Piece</div>
                  <div class="col col-30 gh" ng-if="Cl_MfgDtNeed==1" style="color:#6e7173;">Mfg</div>
                  <div class="col col-30 gh" style="color:#6e7173;">Value</div>
                  
               </div>
            </div>
         </div>
         <div ng-repeat="itmProd in item.Products | myFilter : {name:searchText}" ng-hide="!item.ShowProd" class="col" style="background-color:#fff;padding:0px;border-bottom: dotted 1px #cac5c5;"   >
            <div class="row" style="padding-top: 0px;">
                 <div class="col col-10" ng-if="Product_img_nd==1" ></div>
               <div class="col col-100">
                  <div class="row" style="padding-top: 0px;">
                     <div class="col" style="font-size:13px;padding:5px 0px;color:#333;">{{itmProd.product_Nm}}</div>
                  </div>
                  <div class="row" style="margin-bottom: 8px;border-bottom: solid 1px #f9f9f9;">
                      <div style="padding:0px 5px"   class="col col-15gh">
                        <input type="text"  style="margin-top: -7px;
" ng-model="itmProd.Rate" readonly="true" />
                     </div>
                     <div style="padding:0px 5px;margin-left: -27px;" class="col col-18" >
                        <input type="number" ng-model="itmProd.rx_qty" class="efield" ng-focus="resetfBx(itmProd,0)" ng-change="pRowCalcc(itmProd,item)" ng-blur="resetlBx(itmProd,0)" ng-mouseup="$event.preventDefault();" />
                     </div>
                     <div style="padding:0px 5px" class="col col-18gh">
                        <input type="number" ng-model="itmProd.Prx_qty" class="efield" ng-focus="resetfBx(itmProd,1)" ng-change="pRowCalcc(itmProd,item)" ng-blur="resetlBx(itmProd,0)" ng-mouseup="$event.preventDefault();" />
                     </div>
                      <div style="padding:0px 5px" ng-if="Cl_MfgDtNeed==1" class="col col-25">
                        <input type="text" style="    border-radius: 5px;color: #444;border: solid;border-color: #aaa;" ng-model="itmProd.Mgf_date"/>
                     </div>
                     <div style="padding:0px 5px" class="col col-30">
                        <input type="number" ng-model="itmProd.sample_qty" class="efield" ng-focus="resetfBx(itmProd,1)" ng-blur="resetlBx(itmProd,0)" ng-mouseup="$event.preventDefault();" readonly="true" />
                     </div>
                  </div>
               </div>
            </div>
            <div style="height:1px"></div>
         </div>
      </div>
      </div>
      <div class="row moveDown">
         <div class="col">
            <div class='buttonC-container left-sidepull'  ng-if="Closing_EVN_Nd==1" ng-click="vibrate();openOptMenu()">
               <div class="buttonC">
                  <i class="icon ion-images footer-icon" style="line-height: 45px;"></i>
               </div>
               <div class='buttonC-text'>Event Captures</div>
            </div>
         </div>
      </div>
      
      <!-- <button  class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
         editOrder()">Save</button> -->
         <ion-footer-bar class="bar-dark">
         <button class="button buttonClear  button-balanced pull-left" ng-if="fmcgData.editable!==1 && editing==0 " ng-click="vibrate();editOrder(1)">Edit</button>
       <!--   <button class="button buttonClear  button-assertive pull-left" ng-if="editing==0 && fmcgData.editable==1" ng-click="vibrate();refresh()">Cancel</button> -->
         <button class="button buttonClear  button-balanced pull-right" ng-if="editing!=0 || fmcgData.editable==1" ng-click="vibrate();editOrder(0)">Submit</button>
    </ion-footer-bar>
      <div style="height: 50px">
      </div>
   </ion-content>
</ion-view>