

<ion-view>
    <ion-content>
                <ion-list >
                    
                    <div style="background-color: white;padding: 0px" class="item-card" ng-repeat="ListofNotifyy in customerNotofy | limitTo:limit" >
                         <div class="row"  ng-click="preView(ListofNotifyy);">
                            <div class="col col-15">
                              <div style="display:block;width:40px;height:40px;background: #eae1e1;border-radius:20px;float:left;"></div>
                              </div>
                            <div class="col col-85" >
                               <div style="font-size: 13px;margin-top: 11px;">{{ListofNotifyy.Subject}}
                              
                          </div>
                          <label  ng-if="ListofNotifyy.Active_Flag==0"  style="float: right;margin-top: -25px;font-size: 70%;margin-left: 5px;"  >
                            
                            <img  src="img/read.png"  />
                          </label>
                           <div style="float: right;margin-top: -19px;font-size: 70%;"> 
                             {{ListofNotifyy.CrDt | date }}
                          </div>

                          
                  
                          </div>

                          
                           </div>

                    </div>
<span style="float:right;font-size: small;padding: 0px 9px;color: #f8920b;" ng-click='loadMore()' class="">See More...</span>
<h2 ng-if="Gift_Claim==1" style="font-size: small;padding: 0px 9px;color: #f8920b;"  class="">Gift Remainder</h2>
<div style="background-color: white;padding: 0px" class="item-card" ng-repeat="NotifyGIft in NotifyGIft"  ng-if="Gift_Claim==1">

                        
                         <div class="row"  >
                            <div class="col col-15">
                              <div style="display:block;width:40px;height:40px;background: #eae1e1;border-radius:20px;float:left;"></div>
                              </div>
                            <div class="col col-85" >
                               <div style="font-size: 13px;margin-top: 11px;">{{NotifyGIft.name}}
                              
                          </div>
                         
                           
<div style="float: right;margin-top: -8px;font-size: 70%;">End Date: 
                             {{NotifyGIft.Claim_deadline | date }}
                          </div>
                          
                  
                          </div>

                          
                           </div>

                    </div>



                    
             
                </ion-list>
        
       
    </ion-content>
</ion-view>