<ion-view class="ion-viewport">

    <ion-content  class="screen-parent" >
          <div class="select-component"  style="margin-top: 29px;" >
            <div class="label">
               <div class="label-text">Payment Type</div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <div class="input-css" ng-click="vibrate();openModal(instrumenttypes,27)">
                     {{(fmcgData.instrumenttype.selected.id| getValueforIDD : {'collection' : instrumenttypes}).name || "Select Instrument Type"}}
                  </div>
               </div>
            </div>
         </div>
         <div class="select-component">
            <div class="label">
               <div class="label-text">Date Of Payment</div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <input  type="date" ng-model="fmcgData.dateofinst" class="input-css" placeholder="Date Of Instrument" ng-click="vibrate();"> 
               </div>
            </div>
         </div>
         <div class="select-component" >
            <div class="label">
               <div class="label-text">Collected Amount</div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <input type="number" ng-model="fmcgData.pob" class="input-css" placeholder="Collected Amount " ng-click="vibrate();"> 
               </div>
            </div>
         </div>

            

        </div>
<button class="button buttonClear  button-balanced pull-right"  ng-click="vibrate(); Save()">
                Save
</button>
    </ion-content>
<ion-footer-bar class="bar-dark">
  <button  class="button button-assertive buttonClear pull-left" ng-click="vibrate();
         goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>

    
    
</ion-footer-bar>
</ion-view>
