<ion-view>
    <ion-content>

        <div class="list list-inset">
            <div class="select-component" ng-hide="view_MR || fmcgData.Myresource==1" style="padding-bottom:10px;height:auto">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="item item-divider" style="height:50px;" ng-click=" vibrate();
                    openModal('subordinate_master', 38)">
                    {{(precall.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name  || "Select the Headquarters"}}
                </div>
            </div>
            <div class="select-component" ng-hide="fmcgData.Myresource==1">
                <div class="label">
                    <div class="label-text">Route</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('town_master', 32, precall.subordinate.selected.id)">
                            {{(precall.cluster.selected.id| getValueforIDD : {'collection' : clusters}).name  || "Select Route Name"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component"  ng-hide="fmcgData.Myresource==1" style="padding-bottom:10px;height:auto">
                <div class="label">
                    <div class="label-text">{{DrCap}} Name</div>
                </div>
                <div class="item item-divider" style="height:50px;" ng-click=" vibrate();
                    openModal('doctor_master', 36, precall.subordinate.selected.id)">
                    {{(precall.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select " + DrCap + " Name"}}
                </div>
            </div>

           <div class="select-component" >
            <div class="label" style="
    margin-top: 19px;
">
               <div class="label-text">Slab Type</div>
            </div>
            <div class="select-box" >
               <div class="input-box">
                  <div class="input-css" ng-click="vibrate();openModal(SlabTypespre,127)">
                     {{(fmcgData.SlabTypes.selected.id| getValueforIDD : {'collection' : SlabTypespre}).name || "Select Slab Type"}}
                  </div>
               </div>
            </div>
         </div>

    <div class="select-component" >
                <div class="label" style="
        margin-top: 19px;
    ">
                   <div class="label-text">Gift Claim</div>
                </div>
                <div class="select-box" >
                   <div class="input-box">
                      <div class="input-css" ng-click="vibrate();openModal(GiftEnrolmentpre,128)">
                         {{(fmcgData.GiftClaim.selected.id| getValueforIDD : {'collection' : GiftEnrolmentpre}).name || "Select Gift Claim"}}
                      </div>
                   </div>
                </div>
             </div>


            <ion-list style="font-size:16px;background-color: green">
                <div>
                    <div class = "row">
                        <div class = "col col-70">SVL No</div>
                        <div class = "col"  style="color:green;">: {{vwPreCall.SVL|| "-"}}</div>
                        
                    </div>

                <div class = "row">
                  <div class = "col col-30">Slab</div>
                  <div class = "col" style="color:green;">:{{vwPreCall.SlabName|| "-"}}</div>
                  
               </div>

              <div class = "row">
                  <div class = "col col-30">GiftName</div>
                  <div class = "col" style="color:green;">:{{vwPreCall.Giftenrol_Name|| "-"}}</div>
                  
               </div>


                    <div class = "row">
                        <div class = "col col-30">Retailer Channel</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.DrSpl|| "-"}}</div>
                    </div>

                    <div class = "row">
                        <div class = "col col-30">Class</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.DrCat|| "-"}}</div>
                    </div>
<!--                    <div class = "row">
                        <div class = "col col-30">Route Target</div>
                        <div class = "col" style="color:green;">: {{precall.rootTarget|| 0}}</div>
                    </div>
                    <div class = "row">
                        <div class = "col col-30">Productivity</div>
                        <div class = "col" style="color:green;">: {{precall.minProd|| 0}}</div>
                    </div>-->
<div class="row">
                     <div class="col txtCaption">Last Order Amount:</div>
                     <div class="col txtValue">{{vwPreCall.LastorderAmount|| "0"}}</div>
                  </div>
                    <div ng-repeat="item in StockistDetails track by $index">
                        <div class = "row">
                            <div class = "col col-30">{{StkCap}}</div>
                            <div class = "col">: 
                                <span ng-if="$index == 0"  style="color:green;">{{item.stockist_code|| "-"}}</span>
                                <span ng-if="$index > 0"  style="color:green;border-bottom: 1px solid black">{{item.stockist_code|| "-"}}</span></div>
                        </div>
                        <div class = "row">
                            <div class = "col col-30">Last 6 Order Average</div>
                            <div class = "col" style="color:green;">: {{item.Avg|| "-"}}</div>
                        </div>

                       
              <!--          <div class = "row">
                            <div class = "col col-30">Out Standing Amount</div>
                            <div class = "col" style="color:green;">: {{item.outStandingAmt|| "-"}}</div>
                        </div>
                        -->
                    </div>
                    <div class = "row">
                        <div class = "col col-30">Last visited</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.LVDt|| "-"}}</div>
                    </div>
                 <!--   <div class = "row">
                        <div class = "col col-30"> Call FeedBack</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.CallFd|| "-"}}</div>
                    </div>-->
                    <div class = "row">
                        <div class = "col col-30"> Remarks</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.Rmks|| "-"}}</div>
                    </div>
                </div>
            </ion-list>


        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button>


     <button  ng-click="
         Save()" class="button buttonClear pull-right">
              Save
          </button>  
</ion-footer-bar>
</ion-view>