<ion-view>
    
    <style>
	
        html, body, div, span, h1, h2, h3, h4, h5, h6, p, code, small, strike, strong, sub, sup, b, u, i {
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            margin: 0;
            padding: 0;
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
            font: normal 0.9em/1em "Helvetica Neue", Helvetica, Arial, sans-serif;
			
        }

        ol, ul {
            list-style: none;
        }

table_spec, th{
    border: 1px solid #cc2311;
}

        #frame {
            margin-top: 5%;
            width: 100%;
            border: 1px solid #ccc;
            background: white;
            padding-bottom: 20px;
        }
        .threed
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
        #content {
            font: normal normal 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
       
        }
       #div3 {
        background: linear-gradient(90deg,#f499c1,#77b7f3);
    height: 250px;
    text-align: center;
    width:auto;
}
#div {
    height: 15em;
    background: linear-gradient(90deg,#f499c1,#77b7f3);
    position: relative }
    #div p{
        margin: 0;
    font: normal bold 2em/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 1.50em;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   /* animation: type 0.25s steps(60, end); 
 overflow: hidden;*/
  }
 /* #div p:nth-child(2){
  animation: type2 3s steps(60, end);
}

  #div p:nth-child(3){
  animation: type3 6s steps(60, end);
}*/
#inputs{
  text-align:  left;
  overflow: hidden;
  color:#878181;
  font-style: italic;
  white-space: nowrap;
  width:100%;
  animation: type 1s steps(60, end); 
}
#inputs p:nth-child(2){
  animation: type2 3s steps(60, end);
}

  #inputs p:nth-child(3){
  animation: type3 6s steps(60, end);
}
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}
h4 {
    height: inherit;
    text-align: center;
    vertical-align: middle;
    font: normal bold 2em/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
     font-size: 1.50em;
    display: table-cell;
}
h4:after { /* trick to add bottom padding */
    content: '';
    display: inline-flex;
    height: 10px; 
}
@media (min-width:1281px) {
  .medcontent1 {
    padding-left:20%;
    padding-right:20%;
  }
}
@media (min-width:600px) {
  .medcontent1 {
    padding-left:20%;
    padding-right:20%;
  }
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
      /*  h3 {
            font: normal bold 2em/1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            font-size: 1.50em;
            background: linear-gradient(90deg,#f499c1,#77b7f3);
            padding: 10px ;
            width: auto;
            
        }*/

        h2 {
            font: italic bold 1.3em/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
           color:#8a6de9;
        }

        input[type=radio] {
            margin: 0 10px 5px -22px;
        }

        label {
           color:black;
           margin-top: 10px;
        }

        #score p {
            font-size: 0.95em;
            font-style: italic;
            color: #ff974e;
            float: right;
            margin: 5px 5px 0 0;
        }
        #score1:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        #score1 p {
            font-size: 0.95em;
            font-style: italic;
            color: #ff974e;
            float: left;
            margin: 5px 5px 0 0;
        }
        #score:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        #response {
            min-height: 70px;
            margin: 10px;
        }
        .myColor{
            background-color: blue;
            width:15px;
            height:15px;
        }
        .myColor1{
            background-color: lightgreen;
        }
#showtime
{
    font-size: 0.95em;
            font-style: italic;
            color: #ff974e;
            float: right;
}
#showques
{
    font-size: 0.95em;
            font-style: italic;
            color: #ff974e;
            float: left;
}
        #response h3 {
            font: normal bold 1.2em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 5px 0;
        }

        </style>
    
    <ion-content style="background-color:white;" >
	
	<div>
    <div style="text-align:center">
    <h2 style="vertical-align:middle;color:blueviolet; font-size: 2em;">{{quiztitle[0]['quiz_title']}}</h2>
    
    </div>

        <div ng-if="showFeedback==0">
		
            <div id="score"><p><span class="badge badge-assertive">{{showseconds}} </span></p></div>
           
            <br/>
            <div style="margin-top:5%;" >
                <div>
                	<h2 style="color:blue;text-align: center;font-weight: bold;font-style: italic">{{corrAnswers}}
                   </h2></div>
                   <div>
                        <img width="50" height="49" style="display: block; margin-left: auto;margin-right: auto;" ng-if="ansPercentage>70&&ansPercentage<90" src="img/goodsmiley.jpg">
                        <img width="50" height="49" style="display: block; margin-left: auto;margin-right: auto;" ng-if="ansPercentage<50" src="img/sad.jpg">

                   <img width="50" height="49" style="display: block; margin-left: auto;margin-right: auto;" ng-if="ansPercentage>50&&ansPercentage<70" src="img/normalsmiley.png">
                   <img width="50" height="49" style="display: block; margin-left: auto;margin-right: auto;" ng-if="ansPercentage>90" src="img/vrygoodsmiley.png">
                </div>
                    </div>
					<h2 ng-if="ansPercentage==100" style="text-align:center;color:green;font-size:bolder;font-style:italic">
Congratulations
				</h2>
		

        	<div  style="float:right">
				<table class="table_spec" style="margin-top: 15%;">
					<tbody>
						<tr>
						<th style="width:200px"><b>Attend Time</b> </th>&nbsp;&nbsp;&nbsp;&nbsp;
						
						<th style="width:200px"><b>Duration</b> </th>&nbsp;&nbsp;&nbsp;&nbsp;
						
						<th style="width:200px"><b>Percentage</b> </th>
						
						</tr>
						<tr>
						<th style="width:200px">{{firstStartDateTime}}</th>
						<th style="width:200px">{{firstduration}}</th>
								<!--<th style="width:200px" ng-if="attempt===2">{{secStartDateTime}}</th>
						<th style="width:200px" ng-if="attempt===2">{{secduration}}</th>-->
						<th style="width:200px">{{ansPercentage}}</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-if="ansPercentage==100">
				  <img src="img/res.gif" style="width:100%;height:30%;margin-top:5%;">
				</div>
		
                   
                    <br/>
                   </div>
            <div id="frame" ng-if="showFeedback==1">
                    <div class="row medcontent">
                       
                        <div class="col">
                                <div id="showques"><p>{{currentPage}}/{{totalItems}}</p></div>

                        </div>
                        <div class="col">
                                <div id="showtime"><p>{{showtime}}</p></div>

                        </div>
                    </div>
                    <br/>
                    <div  class="row" >
                        <p ng-repeat="(k, question) in questions"  style="padding-left:5px">
                                <span class="dot" ng-class="{myColor:currentPage ==  k+1,myColor1:(k<selectedPage&&currentPage !=  k+1)}"  ng-click="func(k+1)"></span>

                        </p>
                          </div>
                        
                    <div  id="content" class="medcontent">
                        <div ng-repeat="question in filteredQuestions">
                             <!-- <ion-scroll direction="y">-->  

                           <div id="div">
                                <p style="color:white;"  ng-style="CustomStyle">
                                        {{question.Question_Text}}
                                </p>
                        </div>
                                        

                                        <div class = "list">
                                                <label class = "item item-radio"  ng-repeat="option in question.answers" >
                                                   <input type = "radio" name = "{{question.Question_Id}}"  ng-model="option.selected"  ng-change="onSelect(question, option);"/>
                                                   <div class = "item-content item-text-wrap" style="color:#878181;font-style: italic;">
                                                       <p id="inputs" >{{option.Input_Text}}</p> 
                                                   </div>
                                                   <i class = "radio-icon ion-checkmark" style="color:green" ></i>
                                                </label>
                                             
                                                
                                               
                                             </div>

                        </div>
                      
                        
                    </div>
          

                          </div>
                </div>
             	
    </ion-content>
    <ion-footer-bar class="medcontent" ng-if="showFeedback!=0"  style="background:linear-gradient(90deg,rgb(247, 247, 247),rgb(247, 247, 247));">
        
            <div class="row" style="padding:0%;">
                <div class="col" style="padding:0%">
                        <button class="button button-small button-royal" style="float:left;text-align: center;width:100px"  ng-show="config.allowBack" ng-click="goTo(currentPage - 1);">Prev</button>

                </div>
                <div class="col" style="padding:0%">
                        <button class="button button-small button-balanced" style="text-align: center;width:100%" ng-click="onFinalSubmit();" ng-if="submitButFin==0">Submit</button>

                        <button class="button button-small button-balanced" style="text-align: center;width:100%" ng-click="onSubmit();" ng-if="submitBut==0&&submitButFin!=0">Submit</button>
                        
                    </div>
                    <div class="col" style="padding:0%">
                        <button class="button button-small  button-royal"  style="float: right;text-align: center;width:100px" ng-click="goTo(currentPage + 1,'vianext');">Next</button>

                    </div>
            </div>



   
             </ion-footer-bar>
             <ion-footer-bar class="medcontent" ng-if="showFeedback==0&&secButton!=1"   style="background:linear-gradient(90deg,#f499c1,#77b7f3)">
                    <marquee direction="left" ng-if="showFeedback==0" style="color:green;font-weight:bold;font-size:large;height: 100px" id="footer" >Thank You for accepting the challenge</marquee>

                            <button  class="button button-balanced button-small pull-right" ng-click="secAtmpt();" style="float:right;text-align: center;">Second Attempt</button>
                     </ion-footer-bar>
</ion-view>
