<ion-view class="ion-viewport">
    <ion-content >
        <ion-list>   
            <ion-item ng-click="vibrate();goTo('attView')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Attendance Report</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('myresources')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">My Resources</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('dcr1')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Day Report</span>
            </ion-item> 

            <ion-item ng-hide="view_MR"   ng-click="vibrate();goTo('FFT')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Fieldforce Target</span>
            </ion-item> 
         <!--   <ion-item ng-click="vibrate();goTo('Vanview')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Vansales View</span>
            </ion-item>  -->
 <ion-item ng-click="vibrate();goTo('vanledger')" ng-if="DyInvNeed">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Van Ledger</span>
            </ion-item> 
         <ion-item ng-hide="!view_MR" ng-if="StkNeed && NewContact==1 && AI==1 "    ng-click="vibrate();goTo('todayprag')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Day Today Pragnancy</span>
            </ion-item>
    <ion-item ng-click="vibrate();goTo('expenseView')">
                    <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Expense View</span>
    </ion-item>

     <ion-item ng-click="vibrate();goTo('collectionreport')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Retailer Collection Report</span>
           </ion-item> 

<ion-item ng-click="vibrate();goTo('Rcollectionreport')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">DB Collection </span>
           </ion-item> 

  <ion-item ng-if="Van_Sales_ND==1" ng-click="vibrate();goTo('Vancollection')">
                 <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Van Collectios </span>
  </ion-item> 
         <ion-item   ng-if="StkNeed  && DyInvNeed!=1" ng-click="vibrate();goTo('primarysales')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Primarysales Reports</span>
           </ion-item> 
<!-- <ion-item ng-hide="view_MR" ng-click="vibrate();goTo('ReportAnalysis')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Report Analysis</span>
           </ion-item>  -->
        

           <ion-item    ng-if="Product_Remark"  ng-click="vibrate();goTo('ProductRmrksRpt')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Product Remarks Reports</span>
           </ion-item> 
<ion-item    ng-if="Product_RCPA"  ng-click="vibrate();goTo('ProductRCPARpt')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">ProductWise RCPA Reports</span>
           </ion-item> 
            <ion-item  ng-hide="view_MR" ng-click="vibrate();goTo('dailytotalcallsrport')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Daily Status</span>
           </ion-item> 

                  
            <!-- <ion-item ng-click="vibrate();goTo('dySalSum')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Daily Sales Summary</span>
            </ion-item>   -->        
            <ion-item ng-click="vibrate();goTo('dayPlan')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Day Plan</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('TC')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Order Details</span>
            </ion-item>
           
            <ion-item ng-click="vibrate();goTo('dcr')" >
                 <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">Monthly Summary</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('precall')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;" >Precall Analysis</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('BrndSummary')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Brandwise Summary</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('distDayReport')" style="display:none" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Distributer Day Report</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('myAudio')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">Product Detailing</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('LostProducts')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Lost Products</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('transCurrentStocks')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">Closing Stock View</span>
            </ion-item>   

<ion-item ng-click="vibrate();goTo('transSSCurrentStocks')" ng-if="Supplier_Master==1 && view_MR!=1 " >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">Closing SS Stock View</span>
            </ion-item> 

            <ion-item ng-click="vibrate();goTo('tpview')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">TP View</span>
            </ion-item>
            <ion-item ng-click="vibrate();goTo('tpviewdt')" >
                <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">TP View Datewise</span>
            </ion-item>
        <!--  <ion-item ng-click="vibrate();goTo('RMCL')">
                <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;" >Reminder Calls</span>
            </ion-item>   -->
           <!--  <ion-item ng-click="vibrate();goTo('targetandachieve')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">Target And Achieve</span>
           </ion-item>  -->
           <ion-item ng-click="vibrate();goTo('DayCallReport')">
               <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">  DailyCall Report</span>
           </ion-item> 
        </ion-list>
    </ion-content>
</ion-view>