<ion-view>
    <ion-content>      
        
          
  <div  ng-repeat="PA in RetailerSlab">  
      
     <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
      Name
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.ListedDr_Name}}
  </div>
</div> 
  <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
     Slab Name 
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Slan_Name}}
  </div>
</div>    
          <div class="row"  >
  <div class="col col-50" style="color:black;font-weight:bold">
    Gift Name 
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{PA.Giftenrol_Name}}
  </div>
</div> 
       
        




         <hr style=" border-top: 1px dashed red;">      
        </div>        
</ion-content>
   
</ion-view>

