<div class="modal">
<ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Visit History Details</h1>
</ion-header-bar>
<ion-content>
    <div class="padding">
<ion-list style="font-size:16px;background-color: green">
    <div ng-hide="modalPreCall.loaded==true" class = "col txtCaption"> Loading...</div>
            <div ng-hide="modalPreCall.loaded==false">
            <div class = "row">
               <div class = "col txtCaption"> Name</div>
               <div class = "col txtValue">{{modalPreCall.name|| "-"}}</div>
            </div>
            <div class = "row">
               <div class = "col txtCaption"> Mobile number</div>
               <div class = "col txtValue">{{modalPreCall.MobileNumber|| "-"}}</div>
            </div>
                <div class = "row">
                   <div class = "col txtCaption"> Address</div>
                   <div class = "col txtValue">{{modalPreCall.Address|| "-"}}</div>
                </div>
               <div class = "row">
                  <div class = "col txtCaption">Retailer Channel</div>
                  <div class = "col txtValue">{{modalPreCall.vwPreCall.DrSpl|| "-"}}</div>
               </div>
               <div class = "row">
                  <div class = "col txtCaption">Class</div>
                  <div class = "col txtValue">{{modalPreCall.vwPreCall.DrCat|| "-"}}</div>
               </div>
                <div class = "row">
                  <div class = "col txtCaption">Potential</div>
                  <div class = "col txtValue">{{fmcgData.POt|| "-"}}</div>
               </div>
               <div class = "row">
                  <div class = "col txtCaption">Monthly Order Value</div>
                  <div class = "col txtValue">{{fmcgData.MOV|| "0"}}</div>
               </div>
               <div ng-repeat="item in modalPreCall.StockistDetails track by $index">
                  <div class = "row">
                     <div class = "col txtCaption">{{StkCap}}</div>
                     <div class = "col txtValue">
                        <span>{{item.stockist_code|| "-"}}</span>
                     </div>
                  </div>
                  <div class="row" ng-if="CollectedAmountSetup">
                     <div class="col txtCaption">Last 6 Order Average</div>
                     <div class="col txtValue">{{item.Avg|| "-"}}</div>
                  </div>
                  <div class="row" >
                     <div class="col txtCaption"><b>Last Order Details</b></div>
                  </div>
                  <div class="row" style="background: #35cbde;font-size: 100%;font-family: verdan;">
                     <div class="col txtCaption"><b   class="textcaption">Product</b></div>
                     <div class="textcaption" style="text-align:right">Qty</div>
                  </div>
                  <div style="display:block;max-height:300px;overflow:auto">
                     <div class="row" style="    background: whitesmoke;font-size: 90%;font-family: verdan;" ng-repeat="itm in item.OrderDetails track by $index">
                        <div class="col txtCaption">{{itm.Product_Name}}</div>
                        <div class="col txtValue" style="text-align:right">{{itm.Quantity}}</div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col txtCaption">Last Order Amount</div>
                     <div class="col txtValue">{{item.LastOrderAmt|| "-"}}</div>
                  </div>
                  <!-- <div class="row" ng-if="CollectedAmountSetup">
                     <div class="col txtCaption">Out Standing Amount</div>
                     <div class="col txtValue">{{item.outStandingAmt|| "-"}}</div>
                  </div> -->
               </div>
               <div class = "row">
                  <div class = "col txtCaption">Last visited</div>
                  <div class = "col txtValue">{{modalPreCall.vwPreCall.LVDt|| "-"}}</div>
               </div>
               <!--   <div class = "row">
                  <div class = "col txtCaption"> Call FeedBack</div>
                  <div class = "col txtValue">{{vwPreCall.CallFd|| "-"}}</div>
                  </div>-->
               <div class = "row">
                  <div class = "col txtCaption"> Remarks</div>
                  <div class = "col txtValue">{{modalPreCall.vwPreCall.Rmks|| "-"}}</div>
               </div>
            </div>
         </ion-list>
                 </div>
             </ion-content>
             <ion-footer-bar class="bar-dark bar bar-footer">
                 <button class="button button-clear button-primary" ng-click="vibrate();closePreCallModal()">Close</button>
             </ion-footer-bar>
         </div>
