<ion-view>
    <div class="bar bar-subheader">
        <div class="list">
            <label class="item item-input item-date">
                <div class="input-label cwhite">
                    Date :
                </div>
                <input type="date" ng-model="dyRptDt" ng-change="getDayReports()" />
            </label>
        </div>
    </div>
    <ion-content style="background-color:#f6eeee;">
        <div id="vstpreview">
            
        <ion-list  ng-if="modal.type==9">
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase" ng-style="Vstlist.orderValue>0 && {'background-color': ' #f1f1f1'}"><span ng-if="Vstlist.orderValue>0" class="ion-star" style="color: red;float: right"></span>
                <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>Route : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
                <p ng-if="Vstlist.WWith" style="white-space:pre-wrap !important">Joint Work : <b style="color:#7e0ca5">{{Vstlist.WWith}}</b></p>
                <p ng-if="Vstlist.products" style="white-space:pre-wrap !important">Product : <b style="color:#7e0ca5">{{Vstlist.products}}</b></p>
                <p ng-if="Vstlist.gifts" style="white-space:pre-wrap !important">Input : <b style="color:#7e0ca5">{{Vstlist.gifts}}</b></p>
                <p style="white-space:pre-wrap !important;padding: 20px 5px 0px 5px;">Remarks : <b style="color:#7e0ca5">{{Vstlist.remarks}}</b></p>
            </ion-item>
        </ion-list>

    <ion-list  ng-if="modal.type==6" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlistsdoor" class="propCase" ng-style="{'background-color': ' #f1f1f1'}">
                <h2 style="color:#39ac08;"><b>{{Vstlist.Distributors}}</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>Route : <b style="color:#7e0ca5">{{Vstlist.Route}}</b></p>
                <p ng-if="Vstlist.Promotorname" style="white-space:pre-wrap !important">Promotorname : <b style="color:#7e0ca5">{{Vstlist.Promotorname}}</b></p>
                <p ng-if="Vstlist.Retailer" style="white-space:pre-wrap !important">Retailer : <b style="color:#7e0ca5">{{Vstlist.Retailer}}</b></p>
                <p ng-if="Vstlist.issue" style="white-space:pre-wrap !important">issue : <b style="color:#7e0ca5">{{Vstlist.issue}}</b></p>
                <p style="white-space:pre-wrap !important">place : <b style="color:#7e0ca5">{{Vstlist.place}}</b></p>
                 <p style="white-space:pre-wrap !important">taken : <b style="color:#7e0ca5">{{Vstlist.taken}}</b></p>

                 <p ng-if="Vstlist.starttime" style="white-space:pre-wrap !important">starttime : <b style="color:#7e0ca5">{{Vstlist.starttime.date}}</b></p>
                <p style="white-space:pre-wrap !important">endtime : <b style="color:#7e0ca5">{{Vstlist.endtime.date}}</b></p>
                  <p style="white-space:pre-wrap !important">Remarks : <b style="color:#7e0ca5">{{Vstlist.Remarks}}</b></p>
            </ion-item>
        </ion-list>
<ion-list  ng-if="modal.type==7" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlistsinshop" class="propCase" ng-style="{'background-color': ' #f1f1f1'}">
                <h2 style="color:#39ac08;"><b>{{Vstlist.Distributors}}</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>Route : <b style="color:#7e0ca5">{{Vstlist.Route}}</b></p>
                <p ng-if="Vstlist.Retailer_Name" style="white-space:pre-wrap !important">Retailer_Name : <b style="color:#7e0ca5">{{Vstlist.Retailer_Name}}</b></p>
                <p ng-if="Vstlist.starttime" style="white-space:pre-wrap !important">starttime : <b style="color:#7e0ca5">{{Vstlist.starttime.date}}</b></p>
                <p ng-if="Vstlist.endtime" style="white-space:pre-wrap !important">endtime : <b style="color:#7e0ca5">{{Vstlist.endtime.date}}</b></p>
                <p style="white-space:pre-wrap !important;padding: 20px 5px 0px 5px;">Remarks : <b style="color:#7e0ca5">{{Vstlist.Remarks}}</b></p>
            </ion-item>
        </ion-list>



        <ion-list  ng-if="modal.type==8" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlistsproduct" class="propCase" ng-style="{'background-color': ' #f1f1f1'}">
                <h2 style="color:#39ac08;"><b>{{Vstlist.Distributors}}</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>Route : <b style="color:#7e0ca5">{{Vstlist.Route}}</b></p>
                <p ng-if="Vstlist.AddVolume" style="white-space:pre-wrap !important">AddVolume : <b style="color:#7e0ca5">{{Vstlist.AddVolume}}</b></p>
                <p ng-if="Vstlist.Retailer" style="white-space:pre-wrap !important">Retailer : <b style="color:#7e0ca5">{{Vstlist.Retailer}}</b></p>
                <p ng-if="Vstlist.CurrentVolume" style="white-space:pre-wrap !important">CurrentVolume : <b style="color:#7e0ca5">{{Vstlist.CurrentVolume}}</b></p>
                <p style="white-space:pre-wrap !important">DiscountAmount : <b style="color:#7e0ca5">{{Vstlist.DiscountAmount}}</b></p>
                
                 <p ng-if="Vstlist.SDate" style="white-space:pre-wrap !important">SDate : <b style="color:#7e0ca5">{{Vstlist.SDate}}</b></p>
                <p style="white-space:pre-wrap !important">EDate : <b style="color:#7e0ca5">{{Vstlist.EDate}}</b></p>
                  <p style="white-space:pre-wrap !important">Remarks : <b style="color:#7e0ca5">{{Vstlist.Remarks}}</b></p>
            </ion-item>
        </ion-list>

             <ion-list  ng-if="modal.type==null || modal.type==0" >
                             <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase" ng-style="Vstlist.orderValue>0 && {'background-color': ' #f1f1f1'}">
                                 <span ng-if="Vstlist.orderValue>0 && modal.SlTyp!=3" class="ion-star" style="color: red;float: right"></span>
                                 <div class="ro" style="padding-top:0px;padding-bottom:3px">
                                     <h2 style="color:#39ac08;"><b>{{Vstlist.name}} ( {{Vstlist.Order_No}} )</b><span style="float:right" ng-if="modal.SlTyp==3"><b>{{Vstlist.orderValue | number:2}}</b></span><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>

                                 </div>
                                 <div class="ro" style="padding-top:5px;padding-bottom:0px">
                                     <p>Route : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>

                                 </div>
                                 <div class="ro" ng-if="modal.PA==1" style="padding-top:5px;padding-bottom:0px">
                                     <p>Pincode : <b style="color:#7e0ca5">{{Vstlist.Pincode}}</b></p>

                                 </div> 
                                 <div class="ro"  ng-if="modal.PA==1"  style="padding-top:5px;padding-bottom:0px">
                                     <p>GST : <b style="color:#7e0ca5">{{Vstlist.GST}}</b></p>

                                 </div>                
                                 <div class="ro" style="padding-top:5px;padding-bottom:0px">
                                    <p ng-if=" vstlist.wwith" style="white-space:pre-wrap !important">Joint Work : <b style="color:#7e0ca5">{{Vstlist.WWith}}</b></p>
                                 </div>                   
                                          
                                 <div class="ro" ng-if="Vstlist.productSelectedList">
                                    <table style="width: 100%;" border="1">
                                        <tr style="background-color:#eae9e9">
                                            <th style="text-align:left;padding:5px;font-size:100%;">Product</th>
                                            <th ng-if="modal.Only_Closig!=1" style="text-align:right;padding:5px;font-size:100%;">Rate</th>
                                            <th style="text-align:right;padding:5px;font-size:100%;" ng-if="modal.Cclbal!=1">{{modal.QtyCaption}}</th>
                                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.Only_Closig==1 && modal.SlTyp!=3">CB</th>
                                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.Cclbal==1"    >Cl</th>
                                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.Cclbal==1"    >CCl</th>
                                            <th style="text-align:right;padding:5px;font-size:100%;" ng-if="modal.SlTyp==3 || modal.SlTyp==8">PQty</th>

                                            <th style="text-align:right;padding:5px;font-size:100%;" ng-if="(modal.SlTyp==3 && modal.PrimaryScheme==1) ">Disc%</th>
                                            <th style="text-align:right;padding:5px;font-size:100%;" ng-if="(modal.SlTyp==3 && modal.PrimaryScheme==1) ">Disc</th>
                                            <th style="text-align:right;padding:5px;font-size:100%;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">Free</th>
                                            <th style="text-align:right;padding:5px;font-size:100%;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">Disc.</th>
                                            <th style="text-align:right;padding:5px;font-size:100%;" ng-if="modal.DrSmpQ==1 && modal.Cclbal!=1 ">Value</th>
                                        </tr>
                                        <tr ng-repeat="productSelection in Vstlist.productSelectedList">
                                            <td style ="text-align:left;padding:2px 5px;font-size: 13px;display:block;">{{productSelection.product_Nm}}
                                                <span style="display:block;color: #507280;font-weight: 700;font-size: 80%;">{{productSelection.Mfg_Date}}</span>
                                            </td>
                                            <td ng-if="modal.Only_Closig!=1" style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:70px;">{{productSelection.Rate | number:2|| 0}}</td>
                                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;" ng-if="modal.Cclbal!=1">{{productSelection.rx_qty|| 0}}</td>

                            <td  ng-if="modal.Cclbal==1" style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;">{{productSelection.cb_qty|| 0}}</td>
                             <td  ng-if="modal.Only_Closig==1 && modal.SlTyp!=3" style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;">{{productSelection.cb_qty|| 0}}</td>
                              <td  ng-if="modal.Cclbal==1" style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;">{{productSelection.Ccb_qty|| 0}}</td>

                                            <td ng-if="modal.SlTyp==3 || modal.SlTyp==8"style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:70px;">{{productSelection.PQty|| 0}}</td>

                                            <td ng-if="(modal.SlTyp==3 && modal.PrimaryScheme==1) " style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:70px;">{{productSelection.DiscP|| 0}}</td>

                                            <td ng-if="(modal.SlTyp==3 && modal.PrimaryScheme==1) " style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:70px; ">{{productSelection.Disc|| 0}}</td>
                                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:60px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">{{productSelection.free || 0}}</td>
                                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:60px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">{{productSelection.discAmt | number:2 || 0}}</td>
                                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:60px;" ng-if="modal.DrSmpQ==1 && modal.Cclbal!=1">{{productSelection.sample_qty | number:2}}</td>
                                        </tr>
                                         <tr ng-if="Vstlist.discount>0">
                                            <td colspan="2">Order Amount</td>
                                            <td style="text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.orderValue|number:2}}</b></td>
                                         </tr>
                                         <tr ng-if="Vstlist.discount>0">
                                            <td colspan="2">Discount</td>
                                            <td style="text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.discount|number:2}}</b></td>
                                         </tr>
                                        
                                    </table>
                                </div>
                                <div class="ro">                
                                    <p style="white-space:pre-wrap !important;padding: 20px 5px 0px 5px;">Remarks : <b style="color:#7e0ca5">{{Vstlist.remarks}}</b></p>
                                </div>                    
                             </ion-item>
              </ion-list>


          <ion-list  ng-if="modal.type==10" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase">
                <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span style="float:right"><b>{{Vstlist.orderValue | number:2}}</b></span><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>{{SDPCap}} : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
             <p style="white-space:pre-wrap !important">Collected Amount : <b style="color:#7e0ca5">{{Vstlist.Activity_POB_Val}}</b></p>
             <p style="white-space:pre-wrap !important">Outstanding Amount : <b style="color:#7e0ca5">{{Vstlist.orderValue-Vstlist.Activity_POB_Val}}</b></p>

            </ion-item>
        </ion-list>
            <ion-list  ng-if="modal.type==1" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase">
                <div class="ro">
                    <h2 style="color:#39ac08;"><b>{{Vstlist.name}} ( {{Vstlist.Order_No}} )</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                </div>
                <div class="ro" style="padding-top:5px;padding-bottom:5px">
                    <p>Route : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
                </div>
                <div class="ro" ng-if="modal.PA==1" style="padding-top:5px;padding-bottom:0px">
                                     <p>Pincode : <b style="color:#7e0ca5">{{Vstlist.Pincode}}</b></p>

                                 </div> 
                                 <div class="ro"  ng-if="modal.PA==1"  style="padding-top:5px;padding-bottom:0px">
                                     <p>GST : <b style="color:#7e0ca5">{{Vstlist.GST}}</b></p>

                                 </div> 
                <div class="ro" ng-if="Vstlist.productSelectedList">
                    <table style="width: 100%;" border="1">
                        <tr style="background-color:#eae9e9">
                            <th style="text-align:left;padding:5px;font-size: 85%;font-weight: 900;color:#757575">Product</th>
                            <th ng-if="modal.Only_Closig!=1" style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575">Rate</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575"      >{{modal.QtyCaption}}</th>
                           
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.Only_Closig==1 && modal.SlTyp==1">CB</th>

                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">Free</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575"  ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">Disc.</th>
                            <th style="text-align:right;padding:5px;font-size: 85%;font-weight: 900;color:#757575" ng-if="modal.DrSmpQ==1 " >Value</th>
                        </tr>
                        <tr ng-repeat="productSelection in Vstlist.productSelectedList">
                            <td style="text-align:left;padding:2px 5px;font-size: 13px;display:block;">{{productSelection.product_Nm}}
                                <span style="display:block;color: #507280;font-weight: 700;font-size: 80%;">{{productSelection.Mfg_Date}}</span>
                            </td>
                            <td ng-if="modal.Only_Closig!=1" style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:70px;">{{productSelection.Rate | number:2|| 0}}</td>
                            <td   style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;">{{productSelection.rx_qty|| 0}}</td>
                              <td  ng-if="modal.Only_Closig==1 && modal.SlTyp==1" style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;">{{productSelection.cb_qty|| 0}}</td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:60px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">{{productSelection.free || 0}}</td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;width:60px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">{{productSelection.discAmt | number:2 || 0.00}}</td>
                            <td style="text-align:right;padding:2px 5px;font-size:100%;" ng-if="modal.DrSmpQ==1 ">{{productSelection.sample_qty | number:2 || 0.00}}</td>
                        </tr>
                                         <tr ng-if="Vstlist.discount>0">
                                            <td colspan="3" style="border:0px;font-size: 85%;font-weight: 900;color:#757575">Order Amount</td>
                                            <td colspan="3" style="border:0px;text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.orderValue|number:2}}</b></td>
                                         </tr>
                                         <tr ng-if="Vstlist.discount>0">
                                            <td colspan="3" style="border:0px;font-size: 85%;font-weight: 900;color:#757575">Discount</td>
                                            <td  colspan="3"style="border:0px;text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.discount|number:2}}</b></td>
                                         </tr>
                                         <tr>
                                            <td colspan="2" style="border:0px;font-size: 85%;font-weight: 900;color:#757575">Net Amount</td>
                                             <td style="border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)"><b style="color:#39ac08;"></b></td>
                                            <td style="border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)"><b style="color:#39ac08;"></b></td>
                                            <td style="border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)"><b style="color:#39ac08;"></b></td>
                                            <td  colspan="1"style="border:0px;border-top:1px double #dcdcdc;border-bottom:double #dcdcdc;text-align:right;padding:5px;"><b style="color:#39ac08;">{{Vstlist.orderValue|number:2}}</b></td>
                                         </tr>
                    </table>
                </div>

                <div class="ro" style="padding-top:5px;padding-bottom:5px;" ng-if="CollectedAmountSetup==1">
                    <p style="white-space:pre-wrap !important">Collected Amount : <b style="color:#7e0ca5">{{Vstlist.Activity_POB_Val}}</b></p>
                </div>
                <div class="ro" style="padding-top:5px;padding-bottom:5px" ng-if="CollectedAmountSetup==1">
                    <p style="white-space:pre-wrap !important">Outstanding Amount : <b style="color:#7e0ca5">{{Vstlist.orderValue-Vstlist.Activity_POB_Val}}</b></p>
                </div>

                <div class="col" ng-if="modal.InvCnvrtNd==1">
                    <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.PrintInvoice(Vstlist)">
                        <img src="img/invoice.png" style="width: 30px;margin-top: 5px;" />
                        <div class='buttonC-text' style="margin-left: -22px;">Convert Invoice</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>


     <ion-list class="container" ng-if="modal.type==9">
            <div class="row" style="background-color:#43cee6;">
                 <div class="col col-60" style="color: white;">Name</div>
                <div class="col col-20" style="color: white;">Litter</div>
                <div class="col col-20" style="color: white;">Values</div>
                
            </div>
            <div ng-repeat="item in  modal.LittervsValues">
             <div class="row" style="height: 44px;background-color:#ffffff;">
                    
            <div class="col col-60" style="font-size:large;padding:5px 0px;color:#6c3;margin-left: 14px;">{{item.Product_Brd_Name}}</div>
                    <div class="col col-20"  style="text-align: start;"> 
                          {{item.litter.toFixed(2)}}
                           
                                    
                    </div>
              <div class="col col-20" style="text-align: start;">
                       
                          {{item.total.toFixed(2)}}
                    </div>
                   
                </div>
              <hr style="border-top: 1px dashed #655f59;"/>
            </div>     
        </ion-list>



            <div class="ro" ng-if="modal.vwVstlists.length>0" style="background-color:#ffffff;padding:10px 5px;">
                <h4 style="color:#39ac08;"><b>Itemwise Summary</b></h4>
                <table style="width: 100%;" border="1">
                    <tr style="background-color:#eae9e9">
                        <th style="text-align:left;padding:5px;font-size:100%;">Product</th>
                        <th style="text-align:left;padding:5px;font-size:100%;">{{modal.QtyCaption}}</th>
                        <th style="text-align:left;padding:5px;font-size:100%;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">Free</th>
                    </tr>
                    <tr ng-repeat="itemsumm in modal.vwProductSummry">
                        <td style="text-align:left;padding:2px 5px;font-size:100%;display:block;">{{itemsumm.PName}}</td>
                        <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;">{{itemsumm.Qty|| 0}}</td>
                        <td style="text-align:right;padding:2px 5px;font-size:100%;background: #e7e7fb;" ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)">{{itemsumm.FQty|| 0}}</td>
                    </tr>
                </table>
                <table style="width: 100%;background-color:#eae9e9" border="1" >
                <tr >
                        <th style="text-align:left;padding:5px;font-size:100%;color:#39ac08;">Total</th>
                         <th style="text-align:right;padding:5px;font-size:100%;"></th>
                          <th style="text-align:right;padding:5px;font-size:100%;"></th>
                        <th style="text-align:right;padding:5px;font-size:100%;padding-left: 58px;color:#39ac08;">{{modal.ItemwiseQtySummary}}</th>
                        <th ng-if="modal.SlTyp==1 && (modal.OfferMode == 1 || modal.OfferMode == 2)"style="text-align:right;padding:5px;font-size:100%;color:#39ac08;" >{{modal.ItemwiseFreeSummary}}</th>
                    </tr>
                  </table>
            </div>

        </div>
        <div class="row moveDown" ng-if="modal.vwVstlists.length>0">
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendWhatsApp()">
                    <img src="img/WhatsApp.png" />
                    <div class='buttonC-text' style="white-space:nowrap">Whats App</div>

                </div>
            </div>
            <div class="col" ng-if="modal.Whatsapp_text!=1">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendEmail()">
                    <img src="img/Email.png" />
                    <div class='buttonC-text' style="white-space:nowrap">E-Mail</div>
                </div>
            </div>

          <div class="col" ng-if="modal.Whatsapp_text">
            <div class='buttonC-container left-sidepull'   ng-click="vibrate();modal.sendWhatsAppTextDay(modal)">
               <img src="img/notify.png" style="height: 48px;" />
               <div class='buttonC-text' style="white-space:nowrap">Whats App Text</div>
            </div>
         </div>
        </div>
        <!-- <a href="#" id="btn-Convert-Html2Image">s</a> -->
    </ion-content>
    


</ion-view>