<ion-view>

    <ion-content>
        <div id="vstpreview">
            <div class="list list-inset">

                <div class="select-component" ng-hide="view_MR ||  view_STOCKIST==1">
                    <div class="label">
                        <div class="label-text">Headquarters
                            <label style="color: red;"> &nbsp;*</label>
                        </div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <div class="input-css" ng-click="openModal('subordinate_master', 144)">
                                {{(stockUpdation.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-component" ng-if="SF_type==2&&fmcgData.editable!=1">
                    <div class="label">
                        <div class="label-text">{{StkCap}}</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <div class="input-css" ng-click="vibrate();openModal('stockist_master', 44, stockUpdation.subordinate.selected.id)">
                                {{(stockUpdation.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-component" ng-if="SF_type==1">
                    <div class="label">
                        <div class="label-text">{{StkCap}}</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <div class="input-css" ng-click="vibrate();openModal(allstockists,44)">
                                {{(stockUpdation.stockist.selected.id| getValueforIDD : {'collection' : allstockists}).name || "Select "+StkCap}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-component" style="margin-bottom:30px;">
                    <div class="label">
                        <div class="label-text">Date</div>
                    </div>
                    <div class="select-box">
                        <div class="input-box">
                            <input type="date" ng-model="stockUpdation.ClDate" ng-change="getDayReports()"  class="input-css" placeholder="Date" ng-click="vibrate();">
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 10px;"></div>
                <h4><div style="background-color:lightgray;font-weight:bold;color:red">Updation Date: <span>{{LastUpdationDate}}</span></div></h4>
            </div>
            <ion-list>

                <div style="margin-top:10px;">
                    <div style="color:green;font-weight:bolder">Closing Stock </div>
                    <div class="row" style="background-color:#f6eeee">
                        <div class="col col-10" style="color:black;font-weight:bold;">
                            Sl.No
                        </div>
                        <div class="col col-30" style="color:black;font-weight:bold;">
                            Product Name
                        </div>
                        <div class="col" style="color:black;font-weight:bold;">

                            C.Qty
                        </div>
                        <div class="col" style="color:black;font-weight:bold;">
                            P.Qty
                        </div>

                        <div class="col" style="color:black;font-weight:bold;">
                            MFG
                        </div>

                    </div>
                </div>
                <div ng-repeat="(i,item) in currentStocks track by $index" style="background-color: rgb(241, 241, 241)">
                    <div class="row">
                        <div class="col col-10">
                            {{i+1}}
                        </div>
                        <div class="col col-30">
                            {{item.product_Nm|| "-"}}
                        </div>

                        <div class="col">
                            {{item.cb_qty|| "-"}}
                        </div>
                        <!-- <div class="col">
                            {{item.recv_qty|| "-"}}
                        </div> -->
                        <div class="col">
                            {{item.pieces|| "-"}}
                        </div> 
                        <div class="col">
                            {{item.Mgf_date}}
                        </div>
                    </div>
                </div>

            </ion-list>
        </div>
        <div class="row moveDown">
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();sendWhatsApp()">
                    <img src="img/WhatsApp.png" />
                    <div class='buttonC-text' style="white-space:nowrap">Whats App</div>

                </div>
            </div>

        </div>
    </ion-content>
     <ion-footer-bar class="bar-dark" ng-if="editing==0">

        <button class="button buttonClear  button-balanced pull-left" ng-click="vibrate();editprimary()" style="display:none">Edit Primary</button>
        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();edit()">Edit Closing</button>
    </ion-footer-bar>
    <ion-footer-bar class="bar-dark bar bar-footer">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>


    </ion-footer-bar>
</ion-view>