<ion-view>
   

              
        
             <ion-content class="headertop" style="background-color:#f6eeee;margin-top: 49px;">
    <div style="color:green;font-weight:bolder;margin-top: 4px;" class="ng-binding">Stock as on {{fmcgData.Vanfromdt}} :{{TotalVanProduct}}</div>    
       <div style="color:green;font-weight:bolder;margin-top: 4px;" class="ng-binding">CurrentStock :{{TotalVanCurrent}}</div>  
        <div class="card Tbrd1" ng-repeat="(i,x) in VanLedgerView ">
            <h6 style="color: green;">{{x.eDate.date }}<span style="position: absolute;text-align: right;margin-top: 20px;left: 22px;font-size: 11px;color:#332f2f"></span></h6>
           <div class="propCase" style="padding-top: 5px;">
              
                <b style="color:#537979;font-weight: bold;">{{x.FNm}}</b>
           
            </div>
            <b style="color: darkcyan;font-weight: bold;">Trans :{{x.EntryBy}}</b></br>
            <b style="color: darkcyan;font-weight: bold;">In  :{{x.Credit}}</b></br>
             <b style="color: darkcyan;font-weight: bold;">Out  :{{x.Debit}}</b></br>
              <b style="color: darkcyan;font-weight: bold;">Bal  :{{x.Balance}}</b></br>
         
        </div>
    </ion-content>
<ion-footer-bar class="bar-dark bar bar-footer">
    <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
        &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
    </button> 
</ion-footer-bar>
</ion-view>