<ion-view>
    <ion-content>    
          <div style="margin-top:10px;">
        <div class="row"  style="background-color:#f6eeee">
  <div class="col col-33" style="color:black;font-weight:bold;">
      FieldForce Name
  </div>
  <div class="col col-25" style="color:black;font-weight:bold;">
   Month/Year
  </div>
  <div class="col" style="color:black;font-weight:bold;">
      Click Here
  </div>
 
</div></div>
<div ng-repeat="(i,x) in Expense" style="background-color: rgb(241, 241, 241)">
  <div class="row">
  <div class="col col-33">
      {{x.sf_name}}
  </div>


  <div class="col col-25">
             {{x.month}}/{{x.year}}
  </div>
  <div class="col">
      <button class="button button-small  button-calm" ng-click="approval(x.Sf_Code,x.month,x.year)">Click here to Approve</button>
    </div>
</div>

</div>  
       
</ion-content>
   <ion-footer-bar class="bar-dark">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
    </ion-footer-bar>
</ion-view>