<ion-view>
    <ion-content>

        <div class="list list-inset">
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Type of Allowence
                        <label style="color: red;">&nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal(LEOS,115)">
                            {{(fmcgData.LEOS.selected.id| getValueforIDD : {'collection' : LEOS}).name || "Select L/O/S" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Night Stay/Travelling
                        <label style="color: red;"> &nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css">
                            <label for="chkYes">
                                <input type="radio" value="No" ng-model="fmcgData.selectVal" /> No

                            </label>
                            <label for="chkNo">
                                <input type="radio" value="NightStay" ng-model="fmcgData.selectVal" /> NightStay

                            </label>
                            <label for="chkNo">
                                <input type="radio" value="Night journey" ng-model="fmcgData.selectVal" /> Night journey

                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Mode of Travels
                        <label style="color: red;">&nbsp;*</label>
                    </div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal(MOC,116)">
                            {{(fmcgData.MOC.selected.id| getValueforIDD : {'collection' : MOC}).name || "Select Mode Of Call" }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="fmcgData.MOC.selected.id==12">
                <div class="col col-33">
                    <p style="color: #828181;font-weight: 700;">KM</p>
                    <input type="number" class="efieldl" ng-model="fmcgData.KM" ng-change="Calculatetotal(fmcgData.KM)" placeholder="KM">
                </div>
                <div class="col col-33">
                    <p style="color: #828181;font-weight: 700;">Amount</p>
                    <input type="number" class="efieldl" ng-model="bikeamount" readonly>
                </div>
                <div class="col col-33">
                    <p style="color: #828181;font-weight: 700;">Total</p>
                    <input type="text" ng-model="fmcgData.TotalKM" class="efield" readonly>
                </div>

            </div>
            <div class="row" ng-if="fmcgData.MOC.selected.id==11">
                <div class="col ">
                    <p style="color: #828181;font-weight: 700;">Fare</p>
                    <input type="number" class="efieldl" ng-model="fmcgData.Fare" ng-change="Calculatetotal(fmcgData.KM)" placeholder="Fare">
                </div>

            </div>

            <div class="label-text">From
                <label style="color: red;">&nbsp;*</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Place</p>
                <input type="text" ng-model="fmcgData.FromPlace" class="efieldl" placeholder="Place">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Departure</p>
                <input type="text" class="efieldl" ng-model="fmcgData.FromDeparture" placeholder="Departure">
            </div>
        </div>
        <div class="label-text" style="
    margin: 11px;
">To
            <label style="color: red;">&nbsp;*</label>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Place</p>
                <input type="text" ng-model="fmcgData.ToPlace" class="efieldl" placeholder="Place">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #828181;font-weight: 700;">Arrival</p>
                <input type="text" class="efieldl" ng-model="fmcgData.ToArrival" placeholder="Arrival">
            </div>
        </div>

        <div class="select-component" style="height:100%;margin: 7px;">
            <div class="label">
                <div class="label-text">{{Remarks}}</div>
            </div>
            <textarea ng-model="fmcgData.remarks" rows="5" class="textarea-css" ng-click="vibrate();" my-directive></textarea>
        </div>
        <ion-list>
            <div class="item-divider" style="padding-left: 8px;" ng-if="DAExpense.length>0">Daily Expense</div>
            <div ng-repeat="item in DAExpense" class="item row">
                <div class="col col-75">{{item.Name}}</div>
                <div class="col col-25">
                    <input ng-model="item.amt" />
                </div>
            </div>
        </ion-list>
        </div>

        <div class="item-divider" style="padding-left: 8px;">{{ExpenseErrorMessage}}</div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
                SaveExp()">
            Save
        </button>
    </ion-footer-bar>
</ion-view>