<ion-view>
    <ion-content>      
        <div  style="margin-top:10px;"></div>
        <div  style="background-color:rgba(237, 227, 227, 0.81)">
                <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold;">
      FieldForce Name
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{sfName}}
  </div>
</div>
            <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold;">
     Activity Date
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{activity_Date}}
  </div>
</div>
                <div class="row" >
  <div class="col col-50" style="color:black;font-weight:bold;">
     Worktype
  </div>
  <div class="col col-50" style="color:black;font-weight:bold;color:green">
    :{{worktype}}
  </div>
</div>
              <div ng-if="FieldWork_Indicator=='F'">        
            
         
                   <ion-list ng-repeat="(key, value) in DCRSf | groupBy: 'Type' track by $index" class="group">
            <div class="item item-divider" ion-affix data-affix-within-parent-with-class="group">
                <div class="col col-50">{{key}}</div>
            </div>
            <div class="item" ng-repeat="val in value">
                 <div class="row" >
  <div class="col col-25" style="color:black;font-weight:bold;">
     Detail Name
  </div>
  <div class="col" style="color:black;font-weight:bold;color:green">
    :{{val.Trans_Detail_Name}}
  </div>
</div>
            <div class="row" >
  <div class="col col-25" style="color:black;font-weight:bold;">
    Plan Name
  </div>
  <div class="col" style="color:black;font-weight:bold;color:green">
    :{{val.SDP_Name}}
  </div>
</div>
                <div class="row" >
  <div class="col col-25" style="color:black;font-weight:bold;">
     Products
  </div>
  <div class="col" style="color:black;font-weight:bold;color:green">
    :{{val.products}}
  </div>
</div>
                       <div class="row" >
  <div class="col col-25" style="color:black;font-weight:bold;">
     Gifts
  </div>
  <div class="col" style="color:black;font-weight:bold;color:green">
    :{{val.gifts}}
  </div>
</div>
              
            </div>
        </ion-list>
                      
              </div>      
                       
       
        </div>  
           
</ion-content>
   <ion-footer-bar class="bar-dark" >
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
          <div ng-if="rejection==1">
        <textarea ng-model="data.reason"  rows="5"  style="float:left" placeholder="Reason For Reject" class="textarea-css" ng-click="vibrate();">                     

                </textarea></div>
            <button class="button  button-assertive pull-left" ng-click="vibrate();
      rejSend()" ng-if="rejection==1"  ng-click="rejSend()">Send</button>
      
    <button class="button  button-assertive pull-left" ng-click="vibrate();
      reject()" ng-if="rejection==0"  ng-click="reject()">Reject</button>
         <button class="button button-balanced pull-right" ng-click="vibrate();
            approve()">Approve
            </button>
        </ion-footer-bar>    
</ion-view>