<ion-view>
    <ion-content>
        <ion-list ng-if="success">
            <ion-item href="#/fmcg/manageDataTabView?myChoice={{customer.id}}" ng-repeat="customer in customers">

                {{ customer.name}}
                <span class="badge badge-assertive" ng-if="customer.count">{{customer.count}}</span>
            </ion-item>
        </ion-list>
        <div class="card">
            <div class="item item-divider" ng-if="owsuccess">
                {{(owTypeData.worktype_code| getValueforIDD : {'collection' : worktypes}).name }}
            
            </div>
            <div class="item item-text-wrap">
                <b>Day Activity Remarks</b> :{{owTypeData.daywise_remarks}}
            </div>
            <div class="item item-text-wrap">
                <b>Halfday Work</b> :{{owTypeData.HlfDayWrk}}
            </div> 
        </div>
    </ion-content>
</ion-view>