<ion-view>
   <ion-content>
      <div class="list list-inset">
         <div class="select-component">
            <div class="label">
               <div class="label-text">Type of Allowence
                  <label style="color: red;">&nbsp;*</label>
               </div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <div class="input-css" ng-click="vibrate();openModal(LEOS,115)">
                     {{(fmcgData.LEOS.selected.id| getValueforIDD : {'collection' : LEOS}).name || "Select L/O/S"  }}
                  </div>
               </div>
            </div>
         </div>
         <div class="select-component">
            <div class="label">
               <div class="label-text">Night Stay/Travelling
                  <label style="color: red;"> &nbsp;*</label>
               </div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <div class="input-css">
                     <label for="chkYes">
                        <input type="radio" value="1" ng-model="fmcgData.selectVal" />
                     No
                     
                     </label>
                     <label for="chkNo">
                        <input type="radio" value="2" ng-model="fmcgData.selectVal"/>
                     NightStay
                     
                     </label>
                     <label for="chkNo">
                        <input type="radio" value="3" ng-model="fmcgData.selectVal" />
                     Night journey
                     
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <div class="select-component">
            <div class="label">
               <div class="label-text">Mode of Travels
                  <label style="color: red;">&nbsp;*</label>
               </div>
            </div>
            <div class="select-box">
               <div class="input-box">
                  <div class="input-css" ng-click="openModal(MOC,116)">
                     {{(fmcgData.MOC.selected.id| getValueforIDD : {'collection' : MOC}).name || "Select Mode Of Call"  }}
                  </div>
               </div>
            </div>
         </div>
         <div class="select-component" style="height:100%;">
            <div class="label">
               <div class="label-text">{{Remarks}}</div>
            </div>
            <textarea ng-model="fmcgData.remarks" rows="5" class="textarea-css" ng-click="vibrate();" my-directive ></textarea>
         </div>
      </div>
   </ion-content>
</ion-view>
<div class="bar bar-dark bar-footer">
   <button class="button buttonClear pull-left" ng-click="vibrate();
      goBack()">
      <i class="icon ion-ios7-arrow-back"></i>
   </button>
   <button class="button buttonClear pull-right"ng-click="vibrate();
      goNext()">
      <i class="icon ion-ios7-arrow-forward"></i>
   </button>
</div>
<ion-footer-bar class="bar-dark">
  
   <button class="button buttonClear pull-right" ng-click="vibrate();
      SaveExp()">Save</button>
</ion-footer-bar>