<ion-view>
    <div >
        <div class="bar bar-subheader noborder" ng-hide="view_MR">
            <div class="item item-input item-selectH noborder">
                <div class="input-label cwhite">Headquarters :</div>
                <div class="cwhite" style="width:80%;border-bottom:solid #4cff00 1px;" ng-click="openModal(allsubs, 40)">
                    {{(MnthSumm.subordinate.selected.id| getValueforIDD : {'collection' : allsubs}).name || "Select the Fieldforce Name"  }}
                </div>
            </div>
        </div>
        <div class="bar bar-subheader noborder" style="top:{{subhdTop}};">
            <label class="item item-input item-date noborder">
                <div class="input-label cwhite">Month - Year :</div>
                <input type="date" ng-model="mnthDt" ng-change="getMonthReports()" />
            </label>
        </div>
    </div>
    <ion-content style="background-color:#f6eeee;top:{{CntvwTop}};">
        <div>{{MnDCR.Desig_Code}}</div>
        <div class="card Tbrd{{MnDCR.Desig_Code}}" ng-repeat="MnDCR in MnthDCRList">
            <h4 style="color:#39ac08;"> {{MnDCR.Adate}}<span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{MnDCR.wtype}}</span></h4>
            <div class="propCase"><span ng-if="MnDCR.HalfDay_FW_Type">Halfday : <b style="color:#cf9305">{{MnDCR.HalfDay_FW_Type}}</b></span>
                <div class="item-note" ng-if="MnDCR.FWFlg=='F'">
                    <table style="border-collapse:collapse" border="1">
                        <tr><td>T.Calls</td><td>P.Calls</td><td>O.Value</td><td>{{ESHStkCap}}</td></tr>
                        <tr>
                            <td ng-click="ViewDetail(MnDCR.ACode, 1, MnDCR.Adate,0)">{{MnDCR.Drs}}</td>
                            <td ng-click="ViewDetail(MnDCR.ACode, 1, MnDCR.Adate,1)">{{MnDCR.orders}}</td>
                            <td>{{MnDCR.orderValue||0}}</td>
                            <td ng-click="ViewDetail(MnDCR.ACode, 3, MnDCR.Adate)">{{MnDCR.Stk}}</td>
<!--                        <td ng-click="ViewDetail(MnDCR.ACode,1,MnDCR.Adate)">{{MnDCR.Drs}}</td>
                            <td ng-click="ViewDetail(MnDCR.ACode,2,MnDCR.Adate)">{{MnDCR.Chm}}</td>
                            <td ng-click="ViewDetail(MnDCR.ACode,3,MnDCR.Adate)">{{MnDCR.Stk}}</td>
                            <td ng-click="ViewDetail(MnDCR.ACode,4,MnDCR.Adate)">{{MnDCR.Udr}}</td></tr>-->
                    </table>
                </div>
            </div>
            <div class="propCase" ng-if="MnDCR.FWFlg=='F'">Worked At : <b style="color:#4800ff">{{MnDCR.TerrWrk}}</b></div>
            <p class="propCase rmks">{{MnDCR.Remarks}}</p>
                <!--
                <div class="item item-text-wrap">{{MnDCR.wtype}}</div>
                <div class="item item-text-wrap"></div>
                <div class="item item-text-wrap"></div>
                <div class="item item-text-wrap"></div>
                <div class="item item-text-wrap"></div>
                -->
            </div>
    </ion-content>
</ion-view>