
<div class="modal">
    <ion-header-bar class="bar bar-assertive item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search"  id="tSearch" ng-model="modal.searchText">
        </label>
    </ion-header-bar>
    <ion-content> 
            <ion-checkbox ng-repeat="item in currentSelection | orderBy:OrderFields | filter:modal.searchText" ng-click="vibrate();selectData(item)">
                <div >{{item.name}}</div>              
                <div ng-if="item.town_name" style="float: left;color: #B3B3B3">{{item.town_name}}</div>
            </ion-checkbox>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <button class="button button-clear button-primary"  ng-click="vibrate();modal.hide()">Close</button>
    </ion-footer-bar>
</div>