<ion-view>

    <ion-content>
          
        <div class="list list-inset">

            <div class="select-component" ng-if="SF_type==2&&fmcgData.editable!=1">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 144)">
                            {{(stockUpdation.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="select-component" ng-if="SF_type==2&&fmcgData.editable!=1">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 44, stockUpdation.subordinate.selected.id)">
                            {{(stockUpdation.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="SF_type==1&&fmcgData.editable!=1">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal(allstockists,44)">
                            {{(stockUpdation.stockist.selected.id| getValueforIDD : {'collection' : allstockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
            <h4 ng-if="fmcgData.editable==1">
                <div style="font-weight:bold;padding:10px 0px">
                    {{StkCap}}: <span style="background-color:lightgray;color:blue;padding:10px">
                        {{(stockUpdation.stockist.selected.id| getValueforIDD : {'collection' : allstockists}).name || "Select "+StkCap}}
                    </span>
                </div>
            </h4>
            <div style="margin-bottom: 10px;"></div>
            <h4><div style="background-color:lightgray;font-weight:bold;color:red">Last Updation Date: <span>{{LastUpdationDate}}</span></div></h4>
            <div style="margin-bottom: 10px;"></div>
            <div class="select-component" ng-if="(editing!=0 || fmcgData.editable==1)&&prod==0">
                <div class="label">
                    <div class="label-text">Product</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openMProduct('product_master', 9)">
                            {{(fmcgData.product.selected.id| getValueforIDD : {'collection' : products}).name || "Select the Product"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div ng-if="(editing!=0 || fmcgData.editable==1) && recv==1" style="background-color:#eaeaea;border-bottom:1px solid #d4d4d4"><div style="text-align: right;margin-right:40px;"><span style="color:#000000;font-weight:bold;">Closing Stock</span></div></div>
        <div ng-if="editing!=0 || fmcgData.editable==1" class="gridStyle" ng-grid="gridOptions" style="height: 500px">

        </div>
</div>
        <div style="height: 75px">

        </div>
         <div class="row moveDown">
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();sendWhatsApp()">
                    <img src="img/WhatsApp.png" />
                    <div class='buttonC-text' style="white-space:nowrap">Whats App</div>

                </div>
            </div>
        
        </div>
    </ion-content>
     <ion-footer-bar class="bar-dark">
         <button class="button buttonClear  button-balanced pull-left" ng-if="fmcgData.editable!==1 && editing==0 " ng-click="vibrate();edit()">Edit</button>
         <button class="button buttonClear  button-assertive pull-left" ng-if="editing==0 && fmcgData.editable==1" ng-click="vibrate();refresh()">Cancel</button>
         <button class="button buttonClear  button-balanced pull-right" ng-if="editing!=0 || fmcgData.editable==1" ng-click="vibrate();save()">Submit</button>
    </ion-footer-bar>
</ion-view>