<ion-view>
    <ion-content>
        <div class="list list-inset">
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Total Calls</div>
                </div>
                 <div class="select-box">
                    <div class="input-box">
                       <!-- ng-change="unprod($event)"-->
                        <input type="number" class="input-css" ng-model="data.tcalls"  ng-change="tprod($event)">     
                    </div>
                </div>
            </div>
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Productive Calls</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <!-- ng-change="total($event)"-->
                        <input type="number" class="input-css" ng-model="data.pcalls" ng-change="prod($event)" placeholder="Productive Calls">     
                    </div>
                </div>
            </div>


            <div class="select-component">
                <div class="label">
                    <div class="label-text">UnProductive Calls</div>
                </div>
                 <div class="select-box" >
                    <div class="input-box">
                         <!-- ng-change="total($event)"-->
                        <input type="number"  style="background-color:rgba(255, 0, 0, 0.16)" class="input-css" ng-model="data.upcalls"  placeholder="UnProductive Calls" disabled>     
                    </div>
                </div>
            </div>
             
            <div class="select-component">
                <div class="label">
                    <div class="label-text">Order Value</div>
                </div>
                 <div class="select-box">
                    <div class="input-box">
                        <input type="number" style="background-color:rgba(255, 0, 0, 0.16)" class="input-css" ng-model="data.pob_value" disabled>     
                    </div>
                </div>
            </div>
             <div class="select-component">
                <div class="label">
                    <div class="label-text">DCR TLSD</div>
                </div>
                 <div class="select-box">
                    <div class="input-box">
                        <input type="number" class="input-css" ng-model="data.DCR_TLSD">     
                    </div>
                </div>
            </div>
             <div class="select-component">
                <div class="label">
                    <div class="label-text">DCR LPC</div>
                </div>
                 <div class="select-box">
                    <div class="input-box">
                        <input type="number" class="input-css" ng-model="data.DCR_LPC">     
                    </div>
                </div>
            </div>
             <div class="gridStyle" ng-grid="gridOptions" style="height: 500px">

        </div>
        </div>

      

    </ion-content>
    <ion-footer-bar class="bar-dark">


        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
            update()">Save</button>
    </ion-footer-bar>
</ion-view>