<ion-view>
    <ion-content>
        <div class="list list-inset">
         <!--   <button class="button button-small button-balanced" style="float:right" ng-click="vibrate();
            viewStock()">View Stock
            </button>
            <div class="select-component" ng-if="(',1,4,').indexOf(',' + fmcgData.customer.selected.id + ',') > -1 && AppTyp == 1">
                <div class="label">
                    <div class="label-text">Stockist</div>
                </div>

                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" 
                            >
                            {{(fmcgData.OrdStk.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>-->
                                             <!--ng-click="vibrate();openModal('stockist_master', 14, fmcgData.subordinate.selected.id)"-->

            <label style="font-size: 17px;font-weight: bold">
                Route Target <span class="badge badge-royal icon-badge">{{fmcgData.rootTarget}}</span>
            </label>
            <div style="margin-bottom: 10px;"></div>
            <div class="select-component" style="display:none" ng-if="(',1,4,').indexOf(',' + fmcgData.customer.selected.id + ',') > -1 && AppTyp == 1">
                <div class="label">
                    <div class="label-text">Order No</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="number" ng-model="fmcgData.OrderNo" class="input-css" placeholder="Order No" ng-click="vibrate();">
                    </div>
                </div>
            </div>

            <div class="select-component" ng-if="prod==0">
                <div class="label">
                    <div class="label-text">Product</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openMProduct('product_master', 9)">
                            {{(fmcgData.product.selected.id| getValueforIDD : {'collection' : products}).name || "Select the Product"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gridStyle" ng-grid="gridOptions" style="height: 500px">

        </div>

       
        <div class="row moveDown">
            <!--<div class="col"> 
                <div class='buttonC-container left-sidepull' ng-click="save()"  ng-if="((!fmcgData.arc))">
                    <div class="buttonC">
                        <i class="icon ion-archive footer-icon"></i>
                    </div>
                    <div class='buttonC-text'>Save To Draft</div>
                </div>
            </div>-->
            <!--<div class="col"><div class='buttonC-container right-sidepull' ng-click="showModal()">
                    <div class="buttonC">
                        <i class="icon ion-clipboard footer-icon"></i>
                    </div>
                    <div class='buttonC-text'>Summary</div>
                </div></div>-->
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();openOptMenu()">
                    <div class="buttonC">
                        <i class="icon ion-images footer-icon" style="line-height: 45px;"></i>
                    </div>
                    <div class='buttonC-text'>Event Captures</div>
                </div>
            </div>
        </div>
        <div style="height: 75px">

        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button ng-if=" fmcgData.editableOrder!=1" class="button button-assertive buttonClear pull-left" ng-click="vibrate();
            goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
        <button ng-if="(fmcgData.customer.selected.id != 1 && fmcgData.editableOrder!=1)&&fmcgData.customer.selected.id != 3"  class="button button-assertive buttonClear pull-right"ng-click="vibrate();
            goNext()">&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-right-c"></i>&nbsp;&nbsp;&nbsp;</button>
        <button  ng-if="(fmcgData.customer.selected.id == 1&& fmcgData.editableOrder!=1)||(SPNeed==0&&fmcgData.customer.selected.id == 3)" class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
                submit()">Final Submit</button>
         <button  ng-if=" fmcgData.editableOrder==1&&fmcgData.customer.selected.id != 3" class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
                editOrder()">Save</button>
    </ion-footer-bar>
</ion-view>