<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{modal.rptTitle}}</h1>
    </ion-header-bar>
    <ion-content style="background-color:#f6eeee;">
        <div id="vstpreview">
        <ion-list  ng-if="modal.type==9" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase" ng-style="Vstlist.orderValue>0 && {'background-color': ' #f1f1f1'}"><span ng-if="Vstlist.orderValue>0" class="ion-star" style="color: red;float: right"></span>
                <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>Route : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
                <p ng-if="Vstlist.WWith" style="white-space:pre-wrap !important">Joint Work : <b style="color:#7e0ca5">{{Vstlist.WWith}}</b></p>
                <p ng-if="Vstlist.products" style="white-space:pre-wrap !important">Product : <b style="color:#7e0ca5">{{Vstlist.products}}</b></p>
                <p ng-if="Vstlist.gifts" style="white-space:pre-wrap !important">Input : <b style="color:#7e0ca5">{{Vstlist.gifts}}</b></p>
                <p style="white-space:pre-wrap !important">Remarks : <b style="color:#7e0ca5">{{Vstlist.remarks}}</b></p>
            </ion-item>
        </ion-list>
             <ion-list  ng-if="modal.type==null || modal.type==0" >
                             <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase" ng-style="Vstlist.orderValue>0 && {'background-color': ' #f1f1f1'}"><span ng-if="Vstlist.orderValue>0" class="ion-star" style="color: red;float: right"></span>
                                  <div class="ro">
                <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                                   
            </div>
                                 <div class="ro">
                <p>Route : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
                
                </div>               
                                  <div class="ro">
                          <p ng-if="Vstlist.WWith" style="white-space:pre-wrap !important">Joint Work : <b style="color:#7e0ca5">{{Vstlist.WWith}}</b></p>

                
                </div>                   
                                          
             <div class="ro" ng-if="Vstlist.productSelectedList">
                <div class="co">
                    Products
                </div>
                <div class="co" style="width: 100%">
                    <div class="row">
                        <div class="col"><b>Product</b></div>
                          <div class="col"><b>Qty</b></div>
                          <div class="col"><b>Value</b></div>
                    </div>
                    <div ng-repeat="productSelection in Vstlist.productSelectedList">
                        <div class="row">
                            <div class="col">{{productSelection.product_Nm}}</div>
                            <div class="col">{{productSelection.rx_qty|| 0}}</div><div class="col">{{productSelection.sample_qty}}</div>
                        </div>
                    </div>
                </div>
            </div>
                                   <div class="ro">                <p style="white-space:pre-wrap !important">Remarks : <b style="color:#7e0ca5">{{Vstlist.remarks}}</b></p>

                
                </div>                    
                             </ion-item>
        </ion-list>
          <ion-list  ng-if="modal.type==10" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase">
                <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span style="float:right"><b>{{Vstlist.orderValue}}</b></span><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                <p>{{SDPCap}} : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
             <p style="white-space:pre-wrap !important">Collected Amount : <b style="color:#7e0ca5">{{Vstlist.Activity_POB_Val}}</b></p>
             <p style="white-space:pre-wrap !important">Outstanding Amount : <b style="color:#7e0ca5">{{Vstlist.orderValue-Vstlist.Activity_POB_Val}}</b></p>

            </ion-item>
        </ion-list>
            <ion-list  ng-if="modal.type==1" >
            <ion-item ng-repeat="Vstlist in modal.vwVstlists" class="propCase">
                        <div class="ro">
                               <h2 style="color:#39ac08;"><b>{{Vstlist.name}}</b><span style="float:right"><b>{{Vstlist.orderValue}}</b></span><span class="item-note propCase" style="color:#39ac08;white-space:nowrap !important;">{{Vstlist.vtime}}</span></h2>
                    
            </div>
                  <div class="ro">
                              <p>{{SDPCap}} : <b style="color:#7e0ca5">{{Vstlist.Territory}}</b></p>
            </div>
                 <div class="ro" ng-if="Vstlist.productSelectedList">
                <div class="co">
                    Products
                </div>
                <div class="co" style="width: 100%">
                    <div class="row">
                        <div class="col"><b>Product</b></div>
                          <div class="col"><b>Qty</b></div>
                          <div class="col"><b>Value</b></div>
                    </div>
                    <div ng-repeat="productSelection in Vstlist.productSelectedList">
                        <div class="row">
                            <div class="col">{{productSelection.product_Nm}}</div>
                            <div class="col">{{productSelection.rx_qty|| 0}}</div><div class="col">{{productSelection.sample_qty}}</div>
                        </div>
                    </div>
                </div>
            </div>
                                 <div class="ro">
                   <p style="white-space:pre-wrap !important">Collected Amount : <b style="color:#7e0ca5">{{Vstlist.Activity_POB_Val}}</b></p>                   
            </div>
                <div class="ro">
             <p style="white-space:pre-wrap !important">Outstanding Amount : <b style="color:#7e0ca5">{{Vstlist.orderValue-Vstlist.Activity_POB_Val}}</b></p>

                </div>
            
            </ion-item>
        </ion-list>
        </div>
                <div class="row moveDown">
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendWhatsApp()">
                    <img src="img/WhatsApp.png" />
                    <div class='buttonC-text' style="white-space:nowrap">Whats App</div>

                </div>
            </div>
            <div class="col">
                <div class='buttonC-container left-sidepull' ng-click="vibrate();modal.sendEmail()">
                    <img src="img/Email.png" />
                    <div class='buttonC-text' style="white-space:nowrap">E-Mail</div>
                </div>
            </div>
        </div>
        <!-- <a href="#" id="btn-Convert-Html2Image">s</a> -->
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <button class="button button-clear button-primary" ng-click="vibrate();modal.hide()">Close</button>
    </ion-footer-bar>
</div>

