
<ion-view>
    <ion-content>
        <table class="pure-table pure-table-bordered" >
            <tr>
                <th>Date</th>
                <th>Territory Worked</th>
                <th>Sub Date</th>
                <th>Worktype</th>
                <th>{{DrCap}} Met</th>
                <th>{{ChmCap}} Met</th>             
                <th>{{StkCap}} Met</th>
                <th>{{NLCap}} Met</th>
              
            </tr>
            <tr ng-repeat="dcr in dcrDataCur">
                <td>{{dcr.day_dcr}}</td>
                <td>{{dcr.town_code}}</td>
                <td>{{dcr.date_sub}}</td>
                <td>{{dcr.worktype_name}}</td>
                <td>{{dcr.doc_count}}</td>
                <td>{{dcr.chm_count}}</td>
                <td>{{dcr.stk_count}}</td>
                <td>{{dcr.uldoc_count}}</td>
                
            </tr>
        </table>
       
    </ion-content>
</ion-view>
