<ion-view>
    <ion-content>
        <div class="list list-inset">
            <div class="select-component">

                <div class="label">
                    <div class="label-text">Work Type</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div  class="input-css" ng-click="vibrate();openModal('mas_worktype', 101)">
                            {{(Mypln.worktype.selected.id| getValueforIDD : {'collection' : worktypes}).name || "Select the Work Type" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-hide="view_MR" ng-if="Mypln.worktype.selected.FWFlg == 'F'||Mypln.worktype.selected.FWFlg == 'DH'">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 103)">
                            {{(Mypln.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Fieldforce"  }}
                        </div>
                    </div>
                </div>
            </div>
             <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'">
                <div class="label">
                    <div class="label-text">{{StkCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 104, Mypln.subordinate.selected.id)">
                            {{(Mypln.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'">
                <div class="label">
                    <div class="label-text">Route</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('town_master', 102, Mypln.subordinate.selected.id)">
                            {{(Mypln.cluster.selected.id| getValueforIDD : {'collection' : myTpTwns}).name || "Select the Route"  }}
                        </div>
                    </div>
                </div>
            </div>  
             <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'&&edit_sumry==0">
                <div class="label">
                    <div class="label-text">Entry Mode</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal(DCRTypes, 109)">
                            {{(Mypln.dcrtypes.selected.id| getValueforIDD : {'collection' : DCRTypes}).name || "Select the Entry Mode"  }}
                        </div>
                    </div>
                </div>
            </div>  
            
           <div class="select-component" ng-if="Mypln.worktype.selected.FWFlg == 'F'||Mypln.worktype.selected.FWFlg == 'DH'">

                <div class="label">
                    <div class="label-text">Joint Work</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('salesforce_master', 8, Mypln.subordinate.selected.id)">
                            {{fmcgData.jointwork.name|| "Select JointWork"}}
                        </div>   

                    </div>
                </div>
            </div>  

            <div class="gridStyle" ng-grid="gridOptions" style="height: 500px" ng-if="Mypln.worktype.selected.FWFlg == 'F'||Mypln.worktype.selected.FWFlg == 'DH'">

            </div>     
            <br /><br />
             
            <div class="select-component" style="height:100%;">
                <div class="label">
                    <div class="label-text">Remarks</div>
                </div>
                <textarea ng-model="Mypln.remarks" rows="5" class="textarea-css" ng-click="vibrate();">                     

                </textarea>
            </div>    
            <br />  
             
            <div ng-if="Mypln.worktype.selected.FWFlg != 'F'" class="note">
               <b>Note:-</b> Overwrite your Daily Call Report Automatically.

            </div>   
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button buttonClear  button-balanced pull-right" ng-click="vibrate();save()" ng-if="fmcgData.DCRToday!=1">Submit</button>
    </ion-footer-bar>
</ion-view>