<ion-view>
    <ion-content>

        <!--        <a-select ng-model="currentSelection.name" field="name" data-options="worktype" data-label="{{'Select an option'}}"  data-change-callback="callback(value)">
                 
                         </a-select>-->
        <div class="list list-inset">                     
            <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id != 7&&routeWise!=0">

                <div class="label">
                    <div class="label-text">{{(fmcgData.customer.selected.id| getValueforIDD : {'collection' : customers}).name}}</div>
                </div>
                <div class="select-box" >
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 3">
                        <div class="input-css" ng-click="vibrate();
                            openModal('stockist_master', 4, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>                         
                    </div>
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 2">
                        <div class="input-css" ng-click="vibrate();
                            openModal('chemist_master', 5, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.chemist.selected.id| getValueforIDD : {'collection' : chemists}).name  || "Select "+ChmCap}}
                        </div>      
                    </div>
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 1">
                        <div class="input-css" ng-if="fmcgData.editableOrder!=1" ng-click="vibrate();
                            openModal('doctor_master', 6, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap}}
                        </div>  
                         <div class="input-css" ng-if="fmcgData.editableOrder==1" ng-click="vibrate();
                            ">
                            {{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap}}
                        </div>  
                    </div>
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 4">
                        <div class="input-css" ng-click="vibrate();
                            openModal('unlisted_doctor_master', 7, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.uldoctor.selected.id| getValueforIDD : {'collection' : uldoctors}).name  || "Select "+NLCap}}
                        </div>         
                    </div>
                </div>
            </div>   
              <div class="select-component" ng-if="routeWise==0">
            
                            <div class="label">
                                <div class="label-text">Retailer</div>
                            </div>
                            <div class="select-box">
                                <div class="input-box">
                                      <div class="input-css">
                            {{fmcgData.doctor.name}}
                        </div>   
                                    </div>
                            </div>
                        </div> 
            <!--            <div class="select-component" >
            
                            <div class="label">
                                <div class="label-text">POB</div>
                            </div>
                            <div class="select-box">
                                <div class="input-box">
                                    <input  type="number" ng-model="fmcgData.pob" class="input-css" placeholder="POB" ng-click="vibrate();"> 
                                </div>
                            </div>
                        </div>  -->
             <div class="select-component" ng-hide="view_MR" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 7">
                <div class="label">
                    <div class="label-text">Headquarters</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="openModal('subordinate_master', 18)">
                            {{(fmcgData.subordinate.selected.id| getValueforIDD : {'collection' : subordinates}).name || "Select the Headquarters"  }}
                        </div>
                    </div>
                </div>
            </div>
                    <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 7">
                <div class="label">
                    <div class="label-text">Name Of the Distributor</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="fmcgData.dh_Shop_Name" placeholder="Name of the Name">     
                    </div>
                </div>
            </div>
             <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 7">
                <div class="label">
                    <div class="label-text">Address</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="fmcgData.dh_address" placeholder="Enter the Address">     
                    </div>
                </div>
            </div>
             <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 7">
                <div class="label">
                    <div class="label-text">area</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="fmcgData.dh_area" placeholder="Area">     
                    </div>
                </div>
            </div>
            <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 7">
                <div class="label">
                    <div class="label-text">Contact Person Name</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="fmcgData.dh_Contact_Person" placeholder="Contact Person Name">     
                    </div>
                </div>
            </div>
           
            <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 7">
                <div class="label">
                    <div class="label-text">Phone Number</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input type="text" class="input-css" ng-model="fmcgData.dh_Phone_Number" placeholder="Enter the Phone No">     
                    </div>
                </div>
            </div>   
            <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 3">

                <div class="label">
                    <div class="label-text">Payment Type</div>
                </div>
                <div class="select-box" >
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal(instrumenttypes,27)">
                            {{(fmcgData.instrumenttype.selected.id| getValueforIDD : {'collection' : instrumenttypes}).name || "Select Instrument Type"}}
                        </div>                         
                    </div></div></div>
             <div class="select-component" style="margin-bottom:30px;" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 3">

                <div class="label">
                    <div class="label-text">Date Of Payment</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input  type="date" ng-model="fmcgData.dateofinst" class="input-css" placeholder="Date Of Instrument" ng-click="vibrate();"> 
                    </div>
                </div>
            </div>  
             <div class="select-component" ng-if="fmcgData.customer.selected&&fmcgData.customer.selected.id == 3">

                <div class="label">
                    <div class="label-text">Amount</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input  type="number" ng-model="fmcgData.pob" class="input-css" placeholder="POB" ng-click="vibrate();"> 
                    </div>
                </div>
            </div>  
           <div class="select-component" ng-if="JointworkSetup!=1&&JWNeed!=1">

                <div class="label">
                    <div class="label-text">Joint Work</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();
                            openModal('salesforce_master', 8, fmcgData.subordinate.selected.id)">
                            {{fmcgData.jointwork.name|| "Select JointWork"}}
                        </div>   

                    </div>
                </div>
            </div> 
            <div class="gridStyle" ng-grid="gridOptions" style="height: 500px" ng-if="JWNeed==0">

            </div>   
            

            <ion-list style="font-size:16px;background-color: green"   ng-if="fmcgData.customer.selected.id == 1&&precall==0">
                <div>
                    <div class = "row">
                        <div class = "col col-30">SVL No</div>
                        <div class = "col"  style="color:green;">: {{vwPreCall.SVL|| "-"}}</div>
                    </div>
                    <div class = "row">
                        <div class = "col col-30">Retailer Channel</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.DrSpl|| "-"}}</div>
                    </div>

                    <div class = "row">
                        <div class = "col col-30">Class</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.DrCat|| "-"}}</div>
                    </div>
<!--                    <div class = "row">
                        <div class = "col col-30">Route Target</div>
                        <div class = "col" style="color:green;">: {{precall.rootTarget|| 0}}</div>
                    </div>
                    <div class = "row">
                        <div class = "col col-30">Productivity</div>
                        <div class = "col" style="color:green;">: {{precall.minProd|| 0}}</div>
                    </div>-->

                    <div ng-repeat="item in StockistDetails track by $index">
                        <div class = "row">
                            <div class = "col col-30">{{StkCap}}</div>
                            <div class = "col">: 
                                <span ng-if="$index == 0"  style="color:green;">{{item.stockist_code|| "-"}}</span>
                                <span ng-if="$index > 0"  style="color:green;border-bottom: 1px solid black">{{item.stockist_code|| "-"}}</span></div>
                        </div>
                        <div class = "row">
                            <div class = "col col-30">Last 6 Order Average</div>
                            <div class = "col" style="color:green;">: {{item.Avg|| "-"}}</div>
                        </div>
                        <div class = "row">
                            <div class = "col col-30">Last Order Amount</div>
                            <div class = "col" style="color:green;">: {{item.LastOrderAmt|| "-"}}</div>
                        </div>
              <!--          <div class = "row">
                            <div class = "col col-30">Out Standing Amount</div>
                            <div class = "col" style="color:green;">: {{item.outStandingAmt|| "-"}}</div>
                        </div>
                        -->
                    </div>
                    <div class = "row">
                        <div class = "col col-30">Last visited</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.LVDt|| "-"}}</div>
                    </div>
                 <!--   <div class = "row">
                        <div class = "col col-30"> Call FeedBack</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.CallFd|| "-"}}</div>
                    </div>-->
                    <div class = "row">
                        <div class = "col col-30"> Remarks</div>
                        <div class = "col" style="color:green;">: {{vwPreCall.Rmks|| "-"}}</div>
                    </div>
                </div>
            </ion-list>
            <div  ng-if="fmcgData.customer.selected.id == 1||fmcgData.customer.selected.id == 7||fmcgData.customer.selected.id == 3" style="margin-top: 20px;">
                <ion-radio style="display: none" ng-model="fmcgData.rx" ng-value="1" ng-init="fmcgData.rx = 1">Rx</ion-radio>
                <ion-radio style="display: none" ng-model="fmcgData.rx" ng-value="0">Non Rx</ion-radio>
              
                 <div style="margin-top: 10px;"  ng-if="JWNeed!=1">
            <div class="select-component" ng-if="CollectedAmountSetup!=1">

                <div class="label">
                    <div class="label-text">Collected Amount</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input  type="number" ng-model="fmcgData.pob" class="input-css" placeholder="Collected Amount" ng-click="vibrate();"> 
                    </div>
                </div>
            </div>  
        </div>
                 <div class="select-component"  ng-if="template==0">

                <div class="label">
                    <div class="label-text" > {{(fmcgData.customer.selected.id| getValueforIDD : {'collection' : customers}).name}} Remarks</div>
                                       
                </div>
                <div class="select-box">
                    <div class="input-box">
                       <div  class="input-css"  ng-click="vibrate();openModal('nonreport_template_master', 15)">
                            {{(fmcgData.nrx_t| getValueforIDD : {'collection' : nonreportTemplates}).name || "Select the " +(fmcgData.customer.selected.id| getValueforIDD : {'collection' : customers}).name+ " Remarks"}}
                        </div>                     
                                            
                    </div>
                </div>
            </div>
                <div class="select-component1">

                    <div class="label">
                        <div class="label-text">Remarks</div>
                    </div>
                    <textarea ng-model="fmcgData.remarks" rows="5" class="textarea-css" ng-click="vibrate();" placeholder="Enter the Remarks ( or ) Select from Template">
                     
                    </textarea>
                </div>
            </div>

            <div>
                <div class="row moveDown">
                    <!--<div class="col"> <div class='buttonC-container left-sidepull' ng-click="vibrate();
                        save()" ng-if="((!fmcgData.arc))">
                            <div class="buttonC">
                                <i class="icon ion-archive footer-icon"></i>
                            </div>
                            <div class='buttonC-text'  >Save To Draft</div>
                        </div></div>-->
                    <!--<div class="col"><div class='buttonC-container right-sidepull' ng-click="vibrate();showModal()">
                            <div class="buttonC">
                                <i class="icon ion-clipboard footer-icon"></i>
                            </div>
                            <div class='buttonC-text'>Summary</div>
                        </div></div>-->
                    <div class="col">
                        <div class='buttonC-container left-sidepull' ng-click="vibrate();openOptMenu()">
                            <div class="buttonC">
                                <i class="icon ion-images footer-icon" style="line-height: 45px;"></i>
                            </div>
                            <div class='buttonC-text'>Event Captures</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 75px">

            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();
            goBack()" ng-if="fmcgData.customer.selected.id != 3">
            <!--    &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;-->
            Switch&nbsp;Route
        </button>
        <span style="display:block;width:90%">{{fmcgData.geoaddress}}</span>
        <button  ng-if="(fmcgData.customer.selected.id != 1||fmcgData.customer.selected.id != 7)&&routeWise!=0&&(SPNeed==1&&fmcgData.customer.selected.id == 3)" class="button  button-assertive buttonClear pull-right"ng-click="vibrate();
            goNext()">&nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-right-c"></i>&nbsp;&nbsp;&nbsp;</button>

        <button  ng-if="((fmcgData.customer.selected.id == 1||fmcgData.customer.selected.id == 7)&&routeWise!=0)" class="button buttonClear  button-balanced pull-right" ng-click="vibrate();
            submit()">Final Submit</button>
        <button ng-if="(fmcgData.customer.selected.id == 1 &&  fmcgData.editableOrder!=1&&routeWise!=0)||(SPNeed==0&&fmcgData.customer.selected.id == 3)" class="button buttonClear  button-calm pull-right" style="margin-right: {{100*((fmcgData.customer.selected.id!=3)?fmcgData.customer.selected.id:0)}}px;" ng-click="vibrate();
            goNext()">
            Order
        </button>
           <button  ng-if="fmcgData.customer.selected.id == 1 &&  fmcgData.editableOrder!=1&&routeWise==0" class="button buttonClear button-calm pull-right" ng-click="vibrate();
            goNext()">Order</button>
    </ion-footer-bar>

</ion-view>

