<ion-view title="Sign-In">
    <ion-content style="background-color:#AA1502">
        <br />
        <br />
        <br />
        <br />
        <table style="width:100%;">
            <tr>
                <td align="center"><img src="img/inactusr.png" /></td>
            </tr>
            <tr><td align="center"><h1 style="color:#FFFFFF;">You are not active</h1></td></tr>

            <tr><td align="center"><button style="width:90%" class="button button-block button-positive" ng-click="GotoLogin()">Sign in</button></td></tr>
        </table>
        
    </ion-content>
</ion-view>
