<ion-popover-view>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in ListofNotify" style="padding: 5px 13px;" ng-click="openPop(item)">
                <b style="display:block;font-size:small;">
                    <img src="img/notify.png" style="width: 25px;margin: 0px 6px -7px 0px;" ng-if="item.typ==1"/>
                    <img src="img/cake.png" style="width: 25px;margin: 0px 6px -7px 0px;" ng-if="item.typ==2" />
                    {{item.Subject}}
                    <b class="item-note">{{item.CrDt}}</b>
                </b>
                <b style="display:block;font-size:x-small;padding:5px 0px;overflow: hidden;text-overflow: ellipsis;">{{item.NtfyMsg}}</b>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>