<ion-view class="ion-viewport">
    <ion-content >
        <ion-list>   
                                                 
        <ion-item ng-click="vibrate();goTobrandsummary(1)">
            <span class="item-note" style="color:#4800ff;font-weight:bold;float:left;" >Brand Value</span>
        </ion-item>
              
        <ion-item ng-click="vibrate();goTobrandsummary(2)" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">Brand Litres</span>
        </ion-item>
       
      </ion-list>
        </ion-content></ion-view>