<ion-view>
   <ion-content>
      <div class="list list-inset">
         <div>
            <div class = "row" style="background-color:#0eabc0;">
               <div  class = "col col-25" style="margin-top: 11px;" ng-click="vibrate();ChangeDatetype(1)"   ><span   id="customday" style="font-size: small; color:white" >Today</span></div>
               <div  class = "col col-30" style="margin-top: 11px;" ng-click="vibrate();ChangeDatetype(2)" > <span class="select-box" id="Monthwise"style="font-size: small;color:white" >Month</span></div>
               <div  class = "col col-30"style="margin-top: 11px;"  ng-click="vibrate();ChangeDatetype(3)"   ><span id="Custom" class="select-box" style="font-size: small;color:white" >Custom</span></div>

               <div  class = "col col-15" id="YTD"  ng-click="vibrate();openModal(YtdTypes,199,1)" > <img  style="height: 27px;width: 42px;" src="img/doticon.png">  </div>
            </div>
            <div class = "row" >
               <div  class = "col col-50"><span class="select-box" style="font-size: small;padding: 0px 9px;color:#0ca6ba;" >From</span> <input type="date"  ng-model="fromDt" ng-change="Fromdate(fromDt)" style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);"/></div>
               <div class = "col col-50"> <span class="select-box" style="font-size:small;padding: 0px 9px;color:#0ca6ba;" >To</span> <input type="date"     ng-model="todate" ng-change="getprimarysales(todate)" style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);" /></div>
            </div>
            
         </div>
         <div style="color:green;font-weight:bolder" class="ng-binding">Sales Report On {{SalesreportCaption}}</div>
         <div class="row"  style="background-color:#f6eeee">
            <div class="col col-20" style="color:black;font-weight:bold;">SL.No</div>
            <div class="col col-30" style="color:black;font-weight:bold;">Field Force Name</div>
            <div class="col col-30" style="color:black;font-weight:bold;">CTotal</div>
             <div class="col col-20" ng-if="DateType==4" style="color:black;font-weight:bold;">PTotal</div>
         </div>
         <div ng-repeat="(i,x) in PrimarySalesresponse track by $index" style="background-color: rgb(241, 241, 241)">
            <div class="row">
               <div class="col col-20">
                  {{i+1}}
               </div>
               <div class="col col-30">
                  {{x.Sf_Name}}
               </div>
               <div class="col col-30">
                  {{x.Total}}
               </div>
                  <div ng-if="DateType==4" class="col col-20">
                  {{x.TotalP}}
               </div>
            </div>
         </div>
         <div class="col col-70" style="width: 505px;height: 305px;overflow: auto;display: block;margin-left: -114px;"    >
            <canvas id="pie"  class="chart chart-pie"
               chart-data="PrimarysalesFPGraph" chart-labels="labels" chart-options="options" chart-colors='colors'
               style='width: 383px;height: 190px;overflow: auto;' chart-legend="true"></canvas>
         </div>
      </div>
   </ion-content>
   <ion-footer-bar class="bar-dark bar bar-footer">
      <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>
   </ion-footer-bar>
</ion-view>