<ion-view>
    <ion-content>
        <div class="list list-inset">
            <div class="select-component">

                <div class="label">
                    <div class="label-text" style="margin-top: 19px;">{{DrCap}}</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('doctor_master', 6, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap ||fmcgData.ListedDr_Name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-list class="container">
            <div class="row" style="background-color:#43cee6;">
                 <div class="col col-10" style="color: white;"></div>
                <div class="col col-75" style="color: white;">Product Name</div>
                <div class="col col-15" style="text-align:center;color: white;">Avail</div>
                
            </div>
            <div ng-repeat="item in ProductList">
                <div class="row" style="background-color:#ffffff">
                    <div class="col col-10" style="text-align:center">
                        <div class="roundedTwo">
                           
                            {{$index+1}}
                        </div>
                    </div>
                    <div class="col col-75" style="font-size:large;padding:5px 0px;color:#6c3;margin-left: 14px;">{{item.name}}</div>


                    <div class="col col-15" style="text-align:center">
                        <div class="roundedTwo">
                            <input type="checkbox" id="check1_{{$index}}" ng-model="item.Avail" />
                            <label for="check1_{{$index}}"></label>
                        </div>
                    </div>
                   
                </div>
                  <hr style="border-top: 1px dashed #655f59;"/>
            </div>







            
        </ion-list>
        <div>
            
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button  button-balanced buttonClear pull-right" ng-click="vibrate();SaveProductAvail()">Submit</button>
    </ion-footer-bar>
</ion-view>
