
<div class="modal">
    <ion-header-bar class="bar bar-assertive item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search"  id="tSearch" ng-model="modal.searchText">
        </label>
    </ion-header-bar>
    <ion-content delegate-handle="optsScroll" style="padding:0px 10px;">
        <div ng-if="showmsg_t"><h4 style="color:red">{{ErrMsg}}</h4></div>
        <div   style="margin-top: 25px;">
        <ion-checkbox ng-if="SelMulti" ng-repeat="item in currentSelection | orderBy:OrderFields | filter:modal.searchText"  ng-model="item.checked" ng-checked="item.checked" ng-click="vibrate();">
            <div>{{item.name}}</div>
            <div ng-if="item.town_name" style="float: left;color: #B3B3B3">{{item.town_name}}</div>
        </ion-checkbox>
    </div>
        <ion-list class="modal-list">
            <ion-item ng-if="!SelMulti" ng-repeat="item in FilteredData | orderBy:OrderFields | filter:modal.searchText" ng-click="vibrate();selectData(item)">
                <div    ng-style="{'color':(item.color ?'green':'#777')}"  >{{item.name}}</div>
                <!--<div ng-if="item.town_name" style="float: left;color: #B3B3B3">{{item.town_name}}</div>-->
                <div  style="color: #B3B3B3" >{{item.Mobile_Number}}</div>
                 <!-- <div  style="color: #B3B3B3"   ng-if="ContactP_Nd" >{{item.ContactPersion}}</div> -->
                  <div ng-if="item.ListedDr_Address1 && GEOTagNeed == 0" style="float: left;color: #B3B3B3">{{item.ListedDr_Address1}}</div>
                <div ng-if="item.town_name && SWTOWN == 1" style="float: left;color: #B3B3B3">{{item.town_name}}</div>

            </ion-item>
            <ion-item ng-if="!SelMulti" ng-repeat="item in currentSelection | orderBy:OrderFields | filter:modal.searchText" ng-click="vibrate();selectData(item)">
                <div>{{item.name}}</div>
                <div ng-if="item.town_name" style="float: left;color: #B3B3B3">{{item.town_name}}</div>
                <i class="arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <button class="button button-clear button-primary"  ng-click="vibrate();modal.hide()">Close</button>        
        <button class="button button-clear  button-primary pull-right" ng-if="SelMulti" style="width:80px;" ng-click="vibrate();svSelect(currentSelection)">Ok</button>
    </ion-footer-bar>
</div>