<ion-view>
   <ion-content>
      <div class="list list-inset">
         <div>
            <div class = "row" style="background-color:#0eabc0;">
               <div  class = "col col-25" style="margin-top: 11px;" ng-click="vibrate();ChangeDatetype(1)"   ><span   id="customday" style="font-size: small; color:white" >Today</span></div>
               <div  class = "col col-30" style="margin-top: 11px;" ng-click="vibrate();ChangeDatetype(2)" > <span class="select-box" id="Monthwise"style="font-size: small;color:white" >Month</span></div>
               <div  class = "col col-30" style="margin-top: 11px;" ng-click="vibrate();ChangeDatetype(4)" > <span class="select-box" id="Yearwise"style="font-size: small;color:white" >Year</span></div>
               <div  class = "col col-30"style="margin-top: 11px;"  ng-click="vibrate();ChangeDatetype(3)"   ><span id="Custom" class="select-box" style="font-size: small;color:white" >Custom</span></div>

               <!-- <div  class = "col col-15" id="YTD"  ng-click="vibrate();openModal(YtdTypes,199,1)" > <img  style="height: 27px;width: 42px;" src="img/doticon.png">  </div> -->
            </div>
            <div class = "row" >
               <div  class = "col col-50"><span class="select-box" style="font-size: small;padding: 0px 9px;color:#0ca6ba;" >From</span> <input type="date"  ng-model="fromDt" ng-change="Fromdate(fromDt)" style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);"/></div>
               <div class = "col col-50"> <span class="select-box" style="font-size:small;padding: 0px 9px;color:#0ca6ba;" >To</span> <input type="date"     ng-model="todate" ng-change="getprimarysales(todate)" style="border-radius: 10px; border: 1px solid rgba(0, 0, 0, .5);" /></div>
            </div>
            
         </div>
         <div style="color:green;font-weight:bolder" class="ng-binding">Visit Analysis {{SalesreportCaption}}</div>
        
         <ion-list>
 <ion-item  class="item-card" ng-repeat="(i,x) in OrderVisitAnalysis track by $index"  ng-click="ViewDetail(x)"       >

                        {{x.Sf_Name}}
                        <span class="badge badge-assertive" style="float: right;" > {{x.Total}}</span>
                    </ion-item>
</ion-list>

         <div class="col col-70" style="width: 505px;height: 305px;overflow: auto;display: block;margin-left: -114px;"    >
            <canvas id="pie"  class="chart chart-pie"
               chart-data="PrimarysalesFPGraph" chart-labels="labels" chart-options="options" chart-colors='colors'
               style='width: 383px;height: 190px;overflow: auto;' chart-legend="true"></canvas>
         </div>
      </div>
   </ion-content>
   <ion-footer-bar class="bar-dark bar bar-footer">
      <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
      &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
      </button>
   </ion-footer-bar>
</ion-view>