

<ion-view>
    <ion-content>
                <ion-list ng-if="success">
                       
                    <ion-item  href="#/fmcg/manageDataView?myChoice={{customer.id}}" ng-repeat="customer in customers">
        
                        {{ customer.name}}
                        <span class="badge badge-assertive" ng-if="customer.count">{{customer.count}}</span>
                    </ion-item>
              
                </ion-list>
         <ion-list ng-if="owsuccess && owTypeData.FWFlg=='DH'">
                    <ion-item  href="#/fmcg/distibutorHunt">
        
                       {{(owTypeData.worktype_code| getValueforIDD : {'collection' : worktypes}).name }}
                        <span class="badge badge-assertive" ng-if="owTypeData.count">{{owTypeData.count}}</span>
                    </ion-item>
                </ion-list>
        <div class="card">
            <div class="item item-divider" ng-if="owsuccess && owTypeData.FWFlg!='DH'">
                {{(owTypeData.worktype_code| getValueforIDD : {'collection' : worktypes}).name ||"Leave"}}
            
            </div>
            <div class="item item-text-wrap">
                <b>Day Activity Remarks</b> :{{owTypeData.daywise_remarks}}
            </div>
            <div class="item item-text-wrap">
                <b>Halfday Work</b> :{{owTypeData.HlfDayWrk}}
            </div> 
        </div>
    </ion-content>
</ion-view>