#map_canvas{
    width:100%;
    height: 100%;
}
.fitHeight {
  height: 100%;
}
.pac-container {
    z-index: 100000;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {    
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
.SearchBx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.SearchBx > input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0;
    margin: 0;
    height: 32px;
    padding: 0 .75em;
}
.SearchBx > span {
    display: inline-block;
    background: #3ec9cb;
    color: #fff;
    padding: .4em .8em;
    margin: 0;
    font-weight: 400;
    height: 32px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-transition: background,.5s,ease;
    transition: background,.5s,ease;
}
.SearchBx > span > i::before{
    font-size:20px;
}
.SearchBx > input, .SearchBx > span {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}
.button.button-icon.ion-home {
    color:#DAE691;
    margin-top:-4px;
}
.pup {
    top:35%;
    bottom:35%;
    left:20%;
    width:60%;
    min-height: 220px;
}.notifyy {
   position: absolute;
    top: 0px;
    margin-top: 124px;
    margin-left: 2px;
    line-height: 16px;
    }
.notify {
  position: absolute;
  top: 0px;
  margin-top: -4px;
  margin-left: 16px;
  line-height: 16px;
}
.badge-outbox {
  background-color: #0C4E90;
  color: #FFF7F7;
}
.badgeBar {
  z-index: 1;
  padding: 0px 5px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  font-size: 13px;
  /* line-height: 16px; */
}
.note
{
     color: #616E14;
     border: solid 1px #BFD62F;
     background-color: #DAE691;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     padding: 14px 20px;
}
.reload:before {
    font-size:16px;color:rgb(36, 126, 161);font-weight:bold;padding:5px;
}
.item-selectH {
  position: relative;
  background-color:#AA1502;
}
.headertop{
    top:87px;
}
.headertop2 {
    top:130px;
}
.bar-subheader
{
  border-color: #cc2311;
  background-color: #AA1502 !important;
  background-color: #ef4e3a;
  background-image: linear-gradient(0deg,#cc2311,#cc2311 50%,transparent 50%);
    color: #ffffff;

}
.item-selectH div{
  padding:0px;
}
.noborder {
    border-width:0px;
}
.cwhite {
    color:#ffffff;
}
.card {
    padding:3px 10px;
}
.card td { 
    padding:2px;
    text-align:center;
    border:solid 1px #808080;
}
.propCase{
    text-transform: capitalize;
}
.rmks{color:#aaa;}
.TbrdSS {
    border-top:solid 2px #9a38fd;    
}
.TbrdSS h4{
    color:#9a38fd;    
}
.TbrdSZ {
    border-top:solid 2px #fd9238;    
}
.TbrdSZ h4{
    color:#fd9238;    
}
.TbrdZM {
    border-top:solid 2px #8efd38;    
}
.TbrdZM h4{
    color:#8efd38;    
}
.TbrdRM {
    border-top:solid 2px #eee200;    
}
.TbrdRM h4{
    color:#eee200;    
}
.TbrdAM,.TbrdMGR,.Tbrd2 {
    border-top:solid 2px #389BFD;    
}
.TbrdAM h4,.TbrdMGR h4,.Tbrd2 h4{
    color:#389BFD;    
}
.TbrdMR,.Tbrd1 {
    border-top:solid 2px #10C25E;    
}
.TbrdMR h4,.Tbrd1 h4{
    color:#10C25E;    
}
.item-date{

    height:35px;
    border: 0px;
    vertical-align:top;
    background-color: #AA1502;
    color: #ffffff;
}
.item-date INPUT{

    height:25px;
    border: 0px;
    vertical-align:top;
    background-color: #AA1502;
    color: #ffffff;
    font-size:16px;
    text-align:right;
    margin-top:-7px;
}


/* line 4, ../../src/sass/messenger.sass */
ul.messenger {
    margin: 0;
    padding: 0;  
}
/* line 8, ../../src/sass/messenger.sass */
ul.messenger > li {
    list-style: none;
    margin: 0;
    padding: 0;

}
/* line 14, ../../src/sass/messenger.sass */
ul.messenger.messenger-empty {
    display: none;
}
/* line 17, ../../src/sass/messenger.sass */
ul.messenger .messenger-message {
    overflow: hidden;
    *zoom: 1;
}
/* line 20, ../../src/sass/messenger.sass */
ul.messenger .messenger-message.messenger-hidden {
    display: none;
}
/* line 23, ../../src/sass/messenger.sass */
ul.messenger .messenger-message .messenger-phrase, ul.messenger .messenger-message .messenger-actions a {
    padding-right: 5px;
}
/* line 26, ../../src/sass/messenger.sass */
ul.messenger .messenger-message .messenger-actions {
    float: right;
}
/* line 29, ../../src/sass/messenger.sass */
ul.messenger .messenger-message .messenger-actions a {
    cursor: pointer;
    text-decoration: underline;
}
/* line 33, ../../src/sass/messenger.sass */
ul.messenger .messenger-message ul, ul.messenger .messenger-message ol {
    margin: 10px 18px 0;
}
/* line 36, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed {
    position: fixed;
    z-index: 10000;
}
/* line 40, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed .messenger-message {
    min-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* line 45, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed .message .messenger-actions {
    float: left;
}
/* line 48, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed.messenger-on-top {
    top: 20px;
}
/* line 51, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed.messenger-on-bottom {
    bottom: 20px;
}
/* line 54, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed.messenger-on-top, ul.messenger.messenger-fixed.messenger-on-bottom {
    left: 50%;
    width: 800px;
    margin-left: -400px;
}
@media (max-width: 960px) {
    /* line 54, ../../src/sass/messenger.sass */
    ul.messenger.messenger-fixed.messenger-on-top, ul.messenger.messenger-fixed.messenger-on-bottom {
        left: 10%;
        width: 80%;
        margin-left: 0px;
    }
}
/* line 64, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed.messenger-on-top.messenger-on-right, ul.messenger.messenger-fixed.messenger-on-bottom.messenger-on-right {
    right: 20px;
    left: auto;
}
/* line 68, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed.messenger-on-top.messenger-on-left, ul.messenger.messenger-fixed.messenger-on-bottom.messenger-on-left {
    left: 20px;
    margin-left: 0px;
}
/* line 72, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed.messenger-on-right, ul.messenger.messenger-fixed.messenger-on-left {
    width: 350px;
}
/* line 75, ../../src/sass/messenger.sass */
ul.messenger.messenger-fixed.messenger-on-right .messenger-actions, ul.messenger.messenger-fixed.messenger-on-left .messenger-actions {
    float: left;
}
/* line 78, ../../src/sass/messenger.sass */
ul.messenger .messenger-spinner {
    display: none;
}
.messenger{
    position: absolute !important;
    z-index: 2147483647 !important;
    
}